<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.dao.SsPaymentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="DtoResultMap" type="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.entity.SsPayment">
        <id column="payment_id" property="paymentId" />
        <result column="payment_batch_num" property="paymentBatchNum" />
        <result column="total_application_amount" property="totalApplicationAmount" />
        <result column="payment_month" property="paymentMonth" />
        <result column="payment_state" property="paymentState" />
        <result column="create_payment_user" property="createPaymentUser" />
        <result column="create_payment_date" property="createPaymentDate" />
        <result column="finance_payment_date" property="financePaymentDate" />
        <result column="account_type" property="accountType" />
        <result column="total_emp_count" property="totalEmpCount" />
        <result column="total_account" property="totalAccount" />
        <result column="total_com" property="totalCom" />
        <result column="apply_remark" property="applyRemark" />
        <result column="rejection_remark" property="rejectionRemark" />
        <result column="rejection_his" property="rejectionHis" />
        <result column="request_user" property="requestUser" />
        <result column="request_date" property="requestDate" />
        <result column="is_active" property="isActive" />
        <result column="created_time" property="createdTime" />
        <result column="modified_time" property="modifiedTime" />
        <result column="created_by" property="createdBy" />
        <result column="modified_by" property="modifiedBy" />
    </resultMap>
    <resultMap id="PaymentComDtoResultMap" type="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.dto.PayapplyCompanyProxyDTO">

        <result column="company_id" property="companyId" />
        <result column="title" property="companyName" />
        <result column="bank_account_id" property="companyBankAccountId" />
        <result column="bank_account"  property="companyBankAccount" />
        <result column="refund_deducted"   property="noticebillAmount" />
        <result column="adjust_deducted"   property="deductionAmount" />
        <result column="payment_month"   property="payMonth" />
        <result column="total_pay_amount"   property="payAmount" />
        <result column="payment_way"   property="isAdvance" />
    </resultMap>
    <resultMap id="PaymentEmpDtoResultMap" type="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.dto.PayapplyEmployeeProxyDTO">
        <result column="employee_id" property="employeeId" />
        <result column="employee_name" property="employeeName" />
        <result column="company_id" property="companyId" />
        <result column="payment_month"  property="payMonth" />
        <result column="total_pay_amount"  property="payAmount" />
        <result column="emp_payment_status"   property="isAdvance" />
    </resultMap>
    <select id="paymentQuery" parameterType="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.bo.SsPaymentBO" resultMap="DtoResultMap">
        SELECT
            sp.*
        FROM
            ss_payment sp
        WHERE
            sp.is_active = '1'
            <if test = "accountType != null and accountType != ''">
            AND sp.account_type = #{accountType}
            </if>
            <if test = "paymentBatchNum != null and paymentBatchNum != ''">
                AND sp.payment_batch_num = #{paymentBatchNum}
            </if>
            <if test = "paymentMonthMin != null and paymentMonthMin != ''">
                <![CDATA[
                    AND sp.payment_month >= #{paymentMonthMin}
                  ]]>
            </if>
            <if test = "paymentMonthMax != null and paymentMonthMax != ''">
                <![CDATA[
                    AND sp.payment_month <= #{paymentMonthMax}
                  ]]>
            </if>
            <if test = "paymentState != null and paymentState != ''">
                AND sp.payment_state = #{paymentState}
            </if>
            <if test = "paymentStateList != null">
                AND sp.payment_state IN
                <foreach collection="paymentStateList" item="state" open="(" close=")" separator=",">
                    #{state}
                </foreach>
            </if>
            ORDER BY sp.created_time DESC
    </select>

    <select id="searchPaymentByAccountTypeAndState" parameterType="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.bo.SsPaymentSrarchBO" resultMap="DtoResultMap">
        SELECT
        SP.*
        FROM
        ss_payment SP
        WHERE
        SP.is_active = '1'
        <if test = "accountType != null and accountType != ''">
            AND SP.account_type = #{accountType}
        </if>
        AND SP.payment_state IN
        <foreach collection="paymentStateList" item="paymentState" open="(" close=")" separator=",">
            #{paymentState}
        </foreach>
    </select>

    <select id="getPaymentComList" resultMap="PaymentComDtoResultMap">
    SELECT pc.company_id,com.title,ca.bank_account_id,ca.bank_account,
    pc.refund_deducted,pc.adjust_deducted,pc.payment_month,pc.total_pay_amount,
    CASE ca.payment_way WHEN 3 THEN  1 ELSE  0 END  AS 'payment_way'
    FROM ss_payment_com pc
    INNER JOIN ss_com_account ca ON ca.com_account_id = pc.com_account_id
    INNER JOIN sal_company com ON com.company_id = pc.company_id
    WHERE pc.is_active=1
    AND pc.payment_month=#{paymentMonth}
    AND pc.payment_id=#{paymentId}

    </select>
    <select id="getPaymentEmpList" resultMap="PaymentEmpDtoResultMap">
    SELECT emp.employee_id,emp.employee_name,pc.company_id,pc.payment_month,
    pc.total_pay_amount,ifnull(mc.emp_payment_status,1) emp_payment_status
    FROM ss_month_charge mc
    INNER JOIN emp_employee emp ON emp.employee_id=mc.employee_id
    INNER JOIN ss_payment_com pc ON pc.com_account_id=mc.com_account_id
    WHERE pc.is_active=1
    AND mc.ss_month=#{paymentMonth}
    AND pc.payment_id=#{paymentId}

    </select>
</mapper>
