html,
body,
.ivu-row-flex,
.layout {
  height: 100%;
  min-height: 100%;
}

.layout {
  overflow: auto;
}

.none {
  display: none;
}

.user:hover {
  background: rgba(0, 0, 0, 0.1)
}

.Badge li {
  display: inline-block;
  /* height: 50px;
    max-height: 100px; */
  cursor: pointer;
}

.Badge .ivu-badge-count {
  top: -10px;
  right: -5px;
  border-radius: 4px;
  padding: 0 2px;
  box-shadow: none;
  height: 15px;
  min-width: 15px;
  line-height: 15px;
}

.Badge .green .ivu-badge-count {
  background: #00a65a;
}

.Badge .yellow .ivu-badge-count {
  background: #f39c12;
}

.green {
  color: #00a65a;
}

.removeArror .ivu-icon-ios-arrow-down:before {
  content: ""
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-opened .ivu-menu-submenu-title {
  background: #1a2226;
}

.ivu-menu {
  background: #2c3b41;
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active,
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active:hover {
  background: #3c8dbc!important;
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item:hover,
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title:hover {
  background: #1a2226;
}

.user-panel {
  color: #fff;
}

.pull-left {
  float: left!important;
}

.pull-right {
  float: right!important;
}

.user-panel {
  padding: 14px 24px;
}

.topFlex .user-panel {
  padding: 2px 24px;
}

.user-panel .image img {
  width: 100%;
  max-width: 45px;
  height: auto;
  border-radius: 50%;
}

.user-panel .info {
  padding: 5px 5px 5px 35px;
  line-height: 1;
  position: absolute;
  left: 55px;
}

.user-panel .info p {
  line-height: 25px;
}

.user-panel .info a {
  color: #fff;
}

.user-panel>.info>a>.fa,
.user-panel>.info>a>.ion,
.user-panel>.info>a>.glyphicon {
  margin-right: 3px;
}

.clear {
  clear: both;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.ivu-page {
  width: 100%;
  text-align: center;
  margin: 20px auto;
}

.topFlex {
  height: 50px;
}

.layout-copy {
  /*position: fixed;*/
  width: 100%;
  text-align: center;
  bottom: 0;
  margin-top: -10px;
}

.layout-copy span {
  /*margin-left: -300px;*/
  display: block;
}

.ivu-menu-item a {
  display: block;
  color: rgba(255, 255, 255, .7);
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active,
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active:hover {
  color: #fff;
}

.ivu-collapse-content {
  overflow: inherit;
}

.layout-content {
  height: 92%;
  overflow: auto!important;
}

.ivu-form-item {
  margin-bottom: 25px;
}

.salaryTabs .ivu-tabs-content {
  overflow: auto;
  position: relative;
}

.dlList .ivu-icon-minus-round:before {
  color: #b97254;
}

.dlList .ivu-icon-plus-round {
  color: #93bd59;
}

.dlList .add .ivu-icon-plus-round {
  color: #495060;
}

.modalCol .ivu-col-span-12 {
  width: 90%;
}

.create {
  margin: 10px auto;
  /*border-bottom: 1px solid #eaeaea;*/
}

.create a {
  display: inline-block;
}

.create .ivu-btn {
  display: block;
}

.floatRight {
  float: right;
}

.ivu-menu-vertical .ivu-menu-item,
.ivu-menu-vertical .ivu-menu-submenu-title {
  padding: 0;
  padding-left: 24px;
}

.ivu-menu-vertical .ivu-menu-item,
.ivu-menu-vertical .ivu-menu-submenu-title span {
  display: inline-block;
  width: 60%;
  padding: 14px 0;
}

.ivu-menu-vertical .ivu-menu-submenu-title-icon {
  right: 24px;
}

.ivu-menu-opened .ivu-menu-submenu-title-icon {
  position: absolute;
  top: 18px;
  right: 24px;
}

.ivu-menu-vertical .ivu-menu-submenu-title-icon {
  top: 18px;
}

.ivu-menu .ivu-menu-item-selected {
  width: 100%;
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active,
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active:hover {
  background: none!important;
}

.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item {
  padding-left: 0;
  width: 100%;
}

.ivu-menu-vertical .ivu-menu-item {
  padding: 0;
}

.ivu-menu-submenu {
  border-bottom: 1px solid #1a2226;
}

.ivu-menu-item a {
  padding: 14px 0 14px 43px;
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active .ivu-menu-submenu-title {
  color: rgba(255, 255, 255, .7);
}

.is-active {
  background: #3c8dbc;
}

.ivu-menu-item .is-active {
  color: #fff;
}

.layout-breadcrumb .is-active {
  background: none;
}

.dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 8px;
  border-radius: 50%;
  position: relative;
  background: #2d8cf0;
}

.blue {
  background: #2d8cf0;
}

.red {
  background: #f00;
}

.green {
  /* background: #19be6b; */
}


/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/

::-webkit-scrollbar {
  z-index: 77777;
  width: 10px;
  height: 10px;
  background-color: #F5F5F5;
}


/*定义滚动条轨道 内阴影+圆角*/

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}


/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}


/*switch  */

.ivu-switch-large {
  /* float: right; */
  width: 70px;
  height: 30px;
  line-height: 30px;
  margin-top: 2px;
  margin-left: 20px;
}


/*fade animate  */

.fade-enter-active,
.fade-leave-active {
  transition: opacity .3s
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active in below version 2.1.8 */

{
  opacity: 0
}

.ivu-switch:after {
  content: '';
  width: 30px;
  height: 25px;
  border-radius: 20px;
  background-color: #fff;
  position: absolute;
  left: 1px;
  top: 1px;
  cursor: pointer;
  transition: left .2s ease-in-out, width .2s ease-in-out;
}

.ivu-switch-inner {
  left: 35px;
}

.ivu-tooltip-popper {
  left: 50px;
}

.salaryTabs .ivu-tooltip-rel,
.salaryTabs .ivu-tooltip {
  width: 100%;
}

.empTable .ivu-checkbox-wrapper {
  margin: 0px !important;
}

.ivu-table-header .ivu-table-cell {
  cursor: pointer;
}

.diyTabs.ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab {
  /* height: 50px; */
}

.diyTabs.ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-nav-container {
  /* height: 50px !important; */
}

.inquireBtn {
  float: right;
}

.ivu-tooltip-inner {
  white-space: normal;
  min-width: 200px;
}

.ivu-icon {
  vertical-align: middle;
}

.floatRightBtns {
  text-align: right;
}

.ivu-collapse>.ivu-collapse-item>.ivu-collapse-header {
  padding-left: 16px;
}


/*去除poptip的默认宽度  */

.ivu-poptip-popper {
  min-width: auto;
}

.userCenter .ivu-poptip-popper {
  width: 180px;
}

.ivu-select-dropdown {
  right: 2px;
  padding: 0!important;
  z-index: 77777;
}

.ivu-dropdown-item-divided {
  margin-top: 0;
}
.ivu-dropdown-item-divided:before{
  height: auto;
}

.ivu-date-picker-cells{
   width: auto;
}
.ivu-input[disabled]::-webkit-input-placeholder, fieldset[disabled]::-webkit-input-placeholder{
  color: #495060;
}
.editable-div:empty:before{
  color:#495060!important
}

.ivu-table .demo-table-highlight-row td{
  background: #eee;
}
.smDetail .ivu-row{ line-height: 30px;}
/*.fix-style .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.fix-style .btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.fix-style .btn.focus, .btn:focus, .btn:hover {
    color: #333;
    text-decoration: none;
}
.fix-style .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.fix-style .panel-default {
    border-color: #ddd;
}*/
.fix-style .panel {
    margin-bottom: 0px;
}

.smEdit .ivu-date-picker .ivu-select-dropdown {
    width: 220px;
}


/*.fix-style .vue-query-builder-styled .close {
    opacity: 1;
    color: #969696;
}

.fix-style .close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.fix-style button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}*/

.pchildtask-table .ivu-table-header{
  display: none;
}
