<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.housefund.fundservice.dao.HfDataauthTaskCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.housefund.fundservice.entity.HfDataauthTaskCategory">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="task_category" property="taskCategory" />
        <result column="created_time" property="createdTime" />
        <result column="modified_time" property="modifiedTime" />
        <result column="created_by" property="createdBy" />
        <result column="modified_by" property="modifiedBy" />
    </resultMap>

    <resultMap id="ModelResultMap"
               type="com.ciicsh.gto.afsupportcenter.housefund.fundservice.entity.HfDataauthTaskCategory"
               extends="BaseResultMap">
    </resultMap>
    <!--查询限权客户by用户ID和组织ID-->
    <select id="queryListByUid" resultMap="ModelResultMap"
            parameterType="com.ciicsh.gto.afsupportcenter.housefund.fundservice.entity.HfDataauthTaskCategory">
        SELECT
        s.id,
        s.user_id,
        s.task_category,
        s.created_time,
        s.modified_time,
        s.created_by,
        s.modified_by
        FROM
        hf_dataauth_task_category s
        <where>
            <if test="userId != null">
                AND s.user_id = #{userId}
            </if>
        </where>
    </select>


    <insert id="insertHfDataauthTaskCategory" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.ciicsh.gto.afsupportcenter.housefund.fundservice.entity.HfDataauthTaskCategory">
        INSERT
        INTO
        hf_dataauth_task_category
       (
       user_id,
       task_category,
       created_time,
       modified_time,
       created_by,
       modified_by
       ) VALUES
        (
        #{userId},
        #{taskCategory},
        #{createdTime},
        #{modifiedTime},
        #{createdBy},
        #{modifiedBy}
        )
    </insert>

    <delete id="delByUid">
        DELETE FROM hf_dataauth_task_category WHERE user_id = #{userId}
    </delete>
</mapper>
