<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.housefund.fundservice.dao.HfMonthChargeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.housefund.fundservice.entity.HfMonthCharge">
        <id column="month_charge_id" property="monthChargeId" />
        <result column="emp_archive_id" property="empArchiveId" />
        <result column="emp_task_id" property="empTaskId" />
        <result column="company_id" property="companyId" />
        <result column="employee_id" property="employeeId" />
        <result column="hf_type" property="hfType" />
        <result column="hf_month" property="hfMonth" />
        <result column="ss_month_belong" property="ssMonthBelong" />
        <result column="payment_type" property="paymentType" />
        <result column="repair_reason" property="repairReason" />
        <result column="base" property="base" />
        <result column="ratio" property="ratio" />
        <result column="ratio_emp" property="ratioEmp" />
        <result column="ratio_com" property="ratioCom" />
        <result column="amount" property="amount" />
        <result column="emp_amount" property="empAmount" />
        <result column="com_amount" property="comAmount" />
        <result column="emp_payment_status" property="empPaymentStatus" />
        <result column="is_active" property="isActive" />
        <result column="created_time" property="createdTime" />
        <result column="modified_time" property="modifiedTime" />
        <result column="created_by" property="createdBy" />
        <result column="modified_by" property="modifiedBy" />
    </resultMap>


    <resultMap id="ResultMapDiffBo" type="com.ciicsh.gto.afsupportcenter.housefund.fundservice.bo.HfMonthChargeDiffBo">
        <result column="ss_month_belong" property="ssMonthBelong" />
        <result column="amount" property="amount" />
        <result column="emp_amount" property="empAmount" />
        <result column="com_amount" property="comAmount" />
    </resultMap>

    <resultMap id="ResultMapReportBO" type="com.ciicsh.gto.afsupportcenter.housefund.fundservice.bo.HFMonthChargeReportBO">
        <result column="hf_type" property="hfType" />
        <result column="employee_id" property="employeeId" />
        <result column="employee_name" property="employeeName" />
        <result column="hf_emp_account" property="hfEmpAccount" />
        <result column="basic_hf_emp_account" property="basicHfEmpAccount" />
        <result column="id_num" property="idNum" />
        <result column="hf_month" property="hfMonth" />
        <result column="ss_month_belong" property="ssMonthBelong" />
        <result column="payment_type" property="paymentType" />
        <result column="repair_reason" property="repairReason" />
        <result column="base" property="base" />
        <result column="ratio" property="ratio" />
        <result column="amount" property="amount" />
        <result column="company_id" property="companyId" />
        <result column="company_name" property="companyName" />
        <result column="hf_com_account" property="hfComAccount" />
    </resultMap>

    <resultMap id="NetBankExportBO" type="com.ciicsh.gto.afsupportcenter.housefund.fundservice.bo.payment.HFNetBankExportBO">
        <result column="start_month" property="startMonth" />
        <result column="employee_id" property="employeeId" />
        <result column="employee_name" property="employeeName" />
        <result column="hf_emp_account" property="hfEmpAccount" />
        <result column="birthday" property="birthday" />
        <result column="id_num" property="idNum" />
        <result column="gender" property="gender" />
        <result column="base" property="base" />
        <result column="ratio" property="ratio" />
        <result column="amount" property="amount" />
        <result column="com_amount" property="comAmount" />
        <result column="emp_amount" property="empAmount" />
        <result column="ratio_com" property="ratioCom" />
        <result column="ratio_emp" property="ratioEmp" />
    </resultMap>

    <resultMap id="GetOperateDetailReportResultMap" type="com.ciicsh.gto.afsupportcenter.housefund.fundservice.bo.HfPaymentAccountReportBo">
        <result column="payment_account_id" property="paymentAccountId" />
        <result column="com_account_name" property="comAccountName" />
        <result column="hf_type_name" property="hfTypeName" />
        <result column="payment_state_value" property="paymentStateValue" />
        <result column="account_type_value" property="accountTypeValue" />
        <result column="payment_bank_value" property="paymentBankValue" />
        <result column="sum_amount" property="sumAmount" />
        <result column="pay_in_back_amount" property="payInBackAmount" />
        <result column="fCount" property="fCount" />
        <result column="payment_state" property="paymentState" />
        <result column="hf_account_type" property="fundAccountType" />
        <result column="remitted_amount" property="remittedAmount" />
        <result column="repair_amount" property="repairAmount" />
        <result column="remitted_count_emp" property="remittedCountEmp" />
        <result column="title" property="title" />
        <result column="com_account_id" property="comAccountId" />
    </resultMap>

    <resultMap id="MonthChargeByInOutResultMap" type="com.ciicsh.gto.afsupportcenter.housefund.fundservice.bo.HfMonthChargeBo">
        <result column="hf_month" property="hfMonth" />
        <result column="hf_stop_month" property="hfStopMonth" />
        <result column="ss_month_belong_start" property="ssMonthBelongStart" />
        <result column="ss_month_belong_end" property="ssMonthBelongEnd" />
    </resultMap>

    <resultMap id="LastPaymentMonthResultMap" type="com.ciicsh.gto.afsupportcenter.housefund.fundservice.bo.HfEmpLastPaymentBO">
        <result column="company_id" property="companyId" />
        <result column="employee_id" property="employeeId" />
        <result column="hf_type" property="hfType" />
        <result column="amount" property="amount" />
        <result column="com_amount" property="comAmount" />
        <result column="emp_amount" property="empAmount" />
        <result column="base" property="base" />
        <result column="ratio" property="ratio" />
        <result column="ratio_com" property="ratioCom" />
        <result column="ratio_emp" property="ratioEmp" />
    </resultMap>

	<update id="updateHfMonthCharge">
        UPDATE hf_month_charge
        SET
        <if test="inactive != null and inactive == true">
            is_active = 0,
        </if>
        <if test="chgPaymentType != null">
            payment_type = #{chgPaymentType},
        </if>
        modified_time = NOW(),
        modified_by = #{modifiedBy}
        <where>
            is_active = 1
            <if test="empArchiveId != null">
                AND emp_archive_id = #{empArchiveId}
            </if>
            <if test="companyId != null">
                AND company_id = #{companyId}
            </if>
            <if test="employeeId != null">
                AND employee_id = #{employeeId}
            </if>
            <if test="empTaskIdList != null">
                <foreach collection="empTaskIdList" item="item" open="AND emp_task_id IN (" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="exceptEmpTaskId != null">
                AND emp_task_id != #{exceptEmpTaskId}
            </if>
            <if test="hfType != null">
                AND hf_type = #{hfType}
            </if>
            <if test="hfMonth != null">
                AND hf_month = #{hfMonth}
            </if>
            <if test="ssMonthBelongStart != null">
                AND ss_month_belong >= #{ssMonthBelongStart}
            </if>
            <if test="ssMonthBelongEnd != null">
                AND #{ssMonthBelongEnd} >= ss_month_belong
            </if>
            <if test="paymentTypes != null">
                AND payment_type in (${paymentTypes})
            </if>
        </where>
    </update>

    <update id="deleteHfMonthCharges" parameterType="java.util.List">
        UPDATE hf_month_charge
        SET is_active = 0
        <where>
            <foreach collection="list" item="item" open="emp_task_id IN (" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </update>

    <select id="getHfMonthChargeDiffSum" resultMap="ResultMapDiffBo">
        SELECT
            ss_month_belong,
            IFNULL(SUM(amount),0) AS amount,
            IFNULL(SUM(emp_amount),0) AS emp_amount,
            IFNULL(SUM(com_amount),0) AS com_amount
        FROM hf_month_charge
        <where>
            is_active = 1
            AND payment_type = 11
            <if test="companyId != null">
                AND company_id = #{companyId}
            </if>
            <if test="employeeId != null">
                AND employee_id = #{employeeId}
            </if>
            <if test="empArchiveId != null">
                AND emp_archive_id = #{empArchiveId}
            </if>
            <if test="hfType != null">
                AND hf_type = #{hfType}
            </if>
            <if test="hfMonth != null">
                AND #{hfMonth} > hf_month
            </if>
            <if test="ssMonthBelongStart != null">
                AND ss_month_belong >= #{ssMonthBelongStart}
            </if>
            <if test="ssMonthBelongEnd != null">
                AND #{ssMonthBelongEnd} >= ss_month_belong
            </if>
        </where>
        GROUP BY ss_month_belong
    </select>

    <select id="queryHfMonthChargeReport" resultMap="ResultMapReportBO">
        SELECT
        hmc.hf_type,
        hmc.employee_id,
        ee.employee_name,
        CASE WHEN hmc.hf_type = 1 THEN heab.hf_emp_account ELSE heaa.hf_emp_account END hf_emp_account,
        heaab.hf_emp_account AS basic_hf_emp_account,
        ee.id_num,
        hmc.hf_month,
        hmc.ss_month_belong,
        hmc.payment_type,
        hmc.repair_reason,
        hmc.base,
        hmc.ratio,
        hmc.amount,
        hmc.company_id,
        sc.title AS company_name,
        CASE WHEN hmc.hf_type = 1 THEN hcacb.hf_com_account ELSE hcaca.hf_com_account END hf_com_account
        FROM hf_month_charge hmc
        INNER JOIN sal_company sc ON hmc.company_id = sc.company_id AND sc.is_active = 1
        <!--<if test="userId != null">-->
            <!--INNER JOIN hf_dataauth_company hdc ON sc.company_id = hdc.company_id AND hdc.user_id = #{userId}-->
        <!--</if>-->
        INNER JOIN emp_employee ee ON hmc.employee_id = ee.employee_id
        LEFT JOIN hf_emp_archive heab ON hmc.emp_archive_id = heab.emp_archive_id AND heab.hf_type = 1 AND heab.is_active = 1
        LEFT JOIN hf_com_account hcab ON heab.com_account_id = hcab.com_account_id AND hcab.is_active = 1
        LEFT JOIN hf_com_account_class hcacb ON heab.com_account_id = hcacb.com_account_id AND hcacb.hf_type = 1 AND hcab.is_active = 1
        LEFT JOIN hf_emp_archive heaa ON hmc.emp_archive_id = heaa.emp_archive_id AND heaa.hf_type = 2 AND heaa.is_active = 1
        LEFT JOIN hf_emp_archive heaab ON heaab.emp_archive_id = heaa.belong_emp_archive_id AND heaab.hf_type = 1 AND heaab.is_active = 1
        LEFT JOIN hf_com_account hcaa ON heaa.com_account_id = hcaa.com_account_id AND hcaa.is_active = 1
        LEFT JOIN hf_com_account_class hcaca ON heaa.com_account_id = hcaca.com_account_id AND hcaca.hf_type = 2 AND hcaa.is_active = 1
        <where>
            hmc.is_active = 1
            <if test="employeeId != null">
                AND hmc.employee_id = #{employeeId}
            </if>
            <if test="employeeName != null">
                AND ee.employee_name LIKE CONCAT('%', #{employeeName}, '%')
            </if>
            <if test="companyId != null">
                AND hmc.company_id = #{companyId}
            </if>
            <if test="companyName != null">
                AND sc.title LIKE CONCAT('%', #{companyName}, '%')
            </if>
            <if test="hfMonth != null">
                AND hmc.hf_month = #{hfMonth}
            </if>
            <if test="basicHfEmpAccount != null">
                AND heab.hf_emp_account = #{basicHfEmpAccount}
            </if>
            <if test="hfAccountType != null">
                AND (hcab.hf_account_type = #{hfAccountType}
                OR hcaa.hf_account_type = #{hfAccountType})
            </if>
            <!--<if test="hfAccountType == null">-->
                <!--AND (hcab.hf_account_type IN (1, 2, 3)-->
                <!--OR hcaa.hf_account_type IN (1, 2, 3))-->
            <!--</if>-->
            <if test="basicHfComAccount != null">
                AND hcacb.hf_com_account = #{basicHfComAccount}
            </if>
            <if test="addedHfEmpAccount != null">
                AND heaa.hf_emp_account = #{addedHfEmpAccount}
            </if>
            <if test="addedHfComAccount != null">
                AND hcaca.hf_com_account = #{addedHfComAccount}
            </if>
            <if test="hfType != null">
                AND hmc.hf_type = #{hfType}
            </if>
            <if test="paymentTypes != null">
                AND hmc.payment_type IN (${paymentTypes})
            </if>
            <if test="exceptRepairReason != null">
                AND hmc.repair_reason != #{exceptRepairReason}
            </if>
            <if test="basicComAccountArray != null">
                <foreach collection="basicComAccountArray" item="item" open="AND hcacb.hf_com_account IN (" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="addedComAccountArray != null">
                <foreach collection="addedComAccountArray" item="item" open="AND hcaca.hf_com_account IN (" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="queryNetBankData" resultMap="NetBankExportBO">
        SELECT
            hmc.ss_month_belong AS start_month,
            hmc.company_id,
            hmc.employee_id,
            ee.employee_name,
            ee.birthday,
            ee.id_num,
            ee.gender,
            hea.hf_emp_account,
            hmc.hf_type,
            hmc.amount,
            hmc.base,
            hmc.com_amount,
            hmc.emp_amount,
            hmc.ratio,
            hmc.ratio_com,
            hmc.ratio_emp
        FROM hf_month_charge hmc
        INNER JOIN hf_emp_archive hea ON hmc.emp_archive_id = hea.emp_archive_id AND hea.is_active = 1
        INNER JOIN emp_employee ee ON hea.employee_id = ee.employee_id
        WHERE hmc.is_active = 1
        <if test="comAccountClassId != null">
          AND hea.com_account_class_id = #{comAccountClassId}
        </if>
        <if test="hfMonth != null">
          AND hmc.hf_month = #{hfMonth}
        </if>
        <if test="hfType != null">
          AND hea.hf_type = #{hfType}
        </if>
        <if test="paymentTypes != null">
          AND hmc.payment_type IN (${paymentTypes})
        </if>
        <if test="exceptRepairReason != null">
            AND hmc.repair_reason != #{exceptRepairReason}
        </if>
    </select>

    <!--导出公积金汇缴支付编辑操作数据-->
    <select id="getOperateDetailReport" resultMap="GetOperateDetailReportResultMap">
        SELECT
        COUNT(hpa.hf_type) fCount,
        SUM(hpc.remitted_amount) AS remitted_amount,
        SUM(hpc.repair_amount) AS repair_amount,
        SUM(hpc.remitted_count_emp) AS remitted_count_emp,
        hpa.payment_month,
        hpc.company_id,
        hpa.hf_type,
        ht.hf_type_name,
        hcapb.payment_bank_value,
        sc.title,
        hpa.com_account_id
        FROM
        hf_payment_account hpa
        INNER JOIN hf_payment_com hpc
        ON hpa.payment_id = hpc.payment_id
        INNER JOIN hf_com_account hca
        ON hca.com_account_id = hpc.com_account_id
        INNER JOIN hf_type ht
        ON ht.hf_type_code = hpa.hf_type
        INNER JOIN hf_com_account_payment_bank hcapb
        ON hcapb.payment_bank_code = hpc.payment_bank
        INNER JOIN sal_company sc
        ON hpc.company_id = sc.company_id
        WHERE hpa.is_active = 1
        AND hpc.is_active = 1
        <if test = "paymentId != null and paymentId != ''" >
            AND hpa.payment_id = #{paymentId}
        </if>
        AND hpa.hf_type = hpc.hf_type
        AND hpa.com_account_id = hpc.com_account_id
        GROUP BY hpa.com_account_id,
        hpa.hf_type
    </select>

    <select id="getMonthChargeByIn" resultMap="MonthChargeByInOutResultMap">
        SELECT
        MIN(hmc.ss_month_belong) AS ss_month_belong_start, MIN(hmc.hf_month) AS hf_month
        FROM hf_month_charge hmc
        <where>
            hmc.is_active = 1
            AND hmc.payment_type IN (2, 3, 4, 5, 6)
            <if test="hfType != null">
                AND hmc.hf_type = #{hfType}
            </if>
            <if test="companyId != null">
                AND hmc.company_id = #{companyId}
            </if>
            <if test="employeeId != null">
                AND hmc.employee_id = #{employeeId}
            </if>
        </where>
    </select>

    <select id="getMonthChargeByOut" resultMap="MonthChargeByInOutResultMap">
        SELECT
            hmc.ss_month_belong AS ss_month_belong_end,
            hmc.hf_month AS hf_stop_month
        FROM hf_month_charge hmc
        <where>
            hmc.is_active = 1
            AND hmc.payment_type IN (7, 8)
            <if test="hfType != null">
                AND hmc.hf_type = #{hfType}
            </if>
            <if test="companyId != null">
                AND hmc.company_id = #{companyId}
            </if>
            <if test="employeeId != null">
                AND hmc.employee_id = #{employeeId}
            </if>
        </where>
        ORDER BY hmc.created_time DESC LIMIT 1
    </select>

    <select id="getMonthChargeByInOut" resultMap="MonthChargeByInOutResultMap">
        SELECT
            hmc.ss_month_belong AS ss_month_belong_start,
            hmc.hf_month,
            hmco.ss_month_belong AS ss_month_belong_end,
            hmco.hf_month AS hf_stop_month
        FROM hf_month_charge hmc INNER JOIN hf_month_charge hmco ON hmc.company_id = hmco.company_id
        AND hmc.employee_id = hmco.employee_id
        AND hmc.hf_type = hmco.hf_type
        AND hmc.ss_month_belong = PERIOD_ADD(hmco.ss_month_belong, 1)
        AND hmco.payment_type IN (7, 8)
        <where>
            hmc.is_active = 0
            AND hmco.is_active = 0
            AND hmc.payment_type IN (2, 3, 4)
            <if test="hfType != null">
                AND hmc.hf_type = #{hfType}
            </if>
            <if test="companyId != null">
                AND hmc.company_id = #{companyId}
            </if>
            <if test="employeeId != null">
                AND hmc.employee_id = #{employeeId}
            </if>
        </where>
    </select>
    <resultMap id="RimittedBookReportRM" type="com.ciicsh.gto.afsupportcenter.housefund.fundservice.bo.HfRimittedBookReportBO">
        <result column="hf_type" property="hfType"/>
        <result column="hf_account_type" property="hfAccountType"/>
        <result column="company_id" property="companyId"/>
        <result column="com_account_name" property="comAccountName"/>
        <result column="hf_com_account" property="hfComAccount"/>
        <result column="payment_month" property="paymentMonth"/>
        <result column="payment_bank" property="paymentBank"/>
        <result column="remitted_amount_add" property="remittedAmountAdd"/>
        <result column="remitted_amount_reduce" property="remittedAmountReduce"/>
        <result column="remitted_amount" property="remittedAmount"/>
        <result column="remitted_count_emp_add" property="remittedCountEmpAdd"/>
        <result column="remitted_count_emp_reduce" property="remittedCountEmpReduce"/>
        <result column="remitted_count_emp" property="remittedCountEmp"/>
        <result column="remitted_amount_last" property="remittedAmountLast"/>
        <result column="remitted_count_emp_last" property="remittedCountEmpLast"/>
        <result column="repair_amount" property="repairAmount"/>
        <result column="repair_count_emp" property="repairCountEmp"/>

    </resultMap>
    <select id="queryHfRimittedBookReport" resultMap="RimittedBookReportRM">
    SELECT pa.com_account_id,pa.com_account_class_id,pa.hf_type,ca.com_account_name,ca.payment_bank,
            ca.hf_account_type,pa.hf_com_account,pa.payment_month,lastMonth.remitted_amount_last,lastMonth.remitted_count_emp_last,
        (select acr.company_id from hf_account_com_relation acr where acr.com_account_id=pa.com_account_id and acr.major_com=1 ORDER BY CREATEd_time desc LIMIT 1)company_id,
		(SELECT SUM(ifnull(amount, 0)) FROM hf_month_charge mc
        INNER JOIN hf_emp_archive ea ON ea.emp_archive_id = mc.emp_archive_id
        WHERE mc.is_active = 1
        AND ea.is_active = 1
        AND mc.hf_month = pa.payment_month
        AND mc.hf_type = pa.hf_type
        AND ea.com_account_class_id = pa.com_account_class_id
        AND mc.payment_type = 1
        ) AS amount_standard,
        (SELECT SUM(ifnull(amount, 0)) FROM hf_month_charge mc
            INNER JOIN hf_emp_archive ea ON ea.emp_archive_id = mc.emp_archive_id
            WHERE mc.is_active = 1
            AND ea.is_active = 1
            AND mc.hf_month = pa.payment_month
            AND mc.hf_type = pa.hf_type
            AND ea.com_account_class_id = pa.com_account_class_id
            AND mc.payment_type IN (2, 3, 4, 5)
        ) AS remitted_amount_add,
        (SELECT SUM(ifnull(amount, 0)) FROM hf_month_charge mc
            INNER JOIN hf_emp_archive ea ON ea.emp_archive_id = mc.emp_archive_id
            WHERE mc.is_active = 1
            AND ea.is_active = 1
            AND mc.hf_month = pa.payment_month
            AND mc.hf_type = pa.hf_type
            AND ea.com_account_class_id = pa.com_account_class_id
            AND mc.payment_type IN (7, 8, 9, 10)
        ) AS remitted_amount_reduce,
        (SELECT SUM(ifnull(amount, 0))
            FROM  hf_month_charge mc
            INNER JOIN hf_emp_archive ea ON ea.emp_archive_id = mc.emp_archive_id
            WHERE mc.is_active = 1
            AND ea.is_active = 1
            AND mc.hf_month = pa.payment_month
            AND mc.hf_type = pa.hf_type
            AND ea.com_account_class_id = pa.com_account_class_id
            AND mc.payment_type IN (6, 11)
        ) AS repair_amount,
        (SELECT
            count(DISTINCT mc.employee_id)
            FROM hf_month_charge mc
            INNER JOIN hf_emp_archive ea ON ea.emp_archive_id = mc.emp_archive_id
            WHERE mc.is_active = 1
            AND ea.is_active = 1
            AND mc.hf_month = pa.payment_month
            AND mc.hf_type = pa.hf_type
            AND ea.com_account_class_id = pa.com_account_class_id
            AND mc.payment_type IN (6, 11)
        ) AS repair_count_emp,
        (SELECT
            count(DISTINCT mc.employee_id)
            FROM hf_month_charge mc
            INNER JOIN hf_emp_archive ea ON ea.emp_archive_id = mc.emp_archive_id
            WHERE mc.is_active = 1
            AND ea.is_active = 1
            AND mc.hf_month = pa.payment_month
            AND mc.hf_type = pa.hf_type
            AND ea.com_account_class_id = pa.com_account_class_id
            AND mc.payment_type = 1
        ) AS remitted_emp_count_standard,
        (SELECT
            count(DISTINCT mc.employee_id)
            FROM hf_month_charge mc
            INNER JOIN hf_emp_archive ea ON ea.emp_archive_id = mc.emp_archive_id
            WHERE mc.is_active = 1
            AND ea.is_active = 1
            AND mc.hf_month = pa.payment_month
            AND mc.hf_type = pa.hf_type
            AND ea.com_account_class_id = pa.com_account_class_id
            AND mc.payment_type IN ( 2, 3, 4, 5)
        ) AS remitted_count_emp_add,
        (SELECT
            count(DISTINCT mc.employee_id)
            FROM hf_month_charge mc
            INNER JOIN hf_emp_archive ea ON ea.emp_archive_id = mc.emp_archive_id
            WHERE mc.is_active = 1
            AND ea.is_active = 1
            AND mc.hf_month = pa.payment_month
            AND mc.hf_type = pa.hf_type
            AND ea.com_account_class_id = pa.com_account_class_id
            AND mc.payment_type IN (7, 8, 9, 10)
        ) AS remitted_count_emp_reduce,
        (SELECT remitted_emp_count_standard + remitted_count_emp_add ) AS remitted_count_emp,
        (SELECT ifnull(amount_standard,0) + ifnull(remitted_amount_add,0) ) AS remitted_amount
        FROM
        (SELECT #{hfMonth} AS payment_month,cac.* from hf_com_account_class cac WHERE cac.is_active = 1) pa
        LEFT JOIN hf_com_account ca ON ca.com_account_id = pa.com_account_id
        LEFT JOIN (
            SELECT
                pc.com_account_id,
                pc.hf_type,
                sum(remitted_amount) remitted_amount_last,
                sum(remitted_count_emp) remitted_count_emp_last
            FROM
                hf_payment_com pc
            INNER JOIN hf_payment p ON p.payment_id = pc.payment_id
            WHERE
                pc.is_active = 1
            AND p.payment_month = period_add( #{hfMonth} ,- 1)
            GROUP BY
                pc.com_account_id,
                pc.hf_type
        ) lastMonth ON lastMonth.com_account_id = pa.com_account_id
        AND lastMonth.hf_type = pa.hf_type

        <where>
            pa.is_active = 1
            <if test="comAccountClassId != null">
                AND pa.com_account_class_id = #{comAccountClassId}
            </if>
            <if test="companyId != null">
                AND EXISTS (SELECT 1 FROM hf_account_com_relation WHERE com_account_id=pa.com_account_id AND company_id=#{companyId})
            </if>
            <if test="companyName != null">
                AND EXISTS (SELECT 1 FROM hf_account_com_relation acr INNER JOIN sal_company sc ON sc.company_id=acr.company_id
                WHERE com_account_id=pa.com_account_id AND sc.title LIKE CONCAT('%', #{companyName}, '%'))
            </if>

            <if test="basicHfEmpAccount != null">
                AND heab.hf_emp_account = #{basicHfEmpAccount}
            </if>
            <if test="hfAccountType != null">
                AND ca.hf_account_type = #{hfAccountType}
            </if>
            <if test="basicHfComAccount != null">
                AND pa.hf_type = 1
                AND pa.hf_com_account = #{basicHfComAccount}
            </if>
            <if test="addedHfEmpAccount != null">
                AND pa.hf_type = 2
                AND pa.hf_emp_account = #{addedHfEmpAccount}
            </if>


        </where>

    </select>


    <select id="searchByLastPaymentMonth" resultMap="LastPaymentMonthResultMap">
        SELECT
        hmc.company_id,
        hmc.employee_id,
        hmc.hf_type,
        SUM(hmc.amount) amount,
        SUM(hmc.com_amount) com_amount,
        SUM(hmc.emp_amount) emp_amount,
        CASE WHEN hmc.hf_type = 1 THEN tmp.base ELSE tmp2.base END base,
        CASE WHEN hmc.hf_type = 1 THEN tmp.ratio ELSE tmp2.ratio END ratio,
        CASE WHEN hmc.hf_type = 1 THEN tmp.ratio_com ELSE tmp2.ratio_com END ratio_com,
        CASE WHEN hmc.hf_type = 1 THEN tmp.ratio_emp ELSE tmp2.ratio_emp END ratio_emp
        FROM hf_month_charge hmc
        LEFT JOIN (
            SELECT
          hmc.emp_archive_id,
          hmc.hf_type,
          hmc.base,
          hmc.ratio*100 ratio,
          hmc.ratio_com*100 ratio_com,
          hmc.ratio_emp*100 ratio_emp
          FROM hf_month_charge hmc
          WHERE hmc.is_active = 1
            AND hmc.company_id = #{companyId}
            AND hmc.employee_id = #{employeeId}
            AND hmc.hf_month = #{hfMonth}
          AND hmc.hf_type = 1
          ORDER BY hmc.ss_month_belong DESC LIMIT 1
        ) tmp ON hmc.emp_archive_id = tmp.emp_archive_id AND hmc.hf_type = tmp.hf_type
        LEFT JOIN (
            SELECT
          hmc.emp_archive_id,
          hmc.hf_type,
          hmc.hf_month,
          hmc.base,
          hmc.ratio*100 ratio,
          hmc.ratio_com*100 ratio_com,
          hmc.ratio_emp*100 ratio_emp
          FROM hf_month_charge hmc
          WHERE hmc.is_active = 1
            AND hmc.company_id = #{companyId}
            AND hmc.employee_id = #{employeeId}
            AND hmc.hf_month = #{hfMonth}
          AND hmc.hf_type = 2
          ORDER BY hmc.ss_month_belong DESC LIMIT 1
        ) tmp2 ON hmc.emp_archive_id = tmp2.emp_archive_id AND hmc.hf_type = tmp2.hf_type
        WHERE hmc.is_active = 1
        AND hmc.company_id = #{companyId}
        AND hmc.employee_id = #{employeeId}
        AND hmc.hf_month = #{hfMonth}
        GROUP BY hmc.company_id, hmc.employee_id, hmc.hf_month, hmc.hf_type
    </select>
</mapper>
