<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.housefund.fundservice.dao.HfMonthChargeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.housefund.fundservice.entity.HfMonthCharge">
        <id column="month_charge_id" property="monthChargeId" />
        <result column="emp_archive_id" property="empArchiveId" />
        <result column="emp_task_id" property="empTaskId" />
        <result column="company_id" property="companyId" />
        <result column="employee_id" property="employeeId" />
        <result column="hf_type" property="hfType" />
        <result column="hf_month" property="hfMonth" />
        <result column="ss_month_belong" property="ssMonthBelong" />
        <result column="payment_type" property="paymentType" />
        <result column="repair_reason" property="repairReason" />
        <result column="base" property="base" />
        <result column="ratio" property="ratio" />
        <result column="ratio_emp" property="ratioEmp" />
        <result column="ratio_com" property="ratioCom" />
        <result column="amount" property="amount" />
        <result column="emp_amount" property="empAmount" />
        <result column="com_amount" property="comAmount" />
        <result column="emp_payment_status" property="empPaymentStatus" />
        <result column="is_active" property="isActive" />
        <result column="created_time" property="createdTime" />
        <result column="modified_time" property="modifiedTime" />
        <result column="created_by" property="createdBy" />
        <result column="modified_by" property="modifiedBy" />
    </resultMap>


    <resultMap id="ResultMapDiffBo" type="com.ciicsh.gto.afsupportcenter.housefund.fundservice.bo.HfMonthChargeDiffBo">
        <result column="ss_month_belong" property="ssMonthBelong" />
        <result column="amount" property="amount" />
        <result column="emp_amount" property="empAmount" />
        <result column="com_amount" property="comAmount" />
    </resultMap>

    <resultMap id="ResultMapReportBO" type="com.ciicsh.gto.afsupportcenter.housefund.fundservice.bo.HFMonthChargeReportBO">
        <result column="hf_type" property="hfType" />
        <result column="employee_id" property="employeeId" />
        <result column="employee_name" property="employeeName" />
        <result column="hf_emp_account" property="hfEmpAccount" />
        <result column="basic_hf_emp_account" property="basicHfEmpAccount" />
        <result column="id_num" property="idNum" />
        <result column="hf_month" property="hfMonth" />
        <result column="ss_month_belong" property="ssMonthBelong" />
        <result column="payment_type" property="paymentType" />
        <result column="repair_reason" property="repairReason" />
        <result column="base" property="base" />
        <result column="ratio" property="ratio" />
        <result column="amount" property="amount" />
        <result column="company_id" property="companyId" />
        <result column="company_name" property="companyName" />
        <result column="hf_com_account" property="hfComAccount" />
    </resultMap>

    <resultMap id="NetBankExportBO" type="com.ciicsh.gto.afsupportcenter.housefund.fundservice.bo.payment.HFNetBankExportBO">
        <result column="start_month" property="startMonth" />
        <result column="employee_id" property="employeeId" />
        <result column="employee_name" property="employeeName" />
        <result column="hf_emp_account" property="hfEmpAccount" />
        <result column="birthday" property="birthday" />
        <result column="id_num" property="idNum" />
        <result column="gender" property="gender" />
        <result column="base" property="base" />
        <result column="ratio" property="ratio" />
        <result column="amount" property="amount" />
        <result column="com_amount" property="comAmount" />
        <result column="emp_amount" property="empAmount" />
        <result column="ratio_com" property="ratioCom" />
        <result column="ratio_emp" property="ratioEmp" />
    </resultMap>

	<update id="updateHfMonthCharge">
        UPDATE hf_month_charge
        SET
        <if test="inactive != null and inactive == true">
            is_active = 0,
        </if>
        <if test="chgPaymentType != null">
            payment_type = #{chgPaymentType},
        </if>
        modified_time = NOW(),
        modified_by = #{modifiedBy}
        <where>
            is_active = 1
            <if test="empArchiveId != null">
                AND emp_archive_id = #{empArchiveId}
            </if>
            <if test="companyId != null">
                AND company_id = #{companyId}
            </if>
            <if test="employeeId != null">
                AND employee_id = #{employeeId}
            </if>
            <if test="empTaskIdList != null">
                <foreach collection="empTaskIdList" item="item" open="AND emp_task_id IN (" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="hfType != null">
                AND hf_type = #{hfType}
            </if>
            <if test="hfMonth != null">
                AND hf_month = #{hfMonth}
            </if>
            <if test="ssMonthBelongStart != null">
                AND ss_month_belong >= #{ssMonthBelongStart}
            </if>
            <if test="ssMonthBelongEnd != null">
                AND #{ssMonthBelongEnd} >= ss_month_belong
            </if>
            <if test="paymentTypes != null">
                AND payment_type in (${paymentTypes})
            </if>
        </where>
    </update>

    <update id="deleteHfMonthCharges" parameterType="java.util.List">
        UPDATE hf_month_charge
        SET is_active = 0
        <where>
            <foreach collection="list" item="item" open="emp_task_id IN (" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </update>

    <select id="getHfMonthChargeDiffSum" resultMap="ResultMapDiffBo">
        SELECT
            ss_month_belong,
            IFNULL(SUM(amount),0) AS amount,
            IFNULL(SUM(emp_amount),0) AS emp_amount,
            IFNULL(SUM(com_amount),0) AS com_amount
        FROM hf_month_charge
        <where>
            is_active = 1
            AND payment_type = 11
            <if test="companyId != null">
                AND company_id = #{companyId}
            </if>
            <if test="employeeId != null">
                AND employee_id = #{employeeId}
            </if>
            <if test="empArchiveId != null">
                AND emp_archive_id = #{empArchiveId}
            </if>
            <if test="hfType != null">
                AND hf_type = #{hfType}
            </if>
            <if test="hfMonth != null">
                AND #{hfMonth} > hf_month
            </if>
            <if test="ssMonthBelongStart != null">
                AND ss_month_belong >= #{ssMonthBelongStart}
            </if>
            <if test="ssMonthBelongEnd != null">
                AND #{ssMonthBelongEnd} >= ss_month_belong
            </if>
        </where>
        GROUP BY ss_month_belong
    </select>

    <select id="queryHfMonthChargeReport" resultMap="ResultMapReportBO">
        SELECT
        hmc.hf_type,
        hmc.employee_id,
        ee.employee_name,
        CASE WHEN hmc.hf_type = 1 THEN heab.hf_emp_account ELSE heaa.hf_emp_account END hf_emp_account,
        heaab.hf_emp_account AS basic_hf_emp_account,
        ee.id_num,
        hmc.hf_month,
        hmc.ss_month_belong,
        hmc.payment_type,
        hmc.repair_reason,
        hmc.base,
        hmc.ratio,
        hmc.amount,
        hmc.company_id,
        sc.title AS company_name,
        CASE WHEN hmc.hf_type = 1 THEN hcacb.hf_com_account ELSE hcaca.hf_com_account END hf_com_account
        FROM hf_month_charge hmc
        INNER JOIN sal_company sc ON hmc.company_id = sc.company_id AND sc.is_active = 1
        <!--<if test="userId != null">-->
            <!--INNER JOIN hf_dataauth_company hdc ON sc.company_id = hdc.company_id AND hdc.user_id = #{userId}-->
        <!--</if>-->
        INNER JOIN emp_employee ee ON hmc.employee_id = ee.employee_id
        LEFT JOIN hf_emp_archive heab ON hmc.emp_archive_id = heab.emp_archive_id AND heab.hf_type = 1 AND heab.is_active = 1
        LEFT JOIN hf_com_account hcab ON heab.com_account_id = hcab.com_account_id AND hcab.is_active = 1
        LEFT JOIN hf_com_account_class hcacb ON heab.com_account_id = hcacb.com_account_id AND hcacb.hf_type = 1 AND hcab.is_active = 1
        LEFT JOIN hf_emp_archive heaa ON hmc.emp_archive_id = heaa.emp_archive_id AND heaa.hf_type = 2 AND heaa.is_active = 1
        LEFT JOIN hf_emp_archive heaab ON heaab.emp_archive_id = heaa.belong_emp_archive_id AND heaab.hf_type = 1 AND heaab.is_active = 1
        LEFT JOIN hf_com_account hcaa ON heaa.com_account_id = hcaa.com_account_id AND hcaa.is_active = 1
        LEFT JOIN hf_com_account_class hcaca ON heaa.com_account_id = hcaca.com_account_id AND hcaca.hf_type = 2 AND hcaa.is_active = 1
        <where>
            hmc.is_active = 1
            <if test="employeeId != null">
                AND hmc.employee_id = #{employeeId}
            </if>
            <if test="employeeName != null">
                AND ee.employee_name LIKE CONCAT('%', #{employeeName}, '%')
            </if>
            <if test="companyId != null">
                AND hmc.company_id = #{companyId}
            </if>
            <if test="companyName != null">
                AND sc.title LIKE CONCAT('%', #{companyName}, '%')
            </if>
            <if test="hfMonth != null">
                AND hmc.hf_month = #{hfMonth}
            </if>
            <if test="basicHfEmpAccount != null">
                AND heab.hf_emp_account = #{basicHfEmpAccount}
            </if>
            <if test="hfAccountType != null">
                AND (hcab.hf_account_type = #{hfAccountType}
                OR hcaa.hf_account_type = #{hfAccountType})
            </if>
            <!--<if test="hfAccountType == null">-->
                <!--AND (hcab.hf_account_type IN (1, 2, 3)-->
                <!--OR hcaa.hf_account_type IN (1, 2, 3))-->
            <!--</if>-->
            <if test="basicHfComAccount != null">
                AND hcacb.hf_com_account = #{basicHfComAccount}
            </if>
            <if test="addedHfEmpAccount != null">
                AND heaa.hf_emp_account = #{addedHfEmpAccount}
            </if>
            <if test="addedHfComAccount != null">
                AND hcaca.hf_com_account = #{addedHfComAccount}
            </if>
            <if test="hfType != null">
                AND hmc.hf_type = #{hfType}
            </if>
            <if test="paymentTypes != null">
                AND hmc.payment_type IN (${paymentTypes})
            </if>
            <if test="exceptRepairReason != null">
                AND hmc.repair_reason != #{exceptRepairReason}
            </if>
            <if test="basicComAccountArray != null">
                <foreach collection="basicComAccountArray" item="item" open="AND hcacb.hf_com_account IN (" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="addedComAccountArray != null">
                <foreach collection="addedComAccountArray" item="item" open="AND hcaca.hf_com_account IN (" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="queryNetBankData" resultMap="NetBankExportBO">
        SELECT
            hmc.ss_month_belong AS start_month,
            hmc.company_id,
            hmc.employee_id,
            ee.employee_name,
            ee.birthday,
            ee.id_num,
            ee.gender,
            hea.hf_emp_account,
            hmc.hf_type,
            hmc.amount,
            hmc.base,
            hmc.com_amount,
            hmc.emp_amount,
            hmc.ratio,
            hmc.ratio_com,
            hmc.ratio_emp
        FROM hf_month_charge hmc
        INNER JOIN hf_emp_archive hea ON hmc.emp_archive_id = hea.emp_archive_id AND hea.is_active = 1
        INNER JOIN emp_employee ee ON hea.employee_id = ee.employee_id
        WHERE hmc.is_active = 1
        <if test="comAccountClassId != null">
          AND hea.com_account_class_id = #{comAccountClassId}
        </if>
        <if test="hfMonth != null">
          AND hmc.hf_month = #{hfMonth}
        </if>
        <if test="hfType != null">
          AND hea.hf_type = #{hfType}
        </if>
        <if test="paymentTypes != null">
          AND hmc.payment_type IN (${paymentTypes})
        </if>
        <if test="exceptRepairReason != null">
            AND hmc.repair_reason != #{exceptRepairReason}
        </if>
    </select>
</mapper>
