<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.housefund.fundservice.dao.HfPaymentAccountMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.housefund.fundservice.entity.HfPaymentAccount">
		<id column="payment_account_id" property="paymentAccountId" />
		<result column="com_account_id" property="comAccountId" />
		<result column="payment_month" property="paymentMonth" />
		<result column="payment_status" property="paymentStatus" />
		<result column="total_com_pay_amount" property="totalComPayAmount" />
		<result column="total_emp_pay_amount" property="totalEmpPayAmount" />
		<result column="is_active" property="isActive" />
		<result column="created_time" property="createdTime" />
		<result column="modified_time" property="modifiedTime" />
		<result column="created_by" property="createdBy" />
		<result column="modified_by" property="modifiedBy" />
	</resultMap>

    <resultMap id="GetMakePayListsResultMap" type="com.ciicsh.gto.afsupportcenter.housefund.fundservice.bo.HfPaymentAccountBo" extends="BaseResultMap">
        <result column="payment_account_id" property="paymentAccountId" />
        <result column="com_account_name" property="comAccountName" />
        <result column="hf_type_name" property="hfTypeName" />
        <result column="payment_state_value" property="paymentStateValue" />
        <result column="account_type_value" property="accountTypeValue" />
        <result column="payment_bank_value" property="paymentBankValue" />
        <result column="sum_amount" property="sumAmount" />
        <result column="pay_in_back_amount" property="payInBackAmount" />
    </resultMap>

    <!--查询公积金制作汇缴清单-->
    <select id="getMakePayLists" resultMap="GetMakePayListsResultMap">
        SELECT
          pa.payment_account_id,
          ca.com_account_name,
            CASE pa.hf_type WHEN 1 THEN '基本公积金'
            WHEN 2 THEN '补充公积金'
            END hf_type_name,
            CASE pa.payment_status when 1 then '未到账'
            when 2 then '无需支付'
            when 3 then '可付'
            END  payment_state_value,
          hpat.account_type_value,
          hcapb.payment_bank_value,
          pa.payment_month,
          (
            SELECT
            ifnull(sum(amount), 0)
            FROM
            hf_month_charge mc
            INNER JOIN hf_emp_archive ea ON ea.emp_archive_id = mc.emp_archive_id
            WHERE
            mc.is_active = 1
            AND ea.is_active = 1
            <if test="paymentMonth != null and paymentMonth != ''">
                AND mc.hf_month = TRIM(#{paymentMonth})
            </if>
            AND mc.hf_type = pa.hf_type
            AND ea.com_account_class_id = pa.com_account_class_id
            AND mc.payment_type IN (1, 2, 3, 4, 5, 6, 11)
          ) AS sum_add,
          (
            SELECT
            ifnull(sum(amount), 0)
            FROM
            hf_month_charge mc
            INNER JOIN hf_emp_archive ea ON ea.emp_archive_id = mc.emp_archive_id
            WHERE
            mc.is_active = 1
            AND ea.is_active = 1
            <if test="paymentMonth != null and paymentMonth != ''">
                AND mc.hf_month = TRIM(#{paymentMonth})
            </if>
            AND mc.hf_type = pa.hf_type
            AND ea.com_account_class_id = pa.com_account_class_id
            AND mc.payment_type IN (7, 8, 9, 10)
          ) AS sum_sub,
          (SELECT sum_add - sum_sub) AS sum_amount,
          (
            SELECT
            ifnull(sum(amount), 0)
            FROM
            hf_month_charge mc
            INNER JOIN hf_emp_archive ea ON ea.emp_archive_id = mc.emp_archive_id
            WHERE
            mc.is_active = 1
            AND ea.is_active = 1
            <if test="paymentMonth != null and paymentMonth != ''">
                AND mc.hf_month = TRIM(#{paymentMonth})
            </if>
            AND mc.hf_type = pa.hf_type
            AND ea.com_account_class_id = pa.com_account_class_id
            AND mc.payment_type IN (6, 11)
          ) AS pay_in_back_amount
        FROM hf_payment_account pa
        LEFT JOIN hf_com_account ca ON ca.com_account_id = pa.com_account_id
        LEFT JOIN hf_payment_account_type hpat ON ca.hf_account_type = hpat.account_type_code
        LEFT JOIN hf_com_account_payment_bank hcapb ON ca.payment_bank = hcapb.payment_bank_code
        <where>
            pa.is_active = 1
            AND pa.payment_id is NULL
            <if test="paymentId != null and paymentId != ''">
                AND pa.payment_id = #{paymentId}
            </if>
            <if test="paymentMonth != null and paymentMonth != ''">
                AND pa.payment_month = TRIM(#{paymentMonth})
            </if>
            <if test="paymentBank!= null and paymentBank != ''">
                AND ca.payment_bank = #{paymentBank}
            </if>
            <if test="paymentStatus!= null and paymentStatus != ''">
                AND pa.payment_status = #{paymentStatus}
            </if>
            <if test="fundAccountType!= null and fundAccountType != ''">
                AND ca.hf_account_type = #{fundAccountType}
            </if>
        </where>
        ORDER BY
          pa.payment_account_id
    </select>

</mapper>
