<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.housefund.fundservice.dao.HfPaymentComMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.housefund.fundservice.entity.HfPaymentCom">
        <id column="payment_com_id" property="paymentComId" />
        <result column="payment_id" property="paymentId" />
        <result column="com_account_id" property="comAccountId" />
        <result column="hf_type" property="hfType" />
        <result column="company_id" property="companyId" />
        <result column="payment_bank" property="paymentBank" />
        <result column="remitted_amount" property="remittedAmount" />
        <result column="repair_amount" property="repairAmount" />
        <result column="remitted_count_emp" property="remittedCountEmp" />
        <result column="is_active" property="isActive" />
        <result column="created_time" property="createdTime" />
        <result column="modified_time" property="modifiedTime" />
        <result column="created_by" property="createdBy" />
        <result column="modified_by" property="modifiedBy" />
    </resultMap>

    <resultMap id="GetFundPaysDetailOperationDataResultMap" type="com.ciicsh.gto.afsupportcenter.housefund.fundservice.bo.HfPaymentComBo" extends="BaseResultMap">
        <result column="hf_type_name" property="hfTypeName"/>
        <result column="payment_month" property="paymentMonth"/>
        <result column="company_id" property="companyId"/>
        <result column="title" property="title"/>
        <result column="payment_bank" property="paymentBank"/>
        <result column="remitted_amount" property="remittedAmount"/>
        <result column="repair_amount" property="repairAmount"/>
        <result column="remitted_count_emp" property="remittedCountEmp"/>
    </resultMap>

    <resultMap id="CreatePaymentAccountBO" type="com.ciicsh.gto.afsupportcenter.housefund.fundservice.bo.payment.HfCreatePaymentAccountBO">
        <result column="payment_account_id" property="paymentAccountId"/>
        <result column="com_account_id" property="comAccountId"/>
        <result column="company_id" property="companyId"/>
        <result column="com_account_class_id" property="comAccountClassId"/>
        <result column="payment_bank" property="paymentBank"/>
        <result column="hf_type" property="hfType"/>
        <result column="hf_account_type" property="hfAccountType"/>

        <result column="remitted_amount_add" property="remittedAmountAdd"/>
        <result column="remitted_amount_reduce" property="remittedAmountReduce"/>
        <result column="remitted_amount" property="remittedAmount"/>
        <result column="repair_amount" property="repairAmount"/>
        <result column="repair_count_emp" property="repairCountEmp"/>
        <result column="remitted_count_emp" property="remittedCountEmp"/>
        <result column="remitted_count_emp_add" property="remittedCountEmpAdd"/>
        <result column="remitted_count_emp_reduce" property="remittedCountEmpReduce"/>

    </resultMap>

    <!--生成制作汇缴名单-->
    <!--费用种类：1标准 2 开户 3 转入  4启封 5 调整启封 6 补缴  7 转出 8 封存 9调整封存 10 销户 11 差额补缴-->
    <!--parameterType="java.util.List"-->
	<select id="selectPaymentAccount"  resultMap="CreatePaymentAccountBO" >
        SELECT pa.payment_account_id,pa.com_account_id,acr.company_id,pa.com_account_class_id,ca.payment_bank,pa.hf_type,ca.hf_account_type
        ,(SELECT SUM(ifnull(amount, 0)) FROM hf_month_charge mc
        INNER JOIN hf_emp_archive ea ON ea.emp_archive_id = mc.emp_archive_id
        WHERE mc.is_active = 1
        AND ea.is_active = 1
        AND mc.hf_month = pa.payment_month
        AND mc.hf_type = pa.hf_type
        AND ea.com_account_class_id = pa.com_account_class_id
        AND ea.company_id=acr.company_id
        AND mc.payment_type = 1
        ) AS amount_standard,
        (SELECT SUM(ifnull(amount, 0)) FROM hf_month_charge mc
            INNER JOIN hf_emp_archive ea ON ea.emp_archive_id = mc.emp_archive_id
            WHERE mc.is_active = 1
            AND ea.is_active = 1
            AND mc.hf_month = pa.payment_month
            AND mc.hf_type = pa.hf_type
            AND ea.com_account_class_id = pa.com_account_class_id
            AND ea.company_id=acr.company_id
            AND mc.payment_type IN (2, 3, 4, 5)
        ) AS remitted_amount_add,
        (SELECT SUM(ifnull(amount, 0)) FROM hf_month_charge mc
            INNER JOIN hf_emp_archive ea ON ea.emp_archive_id = mc.emp_archive_id
            WHERE mc.is_active = 1
            AND ea.is_active = 1
            AND mc.hf_month = pa.payment_month
            AND mc.hf_type = pa.hf_type
            AND ea.com_account_class_id = pa.com_account_class_id
            AND ea.company_id=acr.company_id
            AND mc.payment_type IN (7, 8, 9, 10)
        ) AS remitted_amount_reduce,

        (SELECT SUM(ifnull(amount, 0))
            FROM  hf_month_charge mc
            INNER JOIN hf_emp_archive ea ON ea.emp_archive_id = mc.emp_archive_id
            WHERE mc.is_active = 1
            AND ea.is_active = 1
            AND mc.hf_month = pa.payment_month
            AND mc.hf_type = pa.hf_type
            AND ea.com_account_class_id = pa.com_account_class_id
            AND ea.company_id=acr.company_id
            AND mc.payment_type IN (6, 11)
        ) AS repair_amount,
        (SELECT
            count(DISTINCT mc.employee_id)
            FROM hf_month_charge mc
            INNER JOIN hf_emp_archive ea ON ea.emp_archive_id = mc.emp_archive_id
            WHERE mc.is_active = 1
            AND ea.is_active = 1
            AND mc.hf_month = pa.payment_month
            AND mc.hf_type = pa.hf_type
            AND ea.com_account_class_id = pa.com_account_class_id
            AND ea.company_id=acr.company_id
            AND mc.payment_type IN (6, 11)
        ) AS repair_count_emp,
        (SELECT
            count(DISTINCT mc.employee_id)
            FROM hf_month_charge mc
            INNER JOIN hf_emp_archive ea ON ea.emp_archive_id = mc.emp_archive_id
            WHERE mc.is_active = 1
            AND ea.is_active = 1
            AND mc.hf_month = pa.payment_month
            AND mc.hf_type = pa.hf_type
            AND ea.com_account_class_id = pa.com_account_class_id
            AND ea.company_id=acr.company_id
            AND mc.payment_type = 1
        ) AS remitted_emp_count_standard,
        (SELECT
            count(DISTINCT mc.employee_id)
            FROM hf_month_charge mc
            INNER JOIN hf_emp_archive ea ON ea.emp_archive_id = mc.emp_archive_id
            WHERE mc.is_active = 1
            AND ea.is_active = 1
            AND mc.hf_month = pa.payment_month
            AND mc.hf_type = pa.hf_type
            AND ea.com_account_class_id = pa.com_account_class_id
            AND ea.company_id=acr.company_id
            AND mc.payment_type IN ( 2, 3, 4, 5)
        ) AS remitted_count_emp_add,
        (SELECT
            count(DISTINCT mc.employee_id)
            FROM hf_month_charge mc
            INNER JOIN hf_emp_archive ea ON ea.emp_archive_id = mc.emp_archive_id
            WHERE mc.is_active = 1
            AND ea.is_active = 1
            AND mc.hf_month = pa.payment_month
            AND mc.hf_type = pa.hf_type
            AND ea.com_account_class_id = pa.com_account_class_id
            AND ea.company_id=acr.company_id
            AND mc.payment_type IN (7, 8, 9, 10)
        ) AS remitted_count_emp_reduce,
        (SELECT remitted_emp_count_standard + remitted_count_emp_add - remitted_count_emp_reduce) AS remitted_count_emp,
        (SELECT ifnull(amount_standard,0) + ifnull(remitted_amount_add,0) - ifnull(remitted_amount_reduce,0)) AS remitted_amount

        FROM hf_payment_account pa
        INNER JOIN hf_account_com_relation acr ON acr.com_account_id=pa.com_account_id
        INNER JOIN hf_com_account ca ON ca.com_account_id=pa.com_account_id
        WHERE pa.is_active=1
        AND pa.payment_status=3
        AND pa.com_account_id in
        (SELECT com_account_id FROM hf_payment_account WHERE
         payment_month= #{paymentMonth} AND ifnull(payment_id,0)=0 AND
        payment_account_id in
        <foreach collection="listData" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        )
        AND pa.payment_month= #{paymentMonth}
    </select>

    <update id="updatePaymentAccount">
         update hf_payment_account set payment_id=#{paymentId} where is_active = 1
        <if test="paymentAccountList != null">
            <foreach collection="paymentAccountList" item="item" open="AND payment_account_id IN (" separator="," close=")">
                #{item}
            </foreach>
        </if>

    </update>

    <!-- 添加公积金汇缴支付编辑操作数据：查出当前汇缴支付批次下的当月汇缴支付总金额-->
    <select id="getAmountByPaymentId" resultMap="GetFundPaysDetailOperationDataResultMap">
        SELECT
          SUM(IFNULL(remitted_amount, 0)) AS remitted_amount,
          SUM(IFNULL(repair_amount,0)) AS repair_amount
        FROM
          hf_payment_com
        WHERE is_active = 1
          AND payment_id = #{paymentId}
    </select>

    <!--导出时查询公积金汇缴支付详细操作数据中的所有公司列表-->
    <select id="getCompanyIdList" resultMap="GetFundPaysDetailOperationDataResultMap">
        SELECT DISTINCT
        hpc.company_id,
        sc.title,
        hpc.com_account_id
        FROM
        hf_payment_com hpc
        LEFT JOIN sal_company sc
        ON hpc.company_id = sc.company_id
        WHERE hpc.is_active = 1
        AND hpc.payment_id = #{paymentId}
        AND hpc.com_account_id = #{comAccountId}
    </select>

</mapper>
