<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.housefund.fundservice.dao.HfPaymentAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.housefund.fundservice.entity.HfPaymentAccount">
        <id column="payment_account_id" property="paymentAccountId" />
        <result column="com_account_id" property="comAccountId" />
        <result column="payment_month" property="paymentMonth" />
        <result column="payment_status" property="paymentStatus" />
        <result column="total_com_pay_amount" property="totalComPayAmount" />
        <result column="total_emp_pay_amount" property="totalEmpPayAmount" />
        <result column="is_active" property="isActive" />
        <result column="created_time" property="createdTime" />
        <result column="modified_time" property="modifiedTime" />
        <result column="created_by" property="createdBy" />
        <result column="modified_by" property="modifiedBy" />
    </resultMap>

    <resultMap id="NetBankComAccountBO" type="com.ciicsh.gto.afsupportcenter.housefund.fundservice.bo.payment.HFNetBankComAccountBO">
        <result column="hf_account_type" property="hfAccountType" />
        <result column="com_account_id" property="comAccountId" />
        <result column="com_account_class_id" property="comAccountClassId" />
        <result column="hf_com_account" property="hfComAccount" />
        <result column="hf_type" property="hfType" />
        <result column="payment_month" property="paymentMonth" />
    </resultMap>

    <resultMap id="GetMakePayListsResultMap" type="com.ciicsh.gto.afsupportcenter.housefund.fundservice.bo.HfPaymentAccountBo" extends="BaseResultMap">
        <result column="payment_account_id" property="paymentAccountId" />
        <result column="com_account_name" property="comAccountName" />
        <result column="hf_type_name" property="hfTypeName" />
        <result column="payment_state_value" property="paymentStateValue" />
        <result column="account_type_value" property="accountTypeValue" />
        <result column="payment_bank_value" property="paymentBankValue" />
        <result column="sum_amount" property="sumAmount" />
        <result column="pay_in_back_amount" property="payInBackAmount" />
        <result column="fCount" property="fCount" />
        <result column="payment_state" property="paymentState" />
        <result column="hf_account_type" property="fundAccountType" />
        <result column="remitted_amount" property="remittedAmount" />
        <result column="repair_amount" property="repairAmount" />
        <result column="remitted_count_emp" property="remittedCountEmp" />
        <result column="title" property="title" />
        <result column="company_id" property="companyId" />
        <result column="comPaymentStatus" property="comPaymentStatus" />

    </resultMap>

    <!--查询公积金制作汇缴清单-->
    <select id="getMakePayLists" resultMap="GetMakePayListsResultMap">
        SELECT
        pa.payment_account_id,
        ca.com_account_name,
        CASE pa.hf_type WHEN 1 THEN '基本公积金'
        WHEN 2 THEN '补充公积金'
        END hf_type_name,
        CASE pa.payment_status when 1 then '未到账'
        when 2 then '无需支付'
        when 3 then '可付'
        END  payment_state_value,
        hpat.account_type_value,
        hcapb.payment_bank_value,
        pa.payment_month,
        (SELECT group_concat(company_id) FROM hf_account_com_relation where is_active=1 and com_account_id=ca.com_account_id AND major_com=1 limit 5 ) as company_id,
        (
        SELECT
        sum(ifnull(amount, 0))
        FROM
        hf_month_charge mc
        INNER JOIN hf_emp_archive ea ON ea.emp_archive_id = mc.emp_archive_id
        WHERE
        mc.is_active = 1
        AND ea.is_active = 1
        <if test="paymentMonthValue != null and paymentMonthValue != ''">
            AND mc.hf_month = TRIM(#{paymentMonthValue})
        </if>
        AND mc.hf_type = pa.hf_type
        AND ea.com_account_class_id = pa.com_account_class_id
        AND mc.payment_type IN (1, 2, 3, 4, 5)
        ) AS sum_add,
        (
        SELECT
        sum(ifnull(amount, 0))
        FROM
        hf_month_charge mc
        INNER JOIN hf_emp_archive ea ON ea.emp_archive_id = mc.emp_archive_id
        WHERE
        mc.is_active = 1
        AND ea.is_active = 1
        <if test="paymentMonthValue != null and paymentMonthValue != ''">
            AND mc.hf_month = TRIM(#{paymentMonthValue})
        </if>
        AND mc.hf_type = pa.hf_type
        AND ea.com_account_class_id = pa.com_account_class_id
        AND mc.payment_type IN (7, 8, 9, 10)
        ) AS sum_sub,
        (SELECT sum_add - sum_sub) AS sum_amount,
        (
        SELECT
        sum(ifnull(amount, 0))
        FROM
        hf_month_charge mc
        INNER JOIN hf_emp_archive ea ON ea.emp_archive_id = mc.emp_archive_id
        WHERE
        mc.is_active = 1
        AND ea.is_active = 1
        <if test="paymentMonthValue != null and paymentMonthValue != ''">
            AND mc.hf_month = TRIM(#{paymentMonthValue})
        </if>
        AND mc.hf_type = pa.hf_type
        AND ea.com_account_class_id = pa.com_account_class_id
        AND mc.payment_type IN (6, 11)
        ) AS pay_in_back_amount
        FROM hf_payment_account pa
        LEFT JOIN hf_com_account ca ON ca.com_account_id = pa.com_account_id
        LEFT JOIN hf_payment_account_type hpat ON ca.hf_account_type = hpat.account_type_code
        LEFT JOIN hf_com_account_payment_bank hcapb ON ca.payment_bank = hcapb.payment_bank_code
        <where>
            pa.is_active = 1
            AND IFNULL(pa.payment_id,0)=0
            <if test="paymentId != null">
                AND pa.payment_id = #{paymentId}
            </if>
            <if test="paymentMonthValue != null and paymentMonthValue != ''">
                AND pa.payment_month = TRIM(#{paymentMonthValue})
            </if>
            <if test="paymentBank!= null">
                AND ca.payment_bank = #{paymentBank}
            </if>
            <if test="paymentStatus!= null">
                AND pa.payment_status = #{paymentStatus}
            </if>
            <if test="fundAccountType!= null and fundAccountType != ''">
                AND ca.hf_account_type = #{fundAccountType}
            </if>
            <if test="companyId!= null and companyId != ''">
                AND EXISTS (select 1 from hf_account_com_relation acr INNER  JOIN  sal_company com ON  com.company_id=acr.company_id
                where acr.com_account_id=ca.com_account_id and com.company_id =#{companyId})
            </if>
            <if test="companyName!= null and companyName != ''">
                AND EXISTS (select 1 from hf_account_com_relation acr INNER  JOIN  sal_company com ON  com.company_id=acr.company_id
                where acr.com_account_id=ca.com_account_id and com.title LIKE concat('%',#{companyName},'%') )
            </if>
            <if test="serviceCenterValue!= null and serviceCenterValue != ''">
                AND EXISTS (select 1 from hf_emp_archive ea WHERE ea.com_account_id=ca.com_account_id and ea.service_center_id=#{serviceCenterValue})
            </if>
            <if test="leaderShipName!= null and leaderShipName != ''">
                AND EXISTS (select 1 from hf_account_com_relation acr INNER  JOIN  emp_af_emp_company afemp ON  afemp.company_id=acr.company_id
                where acr.com_account_id=ca.com_account_id and afemp.leadership_name LIKE CONCAT('%',#{leaderShipName}, '%') )
            </if>

        </where>
        ORDER BY
        pa.payment_account_id
    </select>

    <select id="getByPaymentId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        payment_account_id,
        payment_id,
        com_account_id,
        payment_bank,
        payment_status,
        total_com_pay_amount,
        total_emp_pay_amount,
        is_active,
        created_time,
        modified_time,
        created_by,
        modified_by
        FROM
        hf_payment_account SPC
        WHERE
        SPC.is_active = 1
        AND SPC.payment_id = #{paymentId}
    </select>

    <select id="getComAccountByPaymentId" parameterType="java.lang.Long" resultMap="NetBankComAccountBO">
        SELECT
            hca.hf_account_type,
            hpc.com_account_id,
            hpc.com_account_class_id,
            hcac.hf_com_account,
            hcac.hf_type,
            hpc.payment_month
        FROM hf_payment_account hpc
        INNER JOIN hf_com_account hca ON hca.com_account_id = hpc.com_account_id AND hca.is_active = 1
        INNER JOIN hf_com_account_class hcac ON hpc.com_account_class_id = hcac.com_account_class_id
        WHERE hpc.is_active = 1 AND hpc.payment_id = #{paymentId}
    </select>

    <!--公积金汇缴支付详情/编辑操作数据-->
    <select id="getFundPaysEditOperationData" resultMap="GetMakePayListsResultMap">
        SELECT
        COUNT(hpa.hf_type) fCount,
        SUM(hpc.remitted_amount) AS remitted_amount,
        SUM(hpc.repair_amount) AS repair_amount,
        SUM(hpc.remitted_count_emp) AS remitted_count_emp,
        hpa.payment_id,
        hpa.payment_month,
        hpc.company_id,
        hpa.payment_status,
        CASE
        hpa.payment_status
        WHEN 1
        THEN '未到账'
        WHEN 2
        THEN '无需支付'
        WHEN 3
        THEN '可付'
        END payment_state_value,
        CASE hpc.com_payment_status
        WHEN 0 THEN '不可付'
        WHEN 1 THEN '来款可付'
        WHEN 2 THEN '垫款可付'
        END comPaymentStatus,

        hca.com_account_name,
        hpa.hf_type,
        hca.hf_account_type,
        ht.hf_type_name,
        hpc.payment_bank,
        hcapb.payment_bank_value,
        hpc.com_account_id,
        sc.title
        FROM
        hf_payment_account hpa
        INNER JOIN hf_payment_com hpc
        ON hpa.payment_id = hpc.payment_id
        INNER JOIN hf_com_account hca
        ON hca.com_account_id = hpc.com_account_id
        INNER JOIN hf_type ht
        ON ht.hf_type_code = hpa.hf_type
        INNER JOIN hf_com_account_payment_bank hcapb
        ON hcapb.payment_bank_code = hpc.payment_bank
        INNER JOIN sal_company sc
        ON hpc.company_id = sc.company_id
        WHERE hpa.is_active = 1
        AND hpc.is_active = 1
        <if test = "paymentId != null and paymentId != ''" >
            AND hpa.payment_id = #{paymentId}
        </if>
        AND hpa.hf_type = hpc.hf_type
        AND hpa.com_account_id = hpc.com_account_id
        GROUP BY hpa.com_account_id,
        hpa.hf_type
    </select>

    <update id="updateDelOperateEditDataFromHpa"
            parameterType="com.ciicsh.gto.afsupportcenter.housefund.fundservice.bo.HfPaymentAccountBo">
        UPDATE hf_payment_account
        <set>
            payment_id = 0,
            modified_by = #{modifiedBy},
            modified_time = sysdate()
        </set>
        <where>
            is_active = 1
            <if test="paymentId != null and paymentId != ''">
                AND payment_id = #{paymentId}
            </if>
            <if test="paymentMonthValue != null and paymentMonthValue != ''">
                AND payment_month = TRIM(#{paymentMonthValue})
            </if>
            <if test="paymentStatus!= null and paymentStatus != ''">
                AND payment_status = #{paymentStatus}
            </if>
            <if test="comAccountId != null and comAccountId != ''">
                AND com_account_id = #{comAccountId}
            </if>
        </where>
    </update>

    <!--查询公积金制作汇缴清单(编辑页面添加按钮触发)-->
    <select id="getMakePayListsById" resultMap="GetMakePayListsResultMap">
        SELECT
        hpa.payment_account_id,
        hca.com_account_name,
        CASE
        hpa.hf_type
        WHEN 1
        THEN '基本公积金'
        WHEN 2
        THEN '补充公积金'
        END hf_type_name,
        CASE
        hpa.payment_status
        WHEN 1
        THEN '未到账'
        WHEN 2
        THEN '无需支付'
        WHEN 3
        THEN '可付'
        END payment_state_value,
        hpat.account_type_value,
        hcapb.payment_bank_value
        FROM
        hf_payment_account hpa
        LEFT JOIN hf_com_account hca
        ON hca.com_account_id = hpa.com_account_id
        LEFT JOIN hf_payment_account_type hpat
        ON hca.hf_account_type = hpat.account_type_code
        LEFT JOIN hf_com_account_payment_bank hcapb
        ON hca.payment_bank = hcapb.payment_bank_code
        WHERE hpa.is_active = 1
        AND hpa.com_account_id =
        (SELECT
        com_account_id
        FROM
        hf_payment_com
        WHERE
        is_active = 0
        <if test="paymentId != null and paymentId != ''">
            AND payment_id = #{paymentId}
        </if>
        LIMIT 1)
        ORDER BY hpa.payment_account_id
    </select>
</mapper>
