<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.housefund.fundservice.dao.HfStatementCompareMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.housefund.fundservice.entity.HfStatementComparePO">
		<id column="statement_compare_id" property="statementCompareId" />
		<result column="hf_month" property="hfMonth" />
		<result column="imp_path" property="impPath" />
		<result column="compare_man" property="compareMan" />
		<result column="compare_time" property="compareTime" />
		<result column="hf_type" property="hfType" />
		<result column="com_account_id" property="comAccountId" />
		<result column="hf_account_type" property="hfAccountType" />
		<result column="imp_record_count" property="impRecordCount" />
		<result column="diff_count" property="diffCount" />
		<result column="is_active" property="isActive" />
		<result column="created_time" property="createdTime" />
		<result column="modified_time" property="modifiedTime" />
		<result column="created_by" property="createdBy" />
		<result column="modified_by" property="modifiedBy" />
	</resultMap>

</mapper>
