<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.housefund.fundservice.dao.HfStatementCompareMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.housefund.fundservice.entity.HfStatementComparePO">
        <id column="statement_compare_id" property="statementCompareId" />
        <result column="hf_month" property="hfMonth" />
        <result column="imp_path" property="impPath" />
        <result column="compare_operate_id" property="compareOperateId" />
        <result column="compare_operate_name" property="compareOperateName" />
        <result column="compare_time" property="compareTime" />
        <result column="hf_type" property="hfType" />
        <result column="com_account_id" property="comAccountId" />
        <result column="hf_account_type" property="hfAccountType" />
        <result column="imp_record_count" property="impRecordCount" />
        <result column="diff_count" property="diffCount" />
        <result column="is_active" property="isActive" />
        <result column="created_time" property="createdTime" />
        <result column="modified_time" property="modifiedTime" />
        <result column="created_by" property="createdBy" />
        <result column="modified_by" property="modifiedBy" />
    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="StatementMap" extends="BaseResultMap"
               type="com.ciicsh.gto.afsupportcenter.housefund.fundservice.bo.HFStatementCompareBO">
        <result column="com_account_name" property="comAccountName"/>
        <result column="hf_com_account" property="hfComAccount"/>
    </resultMap>

    <resultMap id="StatementItemMap"
               type="com.ciicsh.gto.afsupportcenter.housefund.fundservice.entity.FundStatementItemPO">
        <result column="statementId" property="statementId" jdbcType="INTEGER"/>
        <result column="hf_month" property="hfMonth" jdbcType="VARCHAR"/>
        <result column="com_account_name" property="comAccountName" jdbcType="VARCHAR"/>
        <result column="imp_record_count" property="impRecordCount" jdbcType="INTEGER"/>
        <result column="diff_count" property="diffCount" jdbcType="INTEGER"/>
        <result column="com_account" property="comAccount" jdbcType="VARCHAR"/>
        <result column="emp_account" property="empAccount" jdbcType="VARCHAR"/>
        <result column="emp_name" property="empName" jdbcType="VARCHAR"/>
        <result column="imp_amount" property="impAmount" jdbcType="DECIMAL"/>
        <result column="sys_amount" property="sysAmount" jdbcType="DECIMAL"/>
        <result column="diff_amount" property="diffAmount" jdbcType="DECIMAL"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="EmployeeIdMap" type="com.ciicsh.gto.afsupportcenter.housefund.fundservice.entity.EmployeeIdPO">
        <result column="employee_id" property="EmployeeId"/>
        <result column="employee_name" property="EmployeeName"/>
    </resultMap>

    <resultMap id="EmployeeSysAmountMap"
               type="com.ciicsh.gto.afsupportcenter.housefund.fundservice.entity.EmployeeSysAmountPO">
        <result column="employee_id" property="employeeId"/>
        <result column="sys_amount" property="sysAmount"/>
    </resultMap>

    <select id="getHFStatementCompareRecord" resultMap="StatementMap">
        SELECT
        a.statement_compare_id,
        a.hf_month,
        b.com_account_name,
        c.hf_com_account,
        a.imp_path,
        a.hf_type,
        a.compare_operate_id,
        a.compare_operate_name,
        a.compare_time
        FROM
        hf_statement_compare a
        INNER JOIN hf_com_account b ON a.com_account_id = b.com_account_id
        LEFT JOIN hf_com_account_class c ON a.com_account_id = c.com_account_id
        AND a.hf_type = c.hf_type AND  c.hf_type=1
        <where>
            a.is_active=1
            <if test="hfMonth != null and hfMonth != ''">
                AND a.hf_month = #{hfMonth}
            </if>
            <if test="hfComAccount != null and hfComAccount != ''">
                AND c.hf_com_account = #{hfComAccount}
            </if>
            ORDER  BY a.statement_compare_id DESC
        </where>
    </select>

    <delete id="delStatement">
        DELETE a.*, b.*, c.*
        FROM
            hf_statement_compare a
        LEFT JOIN hf_statement_compare_imp b ON a.statement_compare_id = b.statement_compare_id
        LEFT JOIN hf_statement_compare_result c ON a.statement_compare_id = c.statement_compare_id
        WHERE
            a.statement_compare_id = #{statementId};
    </delete>

    <select id="getStatementItems" resultMap="StatementItemMap">
        SELECT
            b.statement_compare_id statementId,
            b.hf_month,
            c.com_account_name,
            b.imp_record_count,
            b.diff_count,
            a.com_account,
            a.emp_account,
            a.emp_name,
            d.imp_amount,
            d.sys_amount,
            d.diff_amount,
            CASE LENGTH(d.employee_id) WHEN 36 THEN
              '系统不存在'
            ELSE
              ''
            END AS remark
        FROM
            hf_statement_compare_imp a
        INNER JOIN hf_statement_compare b ON a.statement_compare_id = b.statement_compare_id
        LEFT JOIN hf_com_account c ON b.com_account_id = c.com_account_id
        LEFT JOIN hf_statement_compare_result d ON b.statement_compare_id = d.statement_compare_id AND a.employee_id = d.employee_id
        WHERE b.statement_compare_id=#{statementId};
    </select>

    <delete id="delStatementResult">
        DELETE FROM hf_statement_compare_result WHERE statement_compare_id=#{statementId}
    </delete>

    <select id="getEmployeeIdFromArchive" resultType="com.ciicsh.gto.afsupportcenter.housefund.fundservice.entity.EmployeeIdPO">
        SELECT
            ea.employee_id,
            emp.employee_name
        FROM
            hf_emp_archive ea
        INNER JOIN hf_com_account ca ON ca.com_account_id = ea.com_account_id
        INNER JOIN emp_employee emp ON emp.employee_id = ea.employee_id
        WHERE
            ea.is_active = 1
        AND emp.employee_name = #{employeeName}
        AND emp.id_num = #{idNum}
        AND ea.hf_emp_account = #{empAccount}
        LIMIT 1
    </select>

    <select id="getEmployeeSysAmount" resultMap="EmployeeSysAmountMap">
        SELECT
        ea.employee_id,
        abp.amount sys_amount
        FROM
          hf_archive_base_period abp
        INNER JOIN hf_emp_archive ea ON ea.emp_archive_id = abp.emp_archive_id
        INNER JOIN hf_com_account ca ON ca.com_account_id = ea.com_account_id
        INNER JOIN emp_employee emp ON emp.employee_id = ea.employee_id
        <where>
            ea.is_active = 1
            AND abp.is_active = 1
            AND abp.hf_type = #{hfType}
            AND ca.com_account_id=#{comAccountId}
            AND (abp.start_month &lt;= #{hfMonth} AND abp.end_month >= #{hfMonth}
            OR ( abp.start_month &lt;= #{hfMonth} AND abp.end_month IS NULL))
        </where>
    </select>
</mapper>
