<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.housefund.siteservice.dao.HfEmpTaskMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMapBo" type="com.ciicsh.gto.afsupportcenter.housefund.siteservice.bo.HfEmpTaskBo">
		<result column="emp_task_id" property="empTaskId" />
		<result column="company_id" property="companyId" />
        <result column="company_name" property="companyName" />
		<result column="employee_id" property="employeeId" />
        <result column="employee_name" property="employeeName" />
        <result column="id_num" property="idNum" />
		<result column="hf_type" property="hfType" />
        <result column="hf_emp_account" property="hfEmpAccount" />
		<result column="task_category" property="taskCategory" />
		<result column="urgent" property="urgent" />
		<result column="submitter_id" property="submitterId" />
        <result column="submit_time" property="submitTime" />
		<result column="task_id" property="taskId" />
	</resultMap>

    <select id="queryHfEmpTask" resultMap="BaseResultMapBo">
        SELECT
        het.emp_task_id,
        het.task_category,
        het.urgent,
        het.employee_id,
        ee.employee_name,
        ee.id_num,
        het.company_id,
        sc.title company_name,
        hea.hf_type,
        hea.hf_emp_account,
        het.submitter_id,
        het.submit_time,
        het.task_id
        FROM hf_emp_task het
        INNER JOIN hf_account_com_relation hacr ON het.company_id = hacr.company_id AND hacr.is_active = 1
        INNER JOIN hf_com_account hca ON hacr.com_account_id = hca.com_account_id AND hca.is_active = 1
        INNER JOIN emp_employee ee ON het.employee_id = ee.employee_id
        INNER JOIN sal_company sc ON het.company_id = sc.company_id AND sc.is_active = 1
        LEFT JOIN hf_emp_archive hea ON het.emp_archive_id = hea.emp_archive_id AND hea.is_active = 1
        <where>
            het.is_active = 1 AND IFNULL(het.task_status, 1) != 5
            <if test="taskCategory != null">
                AND het.task_category = #{taskCategory}
            </if>
            <if test="employeeId != null">
                AND ee.employee_id = #{employeeId}
            </if>
            <if test="employeeName != null">
                AND ee.employee_name LIKE CONCAT('%',#{employeeName},'%')
            </if>
            <if test="idNum != null">
                AND ee.id_num = #{idNum}
            </if>
            <if test="companyId != null">
                AND sc.company_id = #{companyId}
            </if>
            <if test="hfAccountType != null">
                AND hca.hf_account_type = #{hfAccountType}
            </if>
            <if test="hfType != null">
                AND hca.hf_type = #{hfType}
            </if>
            <if test="paymentBank != null">
                AND hca.payment_bank = #{paymentBank}
            </if>
            <if test="urgent == 1">
                AND het.urgent = #{urgent}
            </if>
            <if test="submitTimeStart != null">
                AND het.submit_time >= #{submitTimeStart}
            </if>
            <if test="submitTimeEnd != null">
                AND #{submitTimeEnd} >= het.submit_time
            </if>
            <if test="taskStatus == null">
                AND IFNULL(het.task_status, 1) = 1
            </if>
            <if test="processStatus == 1">
                AND het.submit_time <![CDATA[ <= ]]>
                str_to_date(CONCAT(date_format(CURTIME(),'%Y-%m'),'-',hca.close_day),'%Y-%m-%d')
            </if>
            <if test="processStatus == 2">
                AND et.submit_time >
                str_to_date(CONCAT(date_format(CURTIME(),'%Y-%m'),'-',hca.close_day),'%Y-%m-%d')
            </if>
        </where>
    </select>
    <select id="queryByTaskId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        emp_task_id,
        company_id,
        employee_id,
        emp_archive_id,
        is_change,
        hf_type,
        task_category,
        urgent,
        operation_remind,
        operation_remind_date,
        submitter_id,
        submitter_dept_name,
        submit_time,
        expire_date,
        submitter_remark,
        task_form_content,
        handle_user_id,
        handle_user_name,
        handle_date,
        handle_remark,
        rejection_remark,
        material_sign_record,
        special_task,
        task_status,
        handle_status,
        start_handle_date,
        send_check_date,
        finish_date,
        emp_base,
        start_month,
        end_month,
        ratio_emp,
        ratio_com,
        amount,
        transfer_out_unit,
        transfer_out_unit_account,
        transfer_in_unit,
        transfer_in_unit_account,
        transfer_date,
        feedback_date,
        operate_date,
        business_interface_id,
        task_id,
        is_active,
        created_time,
        modified_time,
        created_by,
        modified_by,
        hf_emp_account,
        in_date
        FROM
        hf_emp_task et
        WHERE et.employee_id = #{employeeId}
        and et.company_id=#{companyId}
        and et.task_id=#{taskId}
        AND et.is_active = 1
    </select>

    <insert id="insertHfEmpTask" useGeneratedKeys="true" keyProperty="empTaskId">
        insert into
        hf_emp_task
        (company_id,
        employee_id,
        emp_archive_id,
        is_change,
        hf_type,
        task_category,
        urgent,
        operation_remind,
        operation_remind_date,
        submitter_id,
        submitter_dept_name,
        submit_time,
        expire_date,
        submitter_remark,
        task_form_content,
        handle_user_id,
        handle_user_name,
        handle_date,
        handle_remark,
        rejection_remark,
        material_sign_record,
        special_task,
        task_status,
        handle_status,
        start_handle_date,
        send_check_date,
        finish_date,
        emp_base,
        start_month,
        end_month,
        ratio_emp,
        ratio_com,
        amount,
        transfer_out_unit,
        transfer_out_unit_account,
        transfer_in_unit,
        transfer_in_unit_account,
        transfer_date,
        feedback_date,
        operate_date,
        business_interface_id,
        task_id,
        is_active,
        created_time,
        modified_time,
        created_by,
        modified_by,
        hf_emp_account,
        in_date) VALUES
        (#{companyId},#{employeeId},#{empArchiveId},#{isChange},#{hfType},#{taskCategory},#{urgent},#{operationRemind},
        #{operationRemindDate},#{submitterId},#{submitterDeptName},#{submitTime},#{expireDate},#{submitterRemark},
        #{taskFormContent},#{handleUserId},#{handleUserName},#{handleDate},#{handleRemark},#{rejectionRemark},#{materialSignRecord},
        #{specialTask},#{taskStatus},#{handleStatus},#{startHandleDate},#{sendCheckDate},#{finishDate},#{empBase},
        #{startMonth},#{endMonth},#{ratioEmp},#{ratioCom},#{amount},#{transferOutUnit},#{transferOutUnitAccount},
        #{transferInUnit},#{transferInUnitAccount},#{transferDate},#{feedbackDate},#{operateDate},#{businessInterfaceId},
        #{taskId},#{isActive},#{createdTime},#{modifiedTime},#{createdBy},#{modifiedBy},#{hfEmpAccount},#{in_date})
    </insert>
</mapper>
