<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.housefund.siteservice.dao.HfMonthChargeMapper">

	<update id="inactiveHfMonthCharge">
        UPDATE hf_month_charge
        SET
        active = 0,
        modified_time = NOW(),
        modified_by = #{modifiedBy}
        <where>
            active = 1
            <if test="empArchiveId != null">
                AND emp_archive_id = #{empArchiveId}
            </if>
            <if test="companyId != null">
                AND company_id = #{companyId}
            </if>
            <if test="employeeId != null">
                AND company_id = #{employeeId}
            </if>
            <if test="hfType != null">
                AND hf_type = #{hfType}
            </if>
            <if test="ssMonthBelongStart != null">
                AND ss_month_belong >= #{ssMonthBelongStart}
            </if>
            <if test="ssMonthBelongEnd != null">
                AND #{ssMonthBelongEnd} >= ss_month_belong
            </if>
            <if test="paymentTypes != null">
                AND payment_type in (${paymentTypes})
            </if>
        </where>
    </update>

</mapper>
