<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.healthmedical.commandservice.dao.InsurancePolicyNumMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMapBO" type="com.ciicsh.gto.afsupportcenter.healthmedical.commandservice.entity.bo.InsurancePolicyNumBO">
		<id column="insurance_policy_num_id" property="insurancePolicyNumId" />
		<result column="insurance_policy_num_name" property="insurancePolicyNumName" />
		<result column="insurance_policy_id" property="insurancePolicyId" />
		<result column="insurance_policy_num_start_date" property="insurancePolicyNumStartDate" />
		<result column="insurance_policy_num_end_date" property="insurancePolicyNumEndDate" />
		<result column="payment_cycle" property="paymentCycle" />
		<result column="payment_calculation_rule" property="paymentCalculationRule" />
		<result column="is_active" property="isActive" />
		<result column="created_time" property="createdTime" />
		<result column="modified_time" property="modifiedTime" />
		<result column="created_by" property="createdBy" />
		<result column="modified_by" property="modifiedBy" />
		<collection property="insurancePolicyNumCalculationRulePOList" column="rule_id"
					javaType="ArrayList"  ofType="com.ciicsh.gto.afsupportcenter.healthmedical.commandservice.entity.po.InsurancePolicyNumCalculationRulePO">
		</collection>
	</resultMap>



</mapper>
