<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.flexiblebenefit.fbcommandservice.dao.ApplyRecordCommandMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.flexiblebenefit.entity.bo.ApplyRecordBO">
        <id column="apply_record_id" property="applyRecordId"/>
        <result column="applyer_id" property="applyerId"/>
        <result column="apply_time" property="applyTime"/>
        <result column="apply_type" property="applyType"/>
        <result column="project_topics" property="projectTopics"/>
        <result column="record_approval_reason" property="recordApprovalReason"/>

        <result column="apply_record_detail_id" property="applyRecordDetailId"/>
        <result column="presenting_object_type" property="presentingObjectType"/>
        <result column="applicant_type" property="applicantType"/>
        <result column="applicant" property="applicant"/>
        <result column="applicant_extension" property="applicantExtension"/>
        <result column="company_name" property="companyName"/>
        <result column="company_address" property="companyAddress"/>
        <result column="company_telephone" property="companyTelephone"/>
        <result column="company_fax" property="companyFax"/>
        <result column="contact_name" property="contactName"/>
        <result column="contact_dept_name" property="contactDeptName"/>
        <result column="contact_position" property="contactPosition"/>
        <result column="contact_brithday" property="contactBrithday"/>
        <result column="contact_phone_num" property="contactPhoneNum"/>
        <result column="contact_email" property="contactEmail"/>
        <result column="contact_home_postcode" property="contactHomePostcode"/>
        <result column="contact_home_telephone" property="contactHomeTelephone"/>
        <result column="contact_home_address" property="contactHomeAddress"/>
        <result column="extension_number" property="extensionNumber"/>
        <result column="apply_reason" property="applyReason"/>
        <result column="approval_status" property="approvalStatus"/>
        <result column="send_status" property="sendStatus"/>
        <result column="send_time" property="sendTime"/>

        <result column="gift_record_id" property="giftRecordId"/>
        <result column="gift_id" property="giftId"/>
        <result column="apply_num" property="applyNum"/>

        <result column="markert_activity_record_id" property="markertActivityRecordId"/>
        <result column="activity_id" property="activityId"/>
        <result column="number" property="number"/>
        <result column="gift_form" property="giftForm"/>
        <result column="send_way" property="sendWay"/>
        <result column="delivery_address" property="deliveryAddress"/>

        <result column="is_active" property="isActive"/>
        <result column="create_time" property="createTime"/>
        <result column="modified_time" property="modifiedTime"/>
        <result column="created_by" property="createdBy"/>
        <result column="modified_by" property="modifiedBy"/>
    </resultMap>

</mapper>
