<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.flexiblebenefit.fbcommandservice.dao.ApplyRecordDetailCommandMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.flexiblebenefit.entity.po.ApplyRecordDetailPO">
        <id column="apply_record_detail_id" property="applyRecordDetailId"/>
        <result column="apply_record_id" property="applyRecordId"/>
        <result column="presenting_object_type" property="presentingObjectType"/>
        <result column="applicant_type" property="applicantType"/>
        <result column="applicant" property="applicant"/>
        <result column="applicant_extension" property="applicantExtension"/>
        <result column="company_name" property="companyName"/>
        <result column="company_address" property="companyAddress"/>
        <result column="company_telephone" property="companyTelephone"/>
        <result column="company_fax" property="companyFax"/>
        <result column="contact_name" property="contactName"/>
        <result column="contact_dept_name" property="contactDeptName"/>
        <result column="contact_position" property="contactPosition"/>
        <result column="contact_brithday" property="contactBrithday"/>
        <result column="contact_phone_num" property="contactPhoneNum"/>
        <result column="contact_email" property="contactEmail"/>
        <result column="contact_home_postcode" property="contactHomePostcode"/>
        <result column="contact_home_telephone" property="contactHomeTelephone"/>
        <result column="contact_home_address" property="contactHomeAddress"/>
        <result column="extension_number" property="extensionNumber"/>
        <result column="apply_reason" property="applyReason"/>
        <result column="approval_status" property="approvalStatus"/>
        <result column="send_status" property="sendStatus"/>
        <result column="send_time" property="sendTime"/>
        <result column="send_remark" property="sendRemark" />
        <result column="is_active" property="isActive"/>
        <result column="create_time" property="createTime"/>
        <result column="modified_time" property="modifiedTime"/>
        <result column="created_by" property="createdBy"/>
        <result column="modified_by" property="modifiedBy"/>
    </resultMap>

    <insert id="insertSelective"
            parameterType="com.ciicsh.gto.afsupportcenter.flexiblebenefit.entity.po.ApplyRecordDetailPO"
            useGeneratedKeys="true" keyProperty="applyRecordDetailId">
        insert into fb_apply_record_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="applyRecordId != null">
                apply_record_id,
            </if>
            <if test="presentingObjectType != null">
                presenting_object_type,
            </if>
            <if test="applicantType != null">
                applicant_type,
            </if>
            <if test="applicant != null">
                applicant,
            </if>
            <if test="applicantExtension != null">
                applicant_extension,
            </if>
            <if test="companyName != null">
                company_name,
            </if>
            <if test="companyAddress != null">
                company_address,
            </if>
            <if test="companyTelephone != null">
                company_telephone,
            </if>
            <if test="companyFax != null">
                company_fax,
            </if>
            <if test="contactName != null">
                contact_name,
            </if>
            <if test="contactDeptName != null">
                contact_dept_name,
            </if>
            <if test="contactPosition != null">
                contact_position,
            </if>
            <if test="contactBrithday != null">
                contact_brithday,
            </if>
            <if test="contactPhoneNum != null">
                contact_phone_num,
            </if>
            <if test="contactEmail != null">
                contact_email,
            </if>
            <if test="contactHomePostcode != null">
                contact_home_postcode,
            </if>
            <if test="contactHomeTelephone != null">
                contact_home_telephone,
            </if>
            <if test="contactHomeAddress != null">
                contact_home_address,
            </if>
            <if test="extensionNumber != null">
                extension_number,
            </if>
            <if test="applyReason != null">
                apply_reason,
            </if>
            <if test="approvalStatus != null">
                approval_status,
            </if>
            <if test="sendStatus != null">
                send_status,
            </if>
            <if test="sendTime != null">
                send_time,
            </if>
            <if test="isActive != null">
                is_active,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifiedTime != null">
                modified_time,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="modifiedBy != null">
                modified_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="applyRecordId != null">
                #{applyRecordId,jdbcType=INTEGER},
            </if>
            <if test="presentingObjectType != null">
                #{presentingObjectType,jdbcType=TINYINT},
            </if>
            <if test="applicantType != null">
                #{applicantType,jdbcType=TINYINT},
            </if>
            <if test="applicant != null">
                #{applicant,jdbcType=VARCHAR},
            </if>
            <if test="applicantExtension != null">
                #{applicantExtension,jdbcType=VARCHAR},
            </if>
            <if test="companyName != null">
                #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="companyAddress != null">
                #{companyAddress,jdbcType=VARCHAR},
            </if>
            <if test="companyTelephone != null">
                #{companyTelephone,jdbcType=INTEGER},
            </if>
            <if test="companyFax != null">
                #{companyFax,jdbcType=INTEGER},
            </if>
            <if test="contactName != null">
                #{contactName,jdbcType=VARCHAR},
            </if>
            <if test="contactDeptName != null">
                #{contactDeptName,jdbcType=VARCHAR},
            </if>
            <if test="contactPosition != null">
                #{contactPosition,jdbcType=VARCHAR},
            </if>
            <if test="contactBrithday != null">
                #{contactBrithday,jdbcType=DATE},
            </if>
            <if test="contactPhoneNum != null">
                #{contactPhoneNum,jdbcType=INTEGER},
            </if>
            <if test="contactEmail != null">
                #{contactEmail,jdbcType=VARCHAR},
            </if>
            <if test="contactHomePostcode != null">
                #{contactHomePostcode,jdbcType=INTEGER},
            </if>
            <if test="contactHomeTelephone != null">
                #{contactHomeTelephone,jdbcType=INTEGER},
            </if>
            <if test="contactHomeAddress != null">
                #{contactHomeAddress,jdbcType=VARCHAR},
            </if>
            <if test="extensionNumber != null">
                #{extensionNumber,jdbcType=INTEGER},
            </if>
            <if test="applyReason != null">
                #{applyReason,jdbcType=VARCHAR},
            </if>
            <if test="approvalStatus != null">
                #{approvalStatus,jdbcType=TINYINT},
            </if>
            <if test="sendStatus != null">
                #{sendStatus,jdbcType=TINYINT},
            </if>
            <if test="sendTime != null">
                #{sendTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isActive != null">
                #{isActive,jdbcType=BIT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifiedTime != null">
                #{modifiedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="modifiedBy != null">
                #{modifiedBy,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>
