<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.flexiblebenefit.fbcommandservice.dao.MarketActivityCommandMapper">
  <resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.flexiblebenefit.fbcommandservice.entity.po.MarketActivityPO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="activity_title" jdbcType="VARCHAR" property="activityTitle" />
    <result column="publisher" jdbcType="VARCHAR" property="publisher" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="gift_form" jdbcType="VARCHAR" property="giftForm" />
    <result column="send_way" jdbcType="TINYINT" property="sendWay" />
    <result column="is_active" jdbcType="BIT" property="isActive" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="modified_by" jdbcType="VARCHAR" property="modifiedBy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, activity_title, publisher, begin_time, end_time, status, content, gift_form, 
    send_way, is_active, create_time, modified_time, created_by, modified_by
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fb_market_activity
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fb_market_activity
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <select id="findByEntity" parameterType="com.ciicsh.gto.afsupportcenter.flexiblebenefit.fbcommandservice.entity.po.MarketActivityPO" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from fb_market_activity
        <where>
            <if test="activityTitle != null">
                AND activity_title = #{activityTitle,jdbcType=VARCHAR}
            </if>
            <if test="publisher != null">
                AND publisher = #{publisher,jdbcType=VARCHAR}
            </if>
            <if test="beginTime != null">
                AND begin_time = #{beginTime,jdbcType=TIMESTAMP}
            </if>
            <if test="endTime != null">
                AND end_time = #{endTime,jdbcType=TIMESTAMP}
            </if>
            <if test="status != null">
                AND status = #{status,jdbcType=TINYINT}
            </if>
            <if test="content != null">
                AND content = #{content,jdbcType=VARCHAR}
            </if>
            <if test="giftForm != null">
                AND gift_form = #{giftForm,jdbcType=VARCHAR}
            </if>
            <if test="sendWay != null">
                AND send_way = #{sendWay,jdbcType=TINYINT}
            </if>
            <if test="isActive != null">
                AND is_active = #{isActive,jdbcType=BIT}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="modifiedTime != null">
                AND modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
            </if>
            <if test="createdBy != null">
                AND created_by = #{createdBy,jdbcType=VARCHAR}
            </if>
            <if test="modifiedBy != null">
                AND modified_by = #{modifiedBy,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
  <insert id="insert" parameterType="com.ciicsh.gto.afsupportcenter.flexiblebenefit.fbcommandservice.entity.po.MarketActivityPO">
    insert into fb_market_activity (id, activity_title, publisher, 
      begin_time, end_time, status, 
      content, gift_form, send_way, 
      is_active, create_time, modified_time, 
      created_by, modified_by)
    values (#{id,jdbcType=INTEGER}, #{activityTitle,jdbcType=VARCHAR}, #{publisher,jdbcType=VARCHAR}, 
      #{beginTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT}, 
      #{content,jdbcType=VARCHAR}, #{giftForm,jdbcType=VARCHAR}, #{sendWay,jdbcType=TINYINT}, 
      #{isActive,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{modifiedTime,jdbcType=TIMESTAMP}, 
      #{createdBy,jdbcType=VARCHAR}, #{modifiedBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ciicsh.gto.afsupportcenter.flexiblebenefit.fbcommandservice.entity.po.MarketActivityPO">
    insert into fb_market_activity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="activityTitle != null">
        activity_title,
      </if>
      <if test="publisher != null">
        publisher,
      </if>
      <if test="beginTime != null">
        begin_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="giftForm != null">
        gift_form,
      </if>
      <if test="sendWay != null">
        send_way,
      </if>
      <if test="isActive != null">
        is_active,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="modifiedBy != null">
        modified_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="activityTitle != null">
        #{activityTitle,jdbcType=VARCHAR},
      </if>
      <if test="publisher != null">
        #{publisher,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null">
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="giftForm != null">
        #{giftForm,jdbcType=VARCHAR},
      </if>
      <if test="sendWay != null">
        #{sendWay,jdbcType=TINYINT},
      </if>
      <if test="isActive != null">
        #{isActive,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="modifiedBy != null">
        #{modifiedBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ciicsh.gto.afsupportcenter.flexiblebenefit.fbcommandservice.entity.po.MarketActivityPO">
    update fb_market_activity
    <set>
      <if test="activityTitle != null">
        activity_title = #{activityTitle,jdbcType=VARCHAR},
      </if>
      <if test="publisher != null">
        publisher = #{publisher,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null">
        begin_time = #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="giftForm != null">
        gift_form = #{giftForm,jdbcType=VARCHAR},
      </if>
      <if test="sendWay != null">
        send_way = #{sendWay,jdbcType=TINYINT},
      </if>
      <if test="isActive != null">
        is_active = #{isActive,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="modifiedBy != null">
        modified_by = #{modifiedBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ciicsh.gto.afsupportcenter.flexiblebenefit.fbcommandservice.entity.po.MarketActivityPO">
    update fb_market_activity
    set activity_title = #{activityTitle,jdbcType=VARCHAR},
      publisher = #{publisher,jdbcType=VARCHAR},
      begin_time = #{beginTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT},
      content = #{content,jdbcType=VARCHAR},
      gift_form = #{giftForm,jdbcType=VARCHAR},
      send_way = #{sendWay,jdbcType=TINYINT},
      is_active = #{isActive,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR},
      modified_by = #{modifiedBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>