<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.socjob.dao.SsEmpBasePeriodMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.socjob.entity.SsEmpBasePeriod">
		<id column="emp_base_period_id" property="empBasePeriodId" />
		<result column="emp_archive_id" property="empArchiveId" />
		<result column="emp_task_id" property="empTaskId" />
		<result column="base_amount" property="baseAmount" />
		<result column="start_month" property="startMonth" />
		<result column="end_month" property="endMonth" />
		<result column="ss_month" property="ssMonth" />
		<result column="ss_month_stop" property="ssMonthStop" />
		<result column="remit_way" property="remitWay" />
		<result column="is_active" property="isActive" />
		<result column="created_time" property="createdTime" />
		<result column="modified_time" property="modifiedTime" />
		<result column="created_by" property="createdBy" />
		<result column="modified_by" property="modifiedBy" />
	</resultMap>

    <resultMap id="ExtResultMap" type="com.ciicsh.gto.afsupportcenter.socjob.entity.custom.SsEmpBaseArchiveExt">
        <result column="emp_base_period_id" property="empBasePeriodId" />
        <result column="emp_archive_id" property="empArchiveId" />
        <result column="emp_task_id" property="empTaskId" />
        <result column="base_amount" property="baseAmount" />
        <result column="start_month" property="startMonth" />
        <result column="end_month" property="endMonth" />
        <result column="ss_month" property="ssMonth" />
        <result column="ss_month_stop" property="ssMonthStop" />
        <result column="remit_way" property="remitWay" />
        <result column="customer_id" property="customerId" />
        <result column="company_id" property="companyId" />
        <result column="employee_id" property="employeeId" />
        <result column="com_account_id" property="comAccountId" />
        <result column="ss_serial" property="ssSerial" />
        <result column="salary" property="salary" />
        <result column="emp_classify" property="empClassify" />
        <result column="in_date" property="inDate" />
        <result column="out_date" property="outDate" />
        <result column="archive_status" property="archiveStatus" />
        <result column="archive_task_status" property="archiveTaskStatus" />
    </resultMap>


    <resultMap id="EmpBasePeriodExtMap" type="com.ciicsh.gto.afsupportcenter.socjob.entity.custom.SsEmpBasePeriodExt">
        <result column="emp_base_period_id" property="empBasePeriodId" />
        <result column="emp_archive_id" property="empArchiveId" />
        <result column="base_amount" property="baseAmount" />
        <result column="total_amount" property="totalAmount" />
        <result column="start_month" property="startMonth" />
        <result column="end_month" property="endMonth" />
        <result column="ss_month" property="ssMonth" />
        <result column="ss_month_stop" property="ssMonthStop" />
        <result column="ss_month_belong" property="ssMonthBelong"/>
        <result column="company_id" property="companyId" />
        <result column="employee_id" property="employeeId" />
        <result column="com_account_id" property="comAccountId" />
        <result column="category" property="category" />
        <result column="category_name" property="categoryName" />
    </resultMap>

    <select id="getEmpBasePeriodExts" resultMap="EmpBasePeriodExtMap">
        SELECT
            a.emp_base_period_id,
            a.emp_archive_id,
            a.base_amount,
            '' AS 'total_amount',
            a.start_month,
            a.end_month,
            a.ss_month,
            a.ss_month_stop,
            a.ss_month AS 'ss_month_belong',
            b.company_id,
            b.employee_id,
            b.com_account_id,
            2 AS 'category',
            '新进' AS 'category_name'
        FROM ss_emp_base_period a
        INNER JOIN ss_emp_archive b on a.emp_archive_id = a.emp_archive_id
        INNER JOIN ss_emp_task c ON a.emp_task_id = c.emp_task_id
        WHERE
        a.is_active = 1 AND b.is_active = 1 AND c.is_active = 1
        AND c.task_category = 1
        AND a.remit_way = 1
        AND a.ss_month = #{ssMonth}
        AND b.com_account_id = #{comAccountId}
        AND c.handle_month = #{ssMonth}
        UNION
        SELECT
			a.emp_base_period_id,
			a.emp_archive_id,
			a.base_amount,
			'' AS 'total_amount',
			a.start_month,
			a.end_month,
			a.ss_month,
			a.ss_month_stop,
			a.ss_month AS 'ss_month_belong',
			b.company_id,
			b.employee_id,
			b.com_account_id,
			3 AS 'category',
			'转入' AS 'category_name'
        FROM ss_emp_base_period a
        INNER JOIN ss_emp_archive b on a.emp_archive_id = a.emp_archive_id
        INNER JOIN ss_emp_task c ON a.emp_task_id = c.emp_task_id
        WHERE
        a.is_active = 1 AND b.is_active = 1 AND c.is_active = 1
        AND c.task_category =2
        AND a.remit_way = 1
        AND a.ss_month = #{ssMonth}
        AND b.com_account_id = #{comAccountId}
        AND c.handle_month = #{ssMonth}
        UNION
        SELECT
			a.emp_base_period_id,
			a.emp_archive_id,
			a.base_amount,
			'' AS 'total_amount',
			a.start_month,
			a.end_month,
			a.ss_month,
			a.ss_month_stop,
			'' AS 'ss_month_belong',
			b.company_id,
			b.employee_id,
			b.com_account_id,
			4 AS 'category',
            '补缴' AS 'category_name'
        FROM ss_emp_base_period a
        INNER JOIN ss_emp_archive b on a.emp_archive_id = a.emp_archive_id
        WHERE a.is_active = 1
        AND b.is_active = 1
        AND a.remit_way = 2
        AND a.ss_month = #{ssMonth}
        AND b.com_account_id = #{comAccountId}
        UNION
        SELECT
			a.emp_base_period_id,
			a.emp_archive_id,
			a.base_amount,
			'' AS 'total_amount',
			a.start_month,
			a.end_month,
			a.ss_month,
			a.ss_month_stop,
			a.ss_month AS 'ss_month_belong',
			b.company_id,
			b.employee_id,
			b.com_account_id,
			5 AS 'category',
			'调整' AS 'category_name'
        FROM ss_emp_base_period a
        INNER JOIN ss_emp_archive b on a.emp_archive_id = a.emp_archive_id
        INNER JOIN ss_emp_task c ON a.emp_task_id = c.emp_task_id
        WHERE a.is_active = 1
        AND b.is_active = 1 AND c.is_active = 1
        AND c.task_category = 3
        AND a.remit_way = 1
        AND a.ss_month = #{ssMonth}
        AND b.com_account_id = #{comAccountId}
        AND c.handle_month = #{ssMonth}
        UNION
        SELECT
			a.emp_base_period_id,
			a.emp_archive_id,
			a.base_amount,
			'' AS 'total_amount',
			a.start_month,
			a.end_month,
			a.ss_month,
			a.ss_month_stop,
			a.ss_month AS 'ss_month_belong',
			b.company_id,
			b.employee_id,
			b.com_account_id,
			6 AS 'category',
	        '转出' AS 'category_name'
        FROM ss_emp_base_period a
        INNER JOIN ss_emp_archive b on a.emp_archive_id = a.emp_archive_id
        INNER JOIN ss_emp_task c ON a.emp_task_id = c.emp_task_id
        WHERE a.is_active = 1
        AND b.is_active = 1
        AND c.is_active = 1
        AND c.task_category = 5
        AND a.remit_way = 1
        AND a.ss_month_stop = #{ssMonth}
        AND b.com_account_id = #{comAccountId}
        UNION
        SELECT
			a.emp_base_period_id,
			a.emp_archive_id,
			a.base_amount,
			'' AS 'total_amount',
			a.start_month,
			a.end_month,
			a.ss_month,
			a.ss_month_stop,
			a.ss_month AS 'ss_month_belong',
			b.company_id,
			b.employee_id,
			b.com_account_id,
			7 AS 'category',
	        '封存' AS 'category_name'
        FROM ss_emp_base_period a
        INNER JOIN ss_emp_archive b on a.emp_archive_id = a.emp_archive_id
        INNER JOIN ss_emp_task c ON a.emp_task_id = c.emp_task_id
        WHERE a.is_active = 1
        AND b.is_active = 1
        AND c.is_active = 1
        AND c.task_category = 6
        AND a.remit_way = 1
        AND a.ss_month_stop = #{ssMonth}
        AND b.com_account_id = #{comAccountId}
        UNION
        SELECT
            a.emp_refund_id AS 'emp_base_period_id',
            a.emp_archive_id,
            '' AS 'base_amount',
            a.amount AS 'total_amount',
            a.start_month,
            a.end_month,
            a.ss_month,
            '' AS 'ss_month_stop',
            a.ss_month AS 'ss_month_belong',
            b.company_id,
            b.employee_id,
            b.com_account_id,
            8 AS 'category',
            '退账' AS 'category_name'
        FROM ss_emp_refund a
        INNER JOIN ss_emp_archive b ON a.emp_archive_id = b.emp_archive_id
        INNER JOIN ss_emp_task c ON a.emp_task_id = c.emp_task_id
        WHERE a.is_active = 1
        AND b.is_active = 1
        AND c.is_active = 1
        AND c.task_category = 7
        AND b.com_account_id = #{comAccountId}
        AND c.handle_month = #{ssMonth}
        UNION
        SELECT
            a.emp_base_adjust_id AS 'emp_base_period_id',
            a.emp_archive_id,
            a.new_base_amount AS 'base_amount',
            '' AS 'total_amount',
            a.start_month,
            a.end_month,
            a.ss_month,
            '' AS 'ss_month_stop',
            '' AS 'ss_month_belong',
            b.company_id,
            b.employee_id,
            b.com_account_id,
            9 AS 'category',
            '逆调' AS 'category_name'
        FROM ss_emp_base_adjust a
        INNER JOIN ss_emp_archive b ON a.emp_archive_id = b.emp_archive_id
        WHERE a.is_active = 1
        AND b.is_active = 1
        AND a.ss_month = #{ssMonth}
        AND b.com_account_id = #{comAccountId}
    </select>

    <select id="getEmpBaseArchiveExts" resultMap="ExtResultMap">
        SELECT
        ebp.emp_base_period_id,
        ebp.emp_archive_id,
        ebp.emp_task_id,
        ebp.base_amount,
        ebp.start_month,
        ebp.end_month,
        ebp.ss_month,
        ebp.ss_month_stop,
        ebp.remit_way,
        ea.customer_id,
        ea.company_id,
        ea.employee_id,
        ea.com_account_id,
        ea.ss_serial,
        ea.salary,
        ea.emp_classify,
        ea.in_date,
        ea.out_date,
        ea.archive_status,
        ea.archive_task_status
        FROM
        ss_emp_base_period ebp INNER JOIN ss_emp_archive ea ON ebp.emp_archive_id = ea.emp_archive_id
        WHERE ebp.is_active = 1 AND ea.is_active = 1
        AND ea.com_account_id = #{comAccountId}
        AND ebp.ss_month != #{ssMonth}
        AND (ebp.ss_month_stop = #{ssMonth} OR ebp.ss_month_stop is NULL)
        AND (
        #{ssMonth} BETWEEN ebp.start_month AND ebp.end_month
          OR (#{ssMonth}>=ebp.start_month AND ebp.end_month is null)
          OR ebp.ss_month_stop=#{ssMonth}
        )
    </select>

    <sql id="SsEmpBaseArchiveExt_All_Columns">
        a.emp_base_period_id,
        a.emp_archive_id,
        a.emp_task_id,
        a.base_amount,
        a.start_month,
        a.end_month,
        a.ss_month,
        a.ss_month_stop,
        a.remit_way,
        b.customer_id,
        b.company_id,
        b.employee_id,
        b.com_account_id,
        b.ss_serial,
        b.salary,
        b.emp_classify,
        b.in_date,
        b.out_date,
        b.archive_status,
        b.archive_task_status
    </sql>

</mapper>
