<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.healthmedical.queryservice.dao.AgentBusinessIpMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.healthmedical.queryservice.entity.po.AgentBusinessIpPO">
		<id column="agent_business_ip_id" property="agentBusinessIpId" />
		<result column="agent_business_ip_name" property="agentBusinessIpName" />
		<result column="insurance_company_id" property="insuranceCompanyId" />
		<result column="agent_business_ip_start_date" property="agentBusinessIpStartDate" />
		<result column="agent_business_ip_end_date" property="agentBusinessIpEndDate" />
		<result column="payment_cycle" property="paymentCycle" />
		<result column="is_active" property="isActive" />
		<result column="created_time" property="createdTime" />
		<result column="modified_time" property="modifiedTime" />
		<result column="created_by" property="createdBy" />
		<result column="modified_by" property="modifiedBy" />
	</resultMap>

	<select id="getList" resultMap="BaseResultMap">
		select ip.agent_business_ip_id,ip.agent_business_ip_name,ip.insurance_company_id,ip.payment_cycle,
		ip.agent_business_ip_start_date,ip.agent_business_ip_end_date,company.insurance_company_name,a.paymentmonth
		from hm_agent_business_ip as ip LEFT JOIN(select agent_business_ip_id,max(payment_month) as paymentmonth from hm_agent_business group by agent_business_ip_id) as a
		on ip.agent_business_ip_id= a.agent_business_ip_id
		LEFT JOIN hm_insurance_company as company on ip.insurance_company_id= company.insurance_company_id
		<where>
			<if test="agentBusinessIpId != null">
				and ip.agent_business_ip_id = #{agentBusinessIpId}
			</if>
			<if test="insuranceCompanyId != null">
				and ip.insurance_company_id = #{insuranceCompanyId}
			</if>

		</where>
	</select>
</mapper>
