<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.socialsecurity.dao.SsEmpMaterialMapper">
  <resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.socialsecurity.dao.model.SsEmpMaterial">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="EmpMaterialId" jdbcType="BIGINT" property="empMaterialId" />
    <result column="EmployeeTaskId" jdbcType="VARCHAR" property="employeeTaskId" />
    <result column="材料类型" jdbcType="TINYINT" property="材料类型" />
    <result column="材料名称" jdbcType="VARCHAR" property="材料名称" />
    <result column="材料提交时间" jdbcType="TIMESTAMP" property="材料提交时间" />
    <result column="材料收到时间" jdbcType="TIMESTAMP" property="材料收到时间" />
    <result column="备注说明" jdbcType="VARCHAR" property="备注说明" />
    <result column="材料收到状态" jdbcType="TINYINT" property="材料收到状态" />
    <result column="IsActive" jdbcType="BIT" property="isActive" />
    <result column="DataChange_CreateTime" jdbcType="TIMESTAMP" property="dataChangeCreateTime" />
    <result column="DataChange_LastTime" jdbcType="TIMESTAMP" property="dataChangeLastTime" />
    <result column="CreatedBy" jdbcType="VARCHAR" property="createdBy" />
    <result column="ModifiedBy" jdbcType="VARCHAR" property="modifiedBy" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    EmpMaterialId, EmployeeTaskId, 材料类型, 材料名称, 材料提交时间, 材料收到时间, 备注说明, 材料收到状态, IsActive, 
    DataChange_CreateTime, DataChange_LastTime, CreatedBy, ModifiedBy
  </sql>
</mapper>