<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.socialsecurity.dao.SsEmpBaseDetailMapper">
  <resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.socialsecurity.entity.SsEmpBaseDetail">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="EmpBaseDetailId" jdbcType="BIGINT" property="empBaseDetailId" />
    <result column="EmpBasePeriodId" jdbcType="BIGINT" property="empBasePeriodId" />
    <result column="EmpArchivedId" jdbcType="VARCHAR" property="empArchivedId" />
    <result column="SSType" jdbcType="TINYINT" property="SSType" />
    <result column="SSTypeName" jdbcType="VARCHAR" property="SSTypeName" />
    <result column="ComCSSPolicyItemId" jdbcType="VARCHAR" property="comCSSPolicyItemId" />
    <result column="EmpCSSPolicyItemId" jdbcType="VARCHAR" property="empCSSPolicyItemId" />
    <result column="ComBase" jdbcType="DECIMAL" property="comBase" />
    <result column="EmpBase" jdbcType="DECIMAL" property="empBase" />
    <result column="ComRatio" jdbcType="DECIMAL" property="comRatio" />
    <result column="EmpRatio" jdbcType="DECIMAL" property="empRatio" />
    <result column="ComAmount" jdbcType="DECIMAL" property="comAmount" />
    <result column="EmpAmount" jdbcType="DECIMAL" property="empAmount" />
    <result column="ComAdditionAmount" jdbcType="DECIMAL" property="comAdditionAmount" />
    <result column="EmpAdditionAmount" jdbcType="DECIMAL" property="empAdditionAmount" />
    <result column="ComEmpAmount" jdbcType="DECIMAL" property="comEmpAmount" />
    <result column="IsActive" jdbcType="BIT" property="isActive" />
    <result column="DataChange_CreateTime" jdbcType="TIMESTAMP" property="dataChangeCreateTime" />
    <result column="DataChange_LastTime" jdbcType="TIMESTAMP" property="dataChangeLastTime" />
    <result column="CreatedBy" jdbcType="VARCHAR" property="createdBy" />
    <result column="ModifiedBy" jdbcType="VARCHAR" property="modifiedBy" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    EmpBaseDetailId, EmpBasePeriodId, EmpArchivedId, SSType, SSTypeName, ComCSSPolicyItemId, 
    EmpCSSPolicyItemId, ComBase, EmpBase, ComRatio, EmpRatio, ComAmount, EmpAmount, ComAdditionAmount, 
    EmpAdditionAmount, ComEmpAmount, IsActive, DataChange_CreateTime, DataChange_LastTime, 
    CreatedBy, ModifiedBy
  </sql>
</mapper>