<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.socialsecurity.dao.SsEmpBaseAdjustMapper">
  <resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.socialsecurity.entity.SsEmpBaseAdjust">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="EmpBaseAdjustId" jdbcType="BIGINT" property="empBaseAdjustId" />
    <result column="EmpArchivedId" jdbcType="VARCHAR" property="empArchivedId" />
    <result column="EmployeeTaskId" jdbcType="VARCHAR" property="employeeTaskId" />
    <result column="ProcessWay" jdbcType="BIT" property="processWay" />
    <result column="NewBaseAmount" jdbcType="DECIMAL" property="newBaseAmount" />
    <result column="SOCMonth" jdbcType="VARCHAR" property="SOCMonth" />
    <result column="StartMonth" jdbcType="VARCHAR" property="startMonth" />
    <result column="EndMonth" jdbcType="VARCHAR" property="endMonth" />
    <result column="ComDiffSumAmount" jdbcType="DECIMAL" property="comDiffSumAmount" />
    <result column="EmpDiffSumAmount" jdbcType="DECIMAL" property="empDiffSumAmount" />
    <result column="ComEmpSumDiffAmount1" jdbcType="DECIMAL" property="comEmpSumDiffAmount1" />
    <result column="IsActive" jdbcType="BIT" property="isActive" />
    <result column="DataChange_CreateTime" jdbcType="TIMESTAMP" property="dataChangeCreateTime" />
    <result column="DataChange_LastTime" jdbcType="TIMESTAMP" property="dataChangeLastTime" />
    <result column="CreatedBy" jdbcType="VARCHAR" property="createdBy" />
    <result column="ModifiedBy" jdbcType="VARCHAR" property="modifiedBy" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    EmpBaseAdjustId, EmpArchivedId, EmployeeTaskId, ProcessWay, NewBaseAmount, SOCMonth, 
    StartMonth, EndMonth, ComDiffSumAmount, EmpDiffSumAmount, ComEmpSumDiffAmount1, IsActive, 
    DataChange_CreateTime, DataChange_LastTime, CreatedBy, ModifiedBy
  </sql>
</mapper>