<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.socialsecurity.dao.SsMonthlyEmployeeChangeMapper">
  <resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.socialsecurity.dao.model.SsMonthlyEmployeeChange">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="MonthlyEmployeeChangeId" jdbcType="BIGINT" property="monthlyEmployeeChangeId" />
    <result column="SOCMonth" jdbcType="VARCHAR" property="SOCMonth" />
    <result column="LastComputeTime" jdbcType="TIMESTAMP" property="lastComputeTime" />
    <result column="ComputeUserId" jdbcType="VARCHAR" property="computeUserId" />
    <result column="ComAccountId" jdbcType="VARCHAR" property="comAccountId" />
    <result column="IsActive" jdbcType="BIT" property="isActive" />
    <result column="DataChange_CreateTime" jdbcType="TIMESTAMP" property="dataChangeCreateTime" />
    <result column="DataChange_LastTime" jdbcType="TIMESTAMP" property="dataChangeLastTime" />
    <result column="CreatedBy" jdbcType="VARCHAR" property="createdBy" />
    <result column="ModifiedBy" jdbcType="VARCHAR" property="modifiedBy" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    MonthlyEmployeeChangeId, SOCMonth, LastComputeTime, ComputeUserId, ComAccountId, 
    IsActive, DataChange_CreateTime, DataChange_LastTime, CreatedBy, ModifiedBy
  </sql>
</mapper>