<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.socialsecurity.dao.SsMonthlyEmployeeChangeDetailMapper">
  <resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.socialsecurity.entity.SsMonthlyEmployeeChangeDetail">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="MonthlyEmployeeChangeDetailId" jdbcType="BIGINT" property="monthlyEmployeeChangeDetailId" />
    <result column="MonthlyEmployeeChangeId" jdbcType="BIGINT" property="monthlyEmployeeChangeId" />
    <result column="EmployeeId" jdbcType="VARCHAR" property="employeeId" />
    <result column="CostCategory" jdbcType="VARCHAR" property="costCategory" />
    <result column="BaseAmount" jdbcType="DECIMAL" property="baseAmount" />
    <result column="SocialSecurityType" jdbcType="TINYINT" property="socialSecurityType" />
    <result column="SocialSecurityName" jdbcType="VARCHAR" property="socialSecurityName" />
    <result column="ComAmount" jdbcType="DECIMAL" property="comAmount" />
    <result column="EmpAmount" jdbcType="DECIMAL" property="empAmount" />
    <result column="ComCompensatedAmount" jdbcType="DECIMAL" property="comCompensatedAmount" />
    <result column="EmpCompensatedAmount" jdbcType="DECIMAL" property="empCompensatedAmount" />
    <result column="OnePayment" jdbcType="DECIMAL" property="onePayment" />
    <result column="IsActive" jdbcType="BIT" property="isActive" />
    <result column="DataChange_CreateTime" jdbcType="TIMESTAMP" property="dataChangeCreateTime" />
    <result column="DataChange_LastTime" jdbcType="TIMESTAMP" property="dataChangeLastTime" />
    <result column="CreateBy" jdbcType="VARCHAR" property="createBy" />
    <result column="ModifiedBy" jdbcType="VARCHAR" property="modifiedBy" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    MonthlyEmployeeChangeDetailId, MonthlyEmployeeChangeId, EmployeeId, CostCategory, 
    BaseAmount, SocialSecurityType, SocialSecurityName, ComAmount, EmpAmount, ComCompensatedAmount, 
    EmpCompensatedAmount, OnePayment, IsActive, DataChange_CreateTime, DataChange_LastTime, 
    CreateBy, ModifiedBy
  </sql>
</mapper>