<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.socialsecurity.dao.SsMonthlyCompanyPayItemMapper">
  <resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.socialsecurity.entity.SsMonthlyCompanyPayItem">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="MonthlyCompanyPayItemId" jdbcType="BIGINT" property="monthlyCompanyPayItemId" />
    <result column="MonthlyCompanyPayDetailId" jdbcType="BIGINT" property="monthlyCompanyPayDetailId" />
    <result column="SSType" jdbcType="TINYINT" property="SSType" />
    <result column="SSName" jdbcType="VARCHAR" property="SSName" />
    <result column="ComAmount" jdbcType="DECIMAL" property="comAmount" />
    <result column="EmpAmount" jdbcType="DECIMAL" property="empAmount" />
    <result column="SubTotalAmount" jdbcType="DECIMAL" property="subTotalAmount" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    MonthlyCompanyPayItemId, MonthlyCompanyPayDetailId, SSType, SSName, ComAmount, EmpAmount, 
    SubTotalAmount
  </sql>
</mapper>