<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.socialsecurity.dao.SsStatementMapper">
  <resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.socialsecurity.dao.model.SsStatement">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="StatementId" jdbcType="BIGINT" property="statementId" />
    <result column="ComAccountId" jdbcType="VARCHAR" property="comAccountId" />
    <result column="SOCMonth" jdbcType="VARCHAR" property="SOCMonth" />
    <result column="ImpFileType" jdbcType="VARCHAR" property="impFileType" />
    <result column="ImpFileName" jdbcType="VARCHAR" property="impFileName" />
    <result column="ImpFilePath" jdbcType="VARCHAR" property="impFilePath" />
    <result column="StatementUserId" jdbcType="VARCHAR" property="statementUserId" />
    <result column="StatementTime" jdbcType="TIMESTAMP" property="statementTime" />
    <result column="ImpRecordSum" jdbcType="INTEGER" property="impRecordSum" />
    <result column="DiffSumByEmp" jdbcType="INTEGER" property="diffSumByEmp" />
    <result column="DiffSumByItem" jdbcType="INTEGER" property="diffSumByItem" />
    <result column="IsActive" jdbcType="BIT" property="isActive" />
    <result column="DataChange_CreateTime" jdbcType="TIMESTAMP" property="dataChangeCreateTime" />
    <result column="DataChange_LastTime" jdbcType="TIMESTAMP" property="dataChangeLastTime" />
    <result column="CreatedBy" jdbcType="VARCHAR" property="createdBy" />
    <result column="ModifiedBy" jdbcType="VARCHAR" property="modifiedBy" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    StatementId, ComAccountId, SOCMonth, ImpFileType, ImpFileName, ImpFilePath, StatementUserId, 
    StatementTime, ImpRecordSum, DiffSumByEmp, DiffSumByItem, IsActive, DataChange_CreateTime, 
    DataChange_LastTime, CreatedBy, ModifiedBy
  </sql>
</mapper>