<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.socialsecurity.dao.SsStatementImpMapper">
  <resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.socialsecurity.dao.model.SsStatementImp">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="StatementImpId" jdbcType="BIGINT" property="statementImpId" />
    <result column="StatementId" jdbcType="BIGINT" property="statementId" />
    <result column="IsActive" jdbcType="BIT" property="isActive" />
    <result column="DataChange_CreateTime" jdbcType="TIMESTAMP" property="dataChangeCreateTime" />
    <result column="DataChange_lastTime" jdbcType="TIMESTAMP" property="dataChangelastTime" />
    <result column="CreatedBy" jdbcType="VARCHAR" property="createdBy" />
    <result column="ModifiedBy" jdbcType="VARCHAR" property="modifiedBy" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    StatementImpId, StatementId, IsActive, DataChange_CreateTime, DataChange_lastTime, 
    CreatedBy, ModifiedBy
  </sql>
</mapper>