<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.socialsecurity.soccommandservice.dao.SsAccountRatioMapper">


    <update id="updateEndMonthByAccId" parameterType="com.ciicsh.gto.afsupportcenter.socialsecurity.soccommandservice.entity.SsAccountRatio">
        UPDATE
        ss_account_ratio
        SET end_month=#{endMonth}
        WHERE com_account_id =#{comAccountId} AND end_month IS NULL
    </update>
</mapper>
