<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.socialsecurity.soccommandservice.dao.SsEmpTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMapDto" extends="BaseResultMap"
               type="com.ciicsh.gto.afsupportcenter.socialsecurity.soccommandservice.dto.SsEmpTaskDTO">
        <result column="emp_name" property="empName" />
        <result column="employee_id" property="employeeId" />
        <result column="id_Num" property="idNum" />

        <result column="company_id" property="companyId" />
        <result column="title" property="title" />

        <result column="企业社保账号com_account_id" property="comAccountId" />
        <result column="ss_pwd" property="ssPwd" />
        <result column="settlement_area" property="settlementArea" />
        <result column="ss_account_type" property="ssAccountType" />

        <result column="emp_classify" property="empClassify" />
        <result column="start_month" property="startMonth" />
    </resultMap>

    <select id="employeeOperatorQuery" resultMap="BaseResultMapDto">
      select et.*
        ,e.emp_name , e.employee_id , e.id_num
        ,ca.com_account_id,ca.ss_pwd,ca.settlement_area,ca.ss_account_type
        ,c.company_id,c.title
        ,ea.emp_classify,ea.start_month
        from ss_emp_task et
        LEFT JOIN ss_emp_archive ea on ea.emp_archived_id = et.emp_archived_id
        LEFT JOIN cmy_company c on ea.company_id = c.company_id
        LEFT JOIN cmy_employee e on ea.employee_id = e.employee_id
        LEFT JOIN ss_account_com_tie ssac on ssac.company_id = c.company_id
        LEFT JOIN ss_com_account ca on ca.com_account_id = ssac.com_account_id

    </select>
</mapper>
