<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.socialsecurity.soccommandservice.dao.SsEmpArchiveMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMapDTO" extends="BaseResultMap"
               type="com.ciicsh.gto.afsupportcenter.socialsecurity.soccommandservice.dto.SsEmpArchiveDTO">
        <result column="employee_name" property="employeeName"/>
        <result column="id_num" property="idNum"/>
    </resultMap>

    <select id="queryByEmpTaskId" resultMap="BaseResultMapDTO">
        select
            ea.*,
            e.employee_name,
            e.id_num
            from ss_emp_archive ea
            LEFT JOIN emp_employee e on e.employee_id = ea.employee_id
            WHERE 1 = 1
            and ea.is_active = 1
            and EXISTS(select 1 from ss_emp_task et where et.is_active = 1 and et.emp_archive_id = ea.emp_archive_id and et.emp_task_id = #{empTaskId})
    </select>
</mapper>
