<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.socialsecurity.soccommandservice.dao.SsEmpTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMapDto" extends="BaseResultMap"
               type="com.ciicsh.gto.afsupportcenter.socialsecurity.soccommandservice.dto.SsEmpTaskDTO">
        <result column="emp_name" property="empName"/>
        <result column="employee_id" property="employeeId"/>
        <result column="id_num" property="idNum"/>

        <result column="company_id" property="companyId"/>
        <result column="title" property="title"/>

        <result column="com_account_id" property="comAccountId"/>
        <result column="ss_pwd" property="ssPwd"/>
        <result column="settlement_area" property="settlementArea"/>
        <result column="ss_account_type" property="ssAccountType"/>
        <result column="ss_account" property="ssAccount"/>

        <result column="emp_classify" property="empClassify"/>
        <result column="start_month" property="startMonth"/>
    </resultMap>

    <select id="employeeOperatorQuery" resultMap="BaseResultMapDto">
        select et.*
        ,e.employee_name emp_name , e.employee_id , e.id_num
        ,ca.com_account_id,ca.ss_pwd,ca.settlement_area,ca.ss_account_type,ca.ss_account
        ,c.company_id,c.title
        ,ea.emp_classify,ea.start_month
        from ss_emp_task et
        LEFT JOIN ss_emp_archive ea on ea.emp_archived_id = et.emp_archived_id
        LEFT JOIN cmy_company c on ea.company_id = c.company_id
        LEFT JOIN emp_employee e on ea.employee_id = e.employee_id
        LEFT JOIN ss_account_com_tie ssac on ssac.company_id = c.company_id
        LEFT JOIN ss_com_account ca on ca.com_account_id = ssac.com_account_id
        <where>
            and et.is_active = 1
            and ea.is_active = 1
            and ssac.is_active = 1
            and ca.is_active = 1
            <if test="empName != null">
                and e.emp_name LIKE CONCAT('%',#{empName},'%')
            </if>
            <if test="settlementArea != null">
                and ca.settlement_area = #{settlementArea}
            </if>
            <if test="ssAccountType != null">
                and ca.ss_account_type = #{ssAccountType}
            </if>
            <if test="empClassify != null">
                and ea.emp_classify = #{empClassify}
            </if>
            <if test="ssAccount != null">
                and ca.ss_account = #{ssAccount}
            </if>
            <if test="companyId != null">
                and c.company_id LIKE CONCAT('%',#{companyId},'%')
            </if>
            <if test="idNum != null">
                and e.id_num LIKE CONCAT('%',#{idNum},'%')
            </if>
            <if test="title != null">
                and c.title = #{title}
            </if>
            <if test="employeeId != null">
                and e.employee_id LIKE CONCAT('%',#{employeeId},'%')
            </if>
            <if test="urgent != null">
                and et.urgent = #{urgent}
            </if>
            <if test="startMonth != null">
                and ea.start_month = #{startMonth}
            </if>

            <!-- operatorType 操作类型，1 常规操作、2 特殊操作，默认常规操作 -->

            <!--
                任务处理状态:、1 本月未处理、2 下月未处理、3 处理中、4 已完成、5 批退，其中未处理需要特别处理
            -->
            <choose>
                <when test="operatorType == 2">
                    <if test="beginSubmitTime != null and endSubmitTime != null">
                        and date_format(et.submit_time,'%Y-%m-%d') BETWEEN #{beginSubmitTime} AND #{endSubmitTime}
                    </if>
                </when>
                <otherwise>
                    <choose>
                        <when test="taskStatus == null">
                            and et.task_status not in (3,4,5)
                        </when>
                        <when test="taskStatus == 1">
                            and et.submit_time <![CDATA[ <= ]]> CURTIME()
                        </when>
                        <when test="taskStatus == 2">
                            and et.submit_time > CURTIME()
                        </when>
                        <otherwise>
                            and et.task_status = #{taskStatus}
                        </otherwise>
                    </choose>
                </otherwise>
            </choose>


            <!--
                任务类型，DicItem.DicItemValue 1:新进：2：转入 3调整 4 补缴 5 转出 6终止 7退账 8 提取
            -->
            <if test="taskCategories != null">
                and et.task_category in
                <foreach collection="taskCategories" index="index" item="task_category" open="(" separator=","
                         close=")">#{task_category}
                </foreach>
            </if>
        </where>
    </select>
</mapper>
