<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.socialsecurity.dao.SsEmployeeTaskMapper">
  <resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.socialsecurity.entity.SsEmployeeTask">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="EmployeeTaskId" jdbcType="BIGINT" property="employeeTaskId" />
    <result column="EntityId" jdbcType="VARCHAR" property="entityId" />
    <result column="CustomerId" jdbcType="VARCHAR" property="customerId" />
    <result column="EmpArchiveId" jdbcType="VARCHAR" property="empArchiveId" />
    <result column="TaskCategory" jdbcType="TINYINT" property="taskCategory" />
    <result column="ExpireDate" jdbcType="DATE" property="expireDate" />
    <result column="SubmitterId" jdbcType="VARCHAR" property="submitterId" />
    <result column="SubmitterDeptId" jdbcType="VARCHAR" property="submitterDeptId" />
    <result column="Urgent" jdbcType="TINYINT" property="urgent" />
    <result column="SubmitTime" jdbcType="TIMESTAMP" property="submitTime" />
    <result column="SubmitterRemark" jdbcType="VARCHAR" property="submitterRemark" />
    <result column="TaskFormContent" jdbcType="CHAR" property="taskFormContent" />
    <result column="ChatHistory" jdbcType="CHAR" property="chatHistory" />
    <result column="TaskStatus" jdbcType="INTEGER" property="taskStatus" />
    <result column="HandleUserId" jdbcType="VARCHAR" property="handleUserId" />
    <result column="HandleTime" jdbcType="TIMESTAMP" property="handleTime" />
    <result column="EmpSOCSerial" jdbcType="VARCHAR" property="empSOCSerial" />
    <result column="HandleWay" jdbcType="TINYINT" property="handleWay" />
    <result column="HandleMonth" jdbcType="VARCHAR" property="handleMonth" />
    <result column="HandleRemark" jdbcType="VARCHAR" property="handleRemark" />
    <result column="RejectionRemark" jdbcType="VARCHAR" property="rejectionRemark" />
    <result column="HandleStatus" jdbcType="TINYINT" property="handleStatus" />
    <result column="StrartHandleDate" jdbcType="DATE" property="strartHandleDate" />
    <result column="SendCheckDate" jdbcType="DATE" property="sendCheckDate" />
    <result column="FinishDate" jdbcType="DATE" property="finishDate" />
    <result column="IsActive" jdbcType="BIT" property="isActive" />
    <result column="DataChange_CreateTime" jdbcType="TIMESTAMP" property="dataChangeCreateTime" />
    <result column="DataChange_LastTime" jdbcType="TIMESTAMP" property="dataChangeLastTime" />
    <result column="CreatedBy" jdbcType="VARCHAR" property="createdBy" />
    <result column="ModifiedBy" jdbcType="VARCHAR" property="modifiedBy" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    EmployeeTaskId, EntityId, CustomerId, EmpArchiveId, TaskCategory, ExpireDate, SubmitterId, 
    SubmitterDeptId, Urgent, SubmitTime, SubmitterRemark, TaskFormContent, ChatHistory, 
    TaskStatus, HandleUserId, HandleTime, EmpSOCSerial, HandleWay, HandleMonth, HandleRemark, 
    RejectionRemark, HandleStatus, StrartHandleDate, SendCheckDate, FinishDate, IsActive, 
    DataChange_CreateTime, DataChange_LastTime, CreatedBy, ModifiedBy
  </sql>
</mapper>