<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.socialsecurity.soccommandservice.dao.SsStatementResultMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.socialsecurity.soccommandservice.entity.SsStatementResult">
        <id column="statement_result_id" property="statementResultId" />
        <result column="statement_id" property="statementId" />
        <result column="employee_id" property="employeeId" />
        <result column="change_type" property="changeType" />
        <result column="change_type_name" property="changeTypeName" />
        <result column="project_type" property="projectType" />
        <result column="project_type_name" property="projectTypeName" />
        <result column="ss_type" property="ssType" />
        <result column="ss_type_name" property="ssTypeName" />
        <result column="imp_amount" property="impAmount" />
        <result column="ss_amount" property="ssAmount" />
        <result column="diff_amount" property="diffAmount" />
        <result column="diff_headcount" property="diffHeadcount" />
        <result column="is_active" property="isActive" />
        <result column="created_time" property="createdTime" />
        <result column="modified_time" property="modifiedTime" />
        <result column="created_by" property="createdBy" />
        <result column="modified_by" property="modifiedBy" />
    </resultMap>

</mapper>
