<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.healthmedical.commandservice.dao.UninsuredMedicalMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.healthmedical.commandservice.entity.po.UninsuredMedicalPO">
		<id column="um_id" property="umId" />
		<result column="employee_id" property="employeeId" />
		<result column="money_type" property="moneyType" />
		<result column="case_type" property="caseType" />
		<result column="dimission_date" property="dimissionDate" />
		<result column="surrender_date" property="surrenderDate" />
		<result column="joint_person_name" property="jointPersonName" />
		<result column="joint_person_birth_date" property="jointPersonBirthDate" />
		<result column="medical_remark" property="medicalRemark" />
		<result column="case_money" property="caseMoney" />
		<result column="invoice_number" property="invoiceNumber" />
		<result column="is_active" property="isActive" />
		<result column="created_time" property="createdTime" />
		<result column="modified_time" property="modifiedTime" />
		<result column="created_by" property="createdBy" />
		<result column="modified_by" property="modifiedBy" />
	</resultMap>

</mapper>
