<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.housefund.siteservice.dao.HfPaymentMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.housefund.siteservice.entity.HfPayment">
		<id column="payment_id" property="paymentId" />
		<result column="payment_batch_num" property="paymentBatchNum" />
		<result column="total_application_amonut" property="totalApplicationAmonut" />
		<result column="total_emp_count" property="totalEmpCount" />
		<result column="payment_month" property="paymentMonth" />
		<result column="payment_state" property="paymentState" />
		<result column="create_payment_user" property="createPaymentUser" />
		<result column="create_payment_date" property="createPaymentDate" />
		<result column="finance_payment_date" property="financePaymentDate" />
		<result column="hf_account_type" property="hfAccountType" />
		<result column="total_emp" property="totalEmp" />
		<result column="is_active" property="isActive" />
		<result column="created_time" property="createdTime" />
		<result column="modified_time" property="modifiedTime" />
		<result column="created_by" property="createdBy" />
		<result column="modified_by" property="modifiedBy" />
	</resultMap>

    <resultMap id="PaymentComDtoResultMap" type="com.ciicsh.gto.settlementcenter.payment.cmdapi.dto.PayapplyCompanyProxyDTO">
        <result column="company_id" property="companyId" />
        <result column="title" property="companyName" />
        <result column="bank_account_id" property="companyBankAccountId" />
        <result column="bank_account"  property="companyBankAccount" />
        <result column="refund_deducted"   property="noticebillAmount" />
        <result column="adjust_deducted"   property="deductionAmount" />
        <result column="payment_month"   property="payMonth" />
        <result column="total_pay_amount"   property="payAmount" />
        <result column="payment_way"   property="isAdvance" />
    </resultMap>

    <resultMap id="PaymentEmpDtoResultMap" type="com.ciicsh.gto.settlementcenter.payment.cmdapi.dto.PayapplyEmployeeProxyDTO">
        <result column="employee_id" property="employeeId" />
        <result column="employee_name" property="employeeName" />
        <result column="company_id" property="companyId" />
        <result column="payment_month"  property="payMonth" />
        <result column="total_pay_amount"  property="payAmount" />
        <result column="emp_payment_status"   property="isAdvance" />
    </resultMap>

</mapper>
