<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.employmanagement.employcommandservice.dao.AmArchiveUseMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.employmanagement.employcommandservice.entity.AmArchiveUse">
		<id column="archive_use_id" property="archiveUseId" />
		<result column="use_borrow" property="useBorrow" />
		<result column="employee_id" property="employeeId" />
		<result column="material" property="material" />
		<result column="purpose" property="purpose" />
		<result column="use_man" property="useMan" />
		<result column="use_date" property="useDate" />
		<result column="handle_man" property="handleMan" />
		<result column="return_date" property="returnDate" />
		<result column="remark" property="remark" />
		<result column="is_active" property="isActive" />
		<result column="created_time" property="createdTime" />
		<result column="modified_time" property="modifiedTime" />
		<result column="created_by" property="createdBy" />
		<result column="modified_by" property="modifiedBy" />
		<result column="archive_id" property="archiveId" />
        <result column="type" property="type" />

	</resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMapDTO" extends="BaseResultMap"
               type="com.ciicsh.gto.afsupportcenter.employmanagement.employcommandservice.bo.AmArchiveUseBO">
    </resultMap>

    <select id="queryAmArchiveUseList" resultMap="BaseResultMapDTO">
        select * from  am_archive_use  where is_active = 1 and employee_id = #{employeeId} and archive_id = #{archiveId} and use_borrow = #{useBorrow}
    </select>

    <update id="deleteAmArchiveUse">
        update  am_archive_use  set is_active = 0  where archive_use_id = #{archiveUseId}
    </update>

</mapper>
