<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.employmanagement.employcommandservice.dao.AmCompanySetMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.employmanagement.employcommandservice.entity.AmCompanySet">
		<id column="company_set_id" property="companySetId" />
		<result column="company_id" property="companyId" />
		<result column="company_special0" property="companySpecial0" />
		<result column="company_special1" property="companySpecial1" />
		<result column="company_special2" property="companySpecial2" />
		<result column="company_special3" property="companySpecial3" />
		<result column="company_special4" property="companySpecial4" />
		<result column="company_special5" property="companySpecial5" />
		<result column="company_special6" property="companySpecial6" />
		<result column="company_special7" property="companySpecial7" />
		<result column="company_special8" property="companySpecial8" />
		<result column="company_special9" property="companySpecial9" />
		<result column="company_special10" property="companySpecial10" />
		<result column="company_special11" property="companySpecial11" />
		<result column="company_special12" property="companySpecial12" />
		<result column="company_special13" property="companySpecial13" />
		<result column="company_special14" property="companySpecial14" />
		<result column="company_special15" property="companySpecial15" />
		<result column="company_special16" property="companySpecial16" />
		<result column="company_special17" property="companySpecial17" />
		<result column="company_special18" property="companySpecial18" />
		<result column="company_special19" property="companySpecial19" />
		<result column="company_special20" property="companySpecial20" />
		<result column="company_special21" property="companySpecial21" />
		<result column="company_special22" property="companySpecial22" />
		<result column="remark" property="remark" />
		<result column="employ_special" property="employSpecial" />
		<result column="refuse_special" property="refuseSpecial" />
		<result column="archive_special" property="archiveSpecial" />
		<result column="social_special" property="socialSpecial" />
		<result column="key" property="key" />
		<result column="key_type" property="keyType" />
		<result column="key_code" property="keyCode" />
		<result column="key_pwd" property="keyPwd" />
		<result column="key_status" property="keyStatus" />
		<result column="special" property="special" />
		<result column="mail_continue" property="mailContinue" />
		<result column="mail_adress" property="mailAdress" />
		<result column="recipient" property="recipient" />
		<result column="post_code" property="postCode" />
		<result column="phone" property="phone" />
		<result column="is_active" property="isActive" />
		<result column="created_by" property="createdBy" />
		<result column="created_time" property="createdTime" />
		<result column="modified_by" property="modifiedBy" />
		<result column="modified_time" property="modifiedTime" />
	</resultMap>

    <!-- 通用查询映射结果 -->

    <resultMap id="BaseResultMapDTO" extends="BaseResultMap"
               type="com.ciicsh.gto.afsupportcenter.employmanagement.employcommandservice.bo.AmCompanySetBO">
    </resultMap>

    <resultMap id="BaseResultCompanyMapDTO" type="com.ciicsh.gto.afsupportcenter.employmanagement.employcommandservice.api.dto.CompanyDTO">
    </resultMap>

    <select id="queryAmCompanySet" resultMap="BaseResultMapDTO">
        SELECT  a.*,b.organization_code  from  am_company_set a LEFT JOIN sal_company b on a.company_id = b.company_id
        where 1=1
        <if test="companyId!=null">
            and a.company_id = #{companyId}
        </if>
    </select>

    <select id="queryCompanyDTO" resultMap="BaseResultCompanyMapDTO">
        SELECT  mail_continue,mail_adress,recipient,post_code,phone,company_id from am_company_set where company_id = #{companyId}
    </select>


</mapper>
