<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.employmanagement.employcommandservice.dao.AmInjuryMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.employmanagement.employcommandservice.entity.AmInjury">
		<id column="injury_id" property="injuryId" />
		<result column="archive_id" property="archiveId" />
		<result column="affirm_date" property="affirmDate" />
		<result column="evaluation" property="evaluation" />
		<result column="declare_unit" property="declareUnit" />
		<result column="if_giveup_evaluation" property="ifGiveupEvaluation" />
		<result column="if_complete" property="ifComplete" />
		<result column="operate_man" property="operateMan" />
		<result column="operate_date" property="operateDate" />
		<result column="is_active" property="isActive" />
		<result column="created_time" property="createdTime" />
		<result column="modified_time" property="modifiedTime" />
		<result column="created_by" property="createdBy" />
		<result column="modified_by" property="modifiedBy" />
	</resultMap>

</mapper>
