<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.employmanagement.employcommandservice.dao.AmRemarkMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.employmanagement.employcommandservice.entity.AmRemark">
		<id column="remark_id" property="remarkId" />
		<result column="remark_content" property="remarkContent" />
		<result column="remark_type" property="remarkType" />
		<result column="remark_man" property="remarkMan" />
		<result column="remark_date" property="remarkDate" />
		<result column="is_active" property="isActive" />
		<result column="created_time" property="createdTime" />
		<result column="modified_time" property="modifiedTime" />
		<result column="created_by" property="createdBy" />
		<result column="modified_by" property="modifiedBy" />
        <result column="employee_id" property="employeeId" />
        <result column="emp_task_id" property="empTaskId" />
	</resultMap>

    <resultMap id="BaseResultMapDTO" extends="BaseResultMap"
               type="com.ciicsh.gto.afsupportcenter.employmanagement.employcommandservice.bo.AmRemarkBO">
    </resultMap>

    <select id="queryAmRemark" resultMap="BaseResultMapDTO">
        SELECT
        remark_id,remark_content,remark_type,remark_man,remark_date
        FROM
        am_remark
        WHERE
        emp_task_id = #{empTaskId}
        and remark_type = #{remarkType}
        and  is_active = 1
        order by created_time desc
    </select>

    <update id="deleteAmRemark">
        update  am_remark set is_active = 0 where  remark_id = #{remarkId}
    </update>

</mapper>
