<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.healthmedical.dao.AcceptanceDetailedMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.healthmedical.entity.po.AcceptanceDetailed">
        <id column="detailed_id" property="detailedId"/>
        <result column="zlt_sn" property="zltSn"/>
        <result column="dossier_number" property="dossierNumber"/>
        <result column="employee_id" property="employeeId"/>
        <result column="employee_name" property="employeeName"/>
        <result column="id_num" property="idNum"/>
        <result column="health_care_tag" property="healthCareTag"/>
        <result column="invoice_number" property="invoiceNumber"/>
        <result column="compensation_amount" property="compensationAmount"/>
        <result column="clinic_date" property="clinicDate"/>
        <result column="acceptance_date" property="acceptanceDate"/>
        <result column="medical_institution" property="medicalInstitution"/>
        <result column="disease_name" property="diseaseName"/>
        <result column="status" property="status"/>
        <result column="hepei_amount" property="hepeiAmount"/>
        <result column="closed_status" property="closedStatus"/>
        <result column="closed_reason" property="closedReason"/>
        <result column="closed_date" property="closedDate"/>
        <result column="finanical_amount" property="finanicalAmount"/>
        <result column="insurance_policy_amount" property="insurancePolicyAmount"/>
        <result column="guoshou_amount" property="guoshouAmount"/>
        <result column="guoshou_closed_date" property="guoshouClosedDate"/>
        <result column="closed_remark" property="closedRemark"/>
        <result column="invoice_type" property="invoiceType"/>
        <result column="account_amount" property="accountAmount"/>
        <result column="self_pay_amount" property="selfPayAmount"/>
        <result column="whole_plan_amount" property="wholePlanAmount"/>
        <result column="attach_amount" property="attachAmount"/>
        <result column="own_expense_amount" property="ownExpenseAmount"/>
        <result column="un_health_care_amount" property="unHealthCareAmount"/>
        <result column="application_amount" property="applicationAmount"/>
        <result column="approved_amount" property="approvedAmount"/>
        <result column="other_amount" property="otherAmount"/>
        <result column="other_reason" property="otherReason"/>
        <result column="other_reject_amount" property="otherRejectAmount"/>
        <result column="other_reject_reason" property="otherRejectReason"/>
        <result column="adjust_amount" property="adjustAmount"/>
        <result column="adjust_reason" property="adjustReason"/>
        <result column="company_money" property="companyMoney"/>
        <result column="company_id" property="companyId"/>
        <result column="claim_amount" property="claimAmount"/>
        <result column="insured_name" property="insuredName"/>
        <result column="cs_payment_amount" property="csPaymentAmount"/>
        <result column="type" property="type"/>
        <result column="insurance_company" property="insuranceCompany"/>
        <result column="acceptance_id" property="acceptanceId"/>
        <result column="insurance_company_money" property="insuranceCompanyMoney"/>
        <result column="created_time" property="createdTime"/>
    </resultMap>

</mapper>
