<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.healthmedical.dao.AcceptanceSummaryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.healthmedical.entity.po.AcceptanceSummary">
        <id column="summary_id" property="summaryId"/>
        <result column="zlt_sn" property="zltSn"/>
        <result column="dossier_number" property="dossierNumber"/>
        <result column="employee_id" property="employeeId"/>
        <result column="employee_name" property="employeeName"/>
        <result column="invoice_number" property="invoiceNumber"/>
        <result column="total_compensation_amount" property="totalCompensationAmount"/>
        <result column="total_hepei_amount" property="totalHepeiAmount"/>
        <result column="total_application_amount" property="totalApplicationAmount"/>
        <result column="total_approved_amount" property="totalApprovedAmount"/>
        <result column="total_finanical_amount" property="totalFinanicalAmount"/>
        <result column="total_insurance_policy_amount" property="totalInsurancePolicyAmount"/>
        <result column="total_guoshou_amount" property="totalGuoshouAmount"/>
        <result column="total_company_amount" property="totalCompanyAmount"/>
        <result column="input_date" property="inputDate"/>
        <result column="company_id" property="companyId"/>
        <result column="reimbursement_id" property="reimbursementId"/>
        <result column="audit" property="audit"/>
        <result column="audit_date" property="auditDate"/>
        <result column="success" property="success"/>
        <result column="pay_way" property="payWay"/>
        <result column="bank_card" property="bankCard"/>
        <result column="claim_date" property="claimDate"/>
        <result column="total_claim_amount" property="totalClaimAmount"/>
        <result column="insured_name" property="insuredName"/>
        <result column="auditor" property="auditor"/>
        <result column="pay_record" property="payRecord"/>
        <result column="claim_remark" property="claimRemark"/>
        <result column="total_cs_payment_amount" property="totalCsPaymentAmount"/>
        <result column="type" property="type"/>
        <result column="insurance_company" property="insuranceCompany"/>
        <result column="acceptance_id" property="acceptanceId"/>
        <result column="insurance_company_money" property="insuranceCompanyMoney"/>
        <result column="insurance_company_money_date" property="insuranceCompanyMoneyDate"/>
        <result column="insurance_company_money_sn" property="insuranceCompanyMoneySn"/>
        <result column="pay_percentage" property="payPercentage"/>
        <result column="cs_percentage" property="csPercentage"/>
        <result column="mianpei_amount" property="mianpeiAmount"/>
        <result column="total_insurance_company_money" property="totalInsuranceCompanyMoney"/>
        <result column="processing" property="processing"/>
        <result column="created_time" property="createdTime"/>
    </resultMap>

</mapper>
