<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.healthmedical.dao.EmployeePaymentApplyMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.healthmedical.entity.po.EmployeePaymentApplyPO">
		<id column="payment_apply_id" property="paymentApplyId" />
        <result column="employee_id" property="employeeId" />
        <result column="employee_name" property="employeeName" />
        <result column="company_id" property="companyId" />
        <result column="company_name" property="companyName" />
		<result column="apply_type_id" property="applyTypeId" />
		<result column="payment_type_id" property="paymentTypeId" />
		<result column="pre_tax_total_amount" property="preTaxTotalAmount" />
		<result column="tax_amount" property="taxAmount" />
		<result column="pay_total_amount" property="payTotalAmount" />
		<result column="invoice_reimbursement" property="invoiceReimbursement" />
		<result column="invoice_number" property="invoiceNumber" />
		<result column="remark" property="remark" />
		<result column="status" property="status" />
		<result column="is_active" property="isActive" />
		<result column="created_time" property="createdTime" />
		<result column="modified_time" property="modifiedTime" />
		<result column="created_by" property="createdBy" />
		<result column="modified_by" property="modifiedBy" />
	</resultMap>

    <!-- 关联查询映射结果 -->
    <resultMap id="JoinResultMap" type="com.ciicsh.gto.afsupportcenter.healthmedical.entity.bo.EmployeePaymentBO">
        <result column="payment_apply_id" property="paymentApplyId" />
        <result column="business_id" property="businessId" />
        <result column="company_id" property="companyId" />
        <result column="company_name" property="companyName" />
        <result column="employee_id" property="employeeId" />
        <result column="employee_name" property="employeeName" />
        <result column="pay_amount" property="payAmount" />
        <result column="tax_amount" property="taxAmount" />
        <result column="bank_account" property="bankAccount" />
        <result column="account_name" property="accountName" />
        <result column="bank_id" property="bankId" />
        <result column="bank_code" property="bankCode" />
        <result column="bank_name" property="bankName" />
        <result column="province_code" property="provinceCode" />
        <result column="city_code" property="cityCode" />
    </resultMap>

    <!-- 银行信息不全映射结果 -->
    <resultMap id="PartialResultMap" type="com.ciicsh.gto.afsupportcenter.healthmedical.entity.bo.EmpBankRefundBO">
        <result column="payment_apply_id" property="applyId" />
        <result column="business_id" property="businessId" />
        <result column="business_type" property="businessType" />
        <result column="company_id" property="companyId" />
        <result column="employee_id" property="employeeId" />
        <result column="customer_manager" property="customerManager" />
        <result column="service_center" property="serviceCenter" />
        <result column="pay_amount" property="payAmount" />
        <result column="refund_date" property="refundDate" />
        <result column="reason" property="reason" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        payment_apply_id, employee_id, apply_type_id, payment_type_id, pre_tax_total_amount, tax_amount, pay_total_amount, invoice_reimbursement, invoice_number, remark, status, is_active, created_time, modified_time, created_by, modified_by
    </sql>

    <!-- 关联查询结果列 -->
    <sql id="Join_Column_List">
        p.payment_apply_id, 2 AS business_id, p.company_id, p.company_name, p.employee_id, p.employee_name, p.pay_total_amount AS pay_amount, p.tax_amount, b.card_num AS bank_account, b.account_name, b.bankcard_type AS bank_id, b.bank_code, b.deposit_bank AS bank_name, b.province_code, b.city_code
    </sql>

    <!-- 关联查询结果列 -->
    <sql id="Partial_Column_List">
        p.payment_apply_id, 2 AS business_id, 1 AS business_type, p.company_id, p.employee_id, p.pay_total_amount AS pay_amount, p.created_by AS customer_manager, "外企内控中心" AS service_center, now() AS refund_date, "无卡" AS reason
    </sql>

    <!-- 关联查询结果列 -->
    <sql id="Refund_Column_List">
        p.payment_apply_id, 2 AS business_id, 1 AS business_type, p.company_id, p.employee_id, p.pay_total_amount AS pay_amount, p.created_by AS customer_manager, "外企内控中心" AS service_center, now() AS refund_date, "银行卡信息错误" AS reason
    </sql>

    <!-- 需同步数据 -->
    <select id="selectSyncApply" resultMap="JoinResultMap">
        SELECT
          <include refid="Join_Column_List"/>
        FROM
          gtobusinessdb.cmy_af_employee_payment_apply p, emp_company_bankcard_relation cbr, emp_bankcard b
        WHERE
          b.bankcard_id = cbr.bankcard_id
        AND
          cbr.company_id = p.company_id
        AND
          b.employee_id = p.employee_id
        AND
          p.status = 3
        AND
          cbr.usage = 2
        AND
          b.status = 1
        AND
          p.is_active = 1
        AND
         cbr.is_active = 1
    </select>

    <!-- 3：审核未同步 -->
    <select id="selectAudited" resultMap="JoinResultMap">
        SELECT
          <include refid="Join_Column_List"/>
        FROM
          gtobusinessdb.cmy_af_employee_payment_apply p, emp_company_bankcard_relation cbr, emp_bankcard b
        WHERE
          b.bankcard_id = cbr.bankcard_id
        AND
          cbr.company_id = p.company_id
        AND
          b.employee_id = p.employee_id
        AND
          p.status = 3
        AND
          cbr.usage = 2
        AND
          b.status = 1
        AND
          p.is_active = 1
        AND
          cbr.is_active = 1
    </select>

    <!-- 7：银行退票 -->
    <select id="selectRefund" resultMap="JoinResultMap">
        SELECT
          <include refid="Join_Column_List"></include>
        FROM
            gtobusinessdb.cmy_af_employee_payment_apply p,
            gtobusinessdb.emp_bank_refund r,
            gtobusinessdb.emp_company_bankcard_relation cbr,
            gtobusinessdb.emp_bankcard b
        WHERE
          p.status = 7
        AND
          p.payment_apply_id = r.apply_id
        AND
          r.business_id = 2
        AND
          r.modified_time <![CDATA[ >= ]]> DATE_FORMAT(CURDATE(),'%Y-%m-%d %H:%i:%s')
        AND
          r.modified_time <![CDATA[ <= ]]> DATE_ADD(CURDATE(), INTERVAL 86399 SECOND)
        AND
          r. status = 1
        AND
          r.company_id = cbr.company_id
        AND
          cbr.bankcard_id = b.bankcard_id
        AND
          r.employee_id = p.employee_id
        AND
          cbr.usage = 2
        AND
          p.is_active = 1
        AND
          r.is_active = 1
        AND
          cbr.is_active = 1
        AND
          b.status = 1
    </select>

    <!-- 未同步 -->
    <select id="selectUnSyncApply" resultMap="PartialResultMap">
        SELECT
            <include refid="Partial_Column_List"></include>
        FROM
            cmy_af_employee_payment_apply p
        WHERE NOT EXISTS
            (
                SELECT
                    a.payment_apply_id
                FROM
                    gtobusinessdb.cmy_af_employee_payment_apply a, emp_company_bankcard_relation cbr, emp_bankcard b
                WHERE
                    a.payment_apply_id = p.payment_apply_id
                AND
                    b.bankcard_id = cbr.bankcard_id
                AND
                    cbr.company_id = a.company_id
                AND
                    b.employee_id = a.employee_id
                AND
                    a.status = 3
                AND
                    cbr.usage = 2
                AND
                    b.status = 1
                AND
                    a.is_active = 1
                AND
                    cbr.is_active = 1
            UNION
                SELECT
                    r.apply_id
                FROM
                    gtobusinessdb.emp_bank_refund r
                WHERE
                    r.apply_id = p.payment_apply_id
                AND
                    r.business_id = 2
                AND
                    r.status = 0
                AND
                    r.is_active = 1
            )
        AND p. status = 3
        AND p.is_active = 1
    </select>

    <!-- 结算中心推送银行退票 -->
    <select id="selectBankRefund" resultMap="PartialResultMap">
        SELECT
          <include refid="Refund_Column_List"></include>
        FROM
          cmy_af_employee_payment_apply p
        WHERE NOT EXISTS
        (
            SELECT
              a.payment_apply_id
            FROM
              gtobusinessdb.cmy_af_employee_payment_apply a,
              gtobusinessdb.emp_bank_refund r
            WHERE
              a.payment_apply_id = p.payment_apply_id
            AND
              a.payment_apply_id = r.apply_id
            AND
              a.status = 7
            AND
              a.is_active = 1
            AND
              r.business_id = 2
            AND
              r.status = 0
            AND
              r.is_active = 1
        )
        AND p.status = 7
        AND p.is_active = 1
    </select>

    <update id="syncStatus" parameterType="com.ciicsh.gto.afsupportcenter.healthmedical.entity.bo.EmployeePaymentStatusBO">
        UPDATE
            gtobusinessdb.cmy_af_employee_payment_apply p
        SET
            p.status = #{status},
        <if test="remark != null and remark != ''">
            p.remark = #{remark},
        </if>
            p.modified_by = #{modifiedBy, jdbcType=VARCHAR},
            p.modified_time = now()
	    WHERE EXISTS
        (
            SELECT
                d.acceptance_id
            FROM
                hm_payment_apply_detail d
            WHERE
                d.acceptance_id = p.payment_apply_id
            AND
                d.apply_batch_id = #{batchId, jdbcType=INTEGER}
            AND
                d.business_id = #{businessId, jdbcType=INTEGER}
        )
    </update>

    <update id="updateApplyStatus" parameterType="com.ciicsh.gto.afsupportcenter.healthmedical.entity.bo.EmployeePaymentStatusBO">
        UPDATE
            gtobusinessdb.cmy_af_employee_payment_apply p
        SET
            p.status = #{status, jdbcType=INTEGER},
        <if test="remark != null and remark != ''">
            p.remark = #{remark},
        </if>
            p.modified_by = #{modifiedBy, jdbcType=VARCHAR},
            p.modified_time= now()
        WHERE
            p.payment_apply_id = #{applyId, jdbcType=INTEGER}
    </update>

</mapper>
