<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.healthmedical.dao.MedicalRelationTransformMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.healthmedical.entity.po.MedicalRelationTransformPO">
		<id column="transform_id" property="transformId" />
		<result column="employee_id" property="employeeId" />
		<result column="turn_out_date" property="turnOutDate" />
		<result column="turn_out_address" property="turnOutAddress" />
		<result column="turn_back_date" property="turnBackDate" />
		<result column="remark" property="remark" />
		<result column="is_active" property="isActive" />
		<result column="created_time" property="createdTime" />
		<result column="modified_time" property="modifiedTime" />
		<result column="created_by" property="createdBy" />
		<result column="modified_by" property="modifiedBy" />
	</resultMap>


	<update id="edit">
		UPDATE hm_medical_relation_transform
		SET modified_time = CURRENT_TIMESTAMP,
		<trim suffixOverrides=",">
			<if test="employeeId != null and employeeId != ''">
				employee_id = #{employeeId},
			</if>
			<if test="turnOutDate != null and turnOutDate != ''">
				turn_out_date = #{turnOutDate},
			</if>
			<if test="turnOutAddress != null and turnOutAddress != ''">
				turn_out_address = #{turnOutAddress},
			</if>
			<if test="turnBackDate != null and turnBackDate != ''">
				turn_back_date = #{turnBackDate},
			</if>
			<if test="remark != null and remark != ''">
				remark = #{remark},
			</if>
		</trim>
		WHERE transform_id = #{transformId}
	</update>

    <select id="getById" resultMap="BaseResultMap">
        SELECT `transform_id`, `employee_id`, `turn_out_date`, `turn_out_address`, `turn_back_date`, `remark`, `is_active`, `created_time`, `modified_time`, `created_by`, `modified_by`
        from gtobusinessdb.hm_medical_relation_transform
        where transform_id = #{transformId}
    </select>
    <select id="medicalRelationTransformMapperQuery" resultMap="BaseResultMap">
        select `transform_id`, `employee_id`, `turn_out_date`, `turn_out_address`, `turn_back_date`, `remark`, `is_active`, `created_time`, `modified_time`, `created_by`, `modified_by`
        from  gtobusinessdb.hm_medical_relation_transform
        <where>
            <if test="transformId != null">
                and transform_id = #{transformId}
            </if>
            <if test="employeeId != null">
                and employee_id LIKE CONCAT('%',#{employeeId},'%')
            </if>
            <if test="turnOutDate != null">
                and turn_out_date = #{turnOutDate}
            </if>
            <if test="turnBackDate != null">
                and turn_back_date = #{turnBackDate}
            </if>
            <if test="remark != null">
                and remark = #{remark}
            </if>
        </where>
    </select>
</mapper>
