<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.healthmedical.dao.PaymentApplyDetailMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.healthmedical.entity.po.PaymentApplyDetailPO">
		<id column="apply_detail_id" property="applyDetailId" />
		<result column="apply_batch_id" property="applyBatchId" />
        <result column="acceptance_id" property="acceptanceId" />
		<result column="business_id" property="businessId" />
		<result column="company_id" property="companyId" />
		<result column="company_name" property="companyName" />
		<result column="employee_id" property="employeeId" />
		<result column="employee_name" property="employeeName" />
		<result column="bank_account" property="bankAccount" />
		<result column="bank_name" property="bankName" />
		<result column="bank_code" property="bankCode" />
		<result column="pay_amount" property="payAmount" />
        <result column="tax_amount" property="taxAmount" />
		<result column="is_active" property="isActive" />
		<result column="created_time" property="createdTime" />
		<result column="modified_time" property="modifiedTime" />
		<result column="created_by" property="createdBy" />
		<result column="modified_by" property="modifiedBy" />
	</resultMap>

    <!-- 关联查询映射结果 -->
    <resultMap id="JoinResultMap" type="com.ciicsh.gto.afsupportcenter.healthmedical.entity.bo.PaymentApplyDetailBO">
        <result column="apply_batch_id" property="applyBatchId" />
        <result column="business_id" property="businessItemId" />
        <result column="acceptance_id" property="paymentApplyId" />
        <result column="company_id" property="companyId" />
        <result column="company_name" property="companyName" />
        <result column="employee_id" property="employeeId" />
        <result column="employee_name" property="employeeName" />
        <result column="pay_amount" property="payAmount" />
        <result column="tax_amount" property="taxAmount" />
        <result column="bank_account" property="employeeBankAccount" />
        <result column="account_name" property="bankAccountName" />
        <result column="bank_id" property="bankId" />
        <result column="bank_code" property="areaCode" />
        <result column="bank_name" property="bankName" />
        <result column="province_name" property="provinceName" />
        <result column="city_name" property="cityName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        apply_detail_id, apply_batch_id, acceptance_type, acceptance_id, company_id, company_name, employee_id, employee_name, bank_account, bank_name, bank_code, pay_amount, is_active, created_time, modified_time, created_by, modified_by
    </sql>

    <sql id="Join_Column_List">
        p.acceptance_id, p.business_id, p.company_id, p.company_name, p.employee_id, p.employee_name, p.pay_amount, p.tax_amount, p.bank_account, p.account_name, p.bank_id, p.bank_code, p.bank_name, p.province_name, p.city_name
    </sql>

    <insert id="insertDetails" parameterType="java.util.List">
        INSERT INTO hm_payment_apply_detail
        (
            apply_batch_id,
            acceptance_id,
            business_id,
            company_id,
            company_name,
            employee_id,
            employee_name,
            bank_id,
            bank_account,
            account_name,
            bank_code,
            bank_name,
            pay_amount,
            tax_amount,
            province_name,
            city_name,
            is_active,
            created_by,
            modified_by,
            created_time,
            modified_time
        ) VALUES
        <foreach collection="detail" item="item" index="index" separator=",">
            (
                #{applyBatchId},
                #{item.paymentApplyId},
                #{item.businessId},
                #{item.companyId},
                #{item.companyName},
                #{item.employeeId},
                #{item.employeeName},
                #{item.bankId},
                #{item.bankAccount},
                #{item.accountName},
                #{item.bankCode},
                #{item.bankName},
                #{item.payAmount},
                #{item.taxAmount},
                #{item.provinceCode},
                #{item.cityCode},
                1,
                #{modifiedBy},
                #{modifiedBy},
                NOW(),
                NOW()
            )
        </foreach>
    </insert>

    <select id="selectPending" resultMap="JoinResultMap">
        SELECT
          <include refid="Join_Column_List"></include>
        FROM
          gtobusinessdb.hm_payment_apply_detail p
        WHERE
          p.apply_batch_id = #{applyBatchId}
        AND
          p.is_active = 1
    </select>

    <select id="selectRefundDetail" resultMap="JoinResultMap">
        SELECT
          <include refid="Join_Column_List"></include>
        FROM
          gtobusinessdb.hm_payment_apply_detail p
        WHERE
          p.apply_batch_id = #{bo.applyBatchId}
        AND
          p.company_id = #{bo.companyId}
        AND
          p.employee_id = #{bo.employeeId}
        AND
          p.bank_account = #{bo.employeeBankAccount}
        AND
          p.pay_amount = #{bo.payAmount}
        AND
          p.is_active = 1
    </select>

    <update id="updateActiveByBachId">
        UPDATE gtobusinessdb.hm_payment_apply_detail SET is_active = 0, modified_time = NOW(), modified_by = #{modifiedBy, jdbcType=VARCHAR} WHERE apply_batch_id = #{batchId, jdbcType=INTEGER}
    </update>

    <select id="selectBusinessId" resultType="java.lang.Integer">
        SELECT
            d.business_id
        FROM
            gtobusinessdb.hm_payment_apply_detail d
        WHERE
            d.apply_batch_id = #{bo.applyBatchId}
        LIMIT 1
    </select>

</mapper>
