<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.healthmedical.dao.UninsuredMedicalAuditMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.healthmedical.entity.po.UninsuredMedicalAudit">
        <id column="audit_id" property="auditId"/>
        <result column="um_acceptance_id" property="umAcceptanceId"/>
        <result column="clinic_hospital" property="clinicHospital"/>
        <result column="accept_amount" property="acceptAmount"/>
        <result column="pay_type" property="payType"/>
        <result column="diagnose" property="diagnose"/>
        <result column="diagnose_date" property="diagnoseDate"/>
        <result column="attachment" property="attachment"/>
        <result column="hospitalization_days" property="hospitalizationDays"/>
        <result column="audit_amount" property="auditAmount"/>
        <result column="hospitalization_start_date" property="hospitalizationStartDate"/>
        <result column="hospitalization_end_date" property="hospitalizationEndDate"/>
        <result column="remark" property="remark"/>
        <result column="auditor" property="auditor"/>
        <result column="audit_date" property="auditDate"/>
        <result column="created_time" property="createdTime"/>
        <result column="modified_time" property="modifiedTime"/>
        <result column="created_by" property="createdBy"/>
        <result column="modified_by" property="modifiedBy"/>
    </resultMap>

    <resultMap id="AcceptanceResultMap" type="com.ciicsh.gto.afsupportcenter.healthmedical.entity.po.UninsuredMedical">
        <id column="um_acceptance_id" property="umAcceptanceId"/>
        <result column="employee_id" property="employeeId"/>
        <result column="money_type" property="moneyType"/>
        <result column="case_type" property="caseType"/>
        <result column="dimission_date" property="dimissionDate"/>
        <result column="surrender_date" property="surrenderDate"/>
        <result column="joint_person_name" property="jointPersonName"/>
        <result column="joint_person_birth_date" property="jointPersonBirthDate"/>
        <result column="medical_remark" property="medicalRemark"/>
        <result column="case_money" property="caseMoney"/>
        <result column="invoice_number" property="invoiceNumber"/>
        <result column="status" property="status"/>
        <result column="handler" property="handler"/>
        <result column="handler_date" property="handlerDate"/>
        <result column="reject_type" property="rejectType"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <select id="queryAcceptanceList"
            parameterType="com.ciicsh.gto.afsupportcenter.healthmedical.entity.dto.UninsuredMedicalAuditDTO"
            resultMap="AcceptanceResultMap">
        SELECT DISTINCT hm_uninsured_medical.*
        FROM hm_uninsured_medical
        JOIN emp_employee
        ON emp_employee.employee_id = hm_uninsured_medical.employee_id
        JOIN emp_af_employee
        ON emp_af_employee.employee_id = emp_employee.employee_id
        JOIN emp_af_emp_company
        ON emp_af_emp_company.employee_id = emp_employee.employee_id
        JOIN sal_company
        ON sal_company.company_id = emp_af_emp_company.company_id
        JOIN sal_management
        ON sal_management.management_id = emp_af_emp_company.management_id
        <where>
            hm_uninsured_medical.status = 1
            <if test="umAcceptanceId != null">
                AND um_acceptance_id = #{umAcceptanceId,jdbcType=INTEGER}
            </if>
            <if test="moneyType != null">
                AND money_type = #{moneyType,jdbcType=INTEGER}
            </if>
            <if test="handlerDateRange != null and handlerDateRange.size == 2">
                AND handler_date BETWEEN #{handlerDateRange[0],jdbcType=TIMESTAMP} AND
                #{handlerDateRange[1],jdbcType=TIMESTAMP}
            </if>
            <if test="caseType != null">
                AND case_type = #{caseType,jdbcType=INTEGER}
            </if>
            <if test="managementId != null and managementId != '' ">
                AND sal_management.management_id = #{managementId,jdbcType=VARCHAR}
            </if>
            <if test="managementName != null and managementName != '' ">
                AND sal_management.title = #{managementName,jdbcType=VARCHAR}
            </if>
            <if test="companyId != null and companyId != '' ">
                AND sal_company.company_id = #{companyId,jdbcType=VARCHAR}
            </if>
            <if test="companyName != null and companyName != '' ">
                AND sal_company.title = #{companyName,jdbcType=VARCHAR}
            </if>
            <if test="employeeId != null and employeeId != '' ">
                AND hm_uninsured_medical.employee_id = #{employeeId,jdbcType=VARCHAR}
            </if>
            <if test="employeeName != null and employeeName != '' ">
                AND employee_name = #{employeeName,jdbcType=VARCHAR}
            </if>
            <if test="idNum != null and idNum != ''">
                AND id_num = #{idNum,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <resultMap id="UninsuredAuditResultMap"
               type="com.ciicsh.gto.afsupportcenter.healthmedical.entity.bo.UninsuredMedicalAuditBO">
        <id column="um_acceptance_id" property="umAcceptanceId"/>
        <result column="employee_id" property="employeeId"/>
        <result column="employee_name" property="employeeName"/>
        <result column="company_id" property="companyId"/>
        <result column="company_name" property="companyName"/>
        <result column="money_type" property="moneyType"/>
        <result column="case_type" property="caseType"/>
        <result column="dimission_date" property="dimissionDate"/>
        <result column="surrender_date" property="surrenderDate"/>
        <result column="joint_person_name" property="jointPersonName"/>
        <result column="joint_person_birth_date" property="jointPersonBirthDate"/>
        <result column="medical_remark" property="medicalRemark"/>
        <result column="case_money" property="caseMoney"/>
        <result column="invoice_number" property="invoiceNumber"/>
        <result column="status" property="status"/>
        <result column="handler" property="handler"/>
        <result column="handler_date" property="handlerDate"/>
        <result column="reject_type" property="rejectType"/>
        <result column="remark" property="remark"/>
        <result column="audit_amount" property="auditAmount"/>
        <result column="auditor" property="auditor"/>
        <result column="audit_date" property="auditDate"/>
    </resultMap>

    <select id="queryAcceptanceAuditList"
            parameterType="com.ciicsh.gto.afsupportcenter.healthmedical.entity.dto.UninsuredMedicalAuditDTO"
            resultMap="UninsuredAuditResultMap">
        SELECT DISTINCT
        hm_uninsured_medical.um_acceptance_id,
        hm_uninsured_medical.employee_id,
        hm_uninsured_medical.employee_name,
        hm_uninsured_medical.company_id,
        hm_uninsured_medical.company_name,
        hm_uninsured_medical.case_type,
        hm_uninsured_medical.money_type,
        hm_uninsured_medical.joint_person_name,
        audit_amount,
        auditor,
        audit_date
        FROM hm_uninsured_medical
        JOIN hm_uninsured_medical_audit
        ON hm_uninsured_medical.um_acceptance_id = hm_uninsured_medical_audit.um_acceptance_id
        JOIN emp_employee
        ON emp_employee.employee_id = hm_uninsured_medical.employee_id
        JOIN emp_af_employee
        ON emp_af_employee.employee_id = emp_employee.employee_id
        JOIN emp_af_emp_company
        ON emp_af_emp_company.employee_id = emp_employee.employee_id
        JOIN sal_company
        ON sal_company.company_id = emp_af_emp_company.company_id
        JOIN sal_management
        ON sal_management.management_id = emp_af_emp_company.management_id
        <where>
            hm_uninsured_medical.status NOT IN (0,1,2)
            <if test="umAcceptanceId != null">
                AND um_acceptance_id = #{umAcceptanceId,jdbcType=INTEGER}
            </if>
            <if test="moneyType != null">
                AND money_type = #{moneyType,jdbcType=INTEGER}
            </if>
            <if test="handlerDateRange != null and handlerDateRange.size == 2">
                AND handler_date BETWEEN #{handlerDateRange[0],jdbcType=TIMESTAMP} AND
                #{handlerDateRange[1],jdbcType=TIMESTAMP}
            </if>
            <if test="auditDateRange != null and auditDateRange.size == 2">
                AND handler_date BETWEEN #{auditDateRange[0],jdbcType=TIMESTAMP} AND
                #{auditDateRange[1],jdbcType=TIMESTAMP}
            </if>
            <if test="caseType != null">
                AND case_type = #{caseType,jdbcType=INTEGER}
            </if>
            <if test="managementId != null and managementId != '' ">
                AND sal_management.management_id = #{managementId,jdbcType=VARCHAR}
            </if>
            <if test="managementName != null and managementName != '' ">
                AND sal_management.title = #{managementName,jdbcType=VARCHAR}
            </if>
            <if test="companyId != null and companyId != '' ">
                AND sal_company.company_id = #{companyId,jdbcType=VARCHAR}
            </if>
            <if test="companyName != null and companyName != '' ">
                AND sal_company.title = #{companyName,jdbcType=VARCHAR}
            </if>
            <if test="employeeId != null and employeeId != '' ">
                AND hm_uninsured_medical.employee_id = #{employeeId,jdbcType=VARCHAR}
            </if>
            <if test="employeeName != null and employeeName != '' ">
                AND employee_name = #{employeeName,jdbcType=VARCHAR}
            </if>
            <if test="idNum != null and idNum != ''">
                AND id_num = #{idNum,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>
