<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.healthmedical.dao.UninsuredMedicalMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.healthmedical.entity.po.UninsuredMedical">
        <id column="um_acceptance_id" property="umAcceptanceId"/>
        <result column="employee_id" property="employeeId"/>
        <result column="money_type" property="moneyType"/>
        <result column="case_type" property="caseType"/>
        <result column="dimission_date" property="dimissionDate"/>
        <result column="surrender_date" property="surrenderDate"/>
        <result column="joint_person_name" property="jointPersonName"/>
        <result column="joint_person_birth_date" property="jointPersonBirthDate"/>
        <result column="medical_remark" property="medicalRemark"/>
        <result column="case_money" property="caseMoney"/>
        <result column="invoice_number" property="invoiceNumber"/>
        <result column="status" property="status"/>
        <result column="handler" property="handler"/>
        <result column="handler_date" property="handlerDate"/>
        <result column="reject_type" property="rejectType"/>
        <result column="remark" property="remark"/>
        <result column="created_time" property="createdTime"/>
        <result column="modified_time" property="modifiedTime"/>
        <result column="created_by" property="createdBy"/>
        <result column="modified_by" property="modifiedBy"/>
    </resultMap>

    <resultMap id="EmployeeMap" type="com.ciicsh.gto.afsupportcenter.healthmedical.entity.bo.UninsuredMedicalBO">
        <result column="employee_id" property="employeeId"/>
        <result column="employee_name" property="employeeName"/>
        <result column="company_id" property="companyId"/>
        <result column="company_name" property="companyName"/>
        <result column="status" property="status"/>
    </resultMap>

    <!-- 关联查询映射结果 -->
    <resultMap id="PaymentResultMap" type="com.ciicsh.gto.afsupportcenter.healthmedical.entity.bo.EmployeePaymentBO">
        <result column="um_acceptance_id" property="paymentApplyId" />
        <result column="business_id" property="businessId" />
        <result column="company_id" property="companyId" />
        <result column="company_name" property="companyName" />
        <result column="employee_id" property="employeeId" />
        <result column="employee_name" property="employeeName" />
        <result column="pay_amount" property="payAmount" />
        <result column="tax_amount" property="taxAmount" />
        <result column="bank_account" property="bankAccount" />
        <result column="account_name" property="accountName" />
        <result column="bank_id" property="bankId" />
        <result column="bank_code" property="bankCode" />
        <result column="bank_name" property="bankName" />
        <result column="province_code" property="provinceCode" />
        <result column="city_code" property="cityCode" />
    </resultMap>

    <!-- 银行信息不全映射结果 -->
    <resultMap id="PartialResultMap" type="com.ciicsh.gto.afsupportcenter.healthmedical.entity.bo.EmpBankRefundBO">
        <result column="um_acceptance_id" property="applyId" />
        <result column="business_id" property="businessId" />
        <result column="business_type" property="businessType" />
        <result column="company_id" property="companyId" />
        <result column="employee_id" property="employeeId" />
        <result column="customer_manager" property="customerManager" />
        <result column="service_center" property="serviceCenter" />
        <result column="pay_amount" property="payAmount" />
        <result column="refund_date" property="refundDate" />
        <result column="reason" property="reason" />
    </resultMap>

    <!-- 关联查询结果列 -->
    <sql id="Payment_Column_List">
        p.um_acceptance_id, 1 AS business_id, p.company_id, p.company_name, p.employee_id, p.employee_name, p.case_money AS pay_amount, 0 AS tax_amount, b.card_num AS bank_account, b.account_name, b.bankcard_type AS bank_id, b.bank_code, b.deposit_bank AS bank_name, b.province_code, b.city_code
    </sql>

    <!-- 关联查询结果列 -->
    <sql id="Partial_Column_List">
        p.um_acceptance_id, 1 AS business_id, 1 AS business_type, p.company_id, p.employee_id, p.case_money AS pay_amount, p.created_by AS customer_manager, "健康医疗部" AS service_center, now() AS refund_date, "无卡" AS reason
    </sql>

    <select id="queryEmployeeList"
            parameterType="com.ciicsh.gto.afsupportcenter.healthmedical.entity.bo.UninsuredMedicalBO"
            resultMap="EmployeeMap">
        SELECT DISTINCT
        emp_employee.employee_id,
        emp_employee.employee_name,
        sal_company.company_id,
        sal_company.title company_name,
        emp_af_emp_company.status
        FROM emp_employee
        JOIN emp_af_employee
        ON emp_af_employee.employee_id = emp_employee.employee_id
        JOIN emp_af_emp_company
        ON emp_af_emp_company.employee_id = emp_employee.employee_id
        JOIN sal_company
        ON sal_company.company_id = emp_af_emp_company.company_id
        <where>
            <if test="employeeId != null">
                emp_employee.employee_id = #{employeeId,jdbcType=INTEGER}
            </if>
            <if test="employeeName != null and employeeName != '' ">
                AND emp_employee.employee_name = #{employeeName,jdbcType=VARCHAR}
            </if>
            <if test="idNum != null and idNum != ''">
                AND emp_employee.id_num = #{idNum,jdbcType=VARCHAR}
            </if>
            <if test="companyId != null and companyId != '' ">
                AND sal_company.company_id = #{companyId,jdbcType=INTEGER}
            </if>
            <if test="companyName != null and companyName != '' ">
                AND sal_company.title = #{companyName,jdbcType=VARCHAR}
            </if>
            <if test="jointPersonName != null and jointPersonName != '' ">
                AND emp_employee.employee_id IN (SELECT emp_af_emp_member.employee_id
                FROM emp_af_emp_member
                WHERE name = #{jointPersonName,jdbcType=VARCHAR})
            </if>
        </where>
    </select>

    <resultMap id="ConsultantRelationResultMap"
               type="com.ciicsh.gto.afsupportcenter.healthmedical.entity.po.CompanyConsultantRelation">
        <id column="company_consultant_id" property="companyConsultantId"/>
        <result column="company_id" property="companyId"/>
        <result column="branch_flag" property="branchFlag"/>
        <result column="sys_user_id" property="sysUserId"/>
        <result column="consultant_name" property="consultantName"/>
        <result column="created_time" property="createdTime"/>
        <result column="modified_time" property="modifiedTime"/>
        <result column="created_by" property="createdBy"/>
        <result column="modified_by" property="modifiedBy"/>
    </resultMap>

    <select id="queryBusinessConsultant" parameterType="java.lang.String" resultMap="ConsultantRelationResultMap">
        SELECT sal_company_consultant_relation.*
        FROM sal_company
          JOIN sal_company_consultant_relation
            ON sal_company_consultant_relation.company_id = sal_company.company_id
        WHERE sal_company.company_id = #{companyId,jdbcType=VARCHAR}
    </select>

    <select id="queryEmpMember" parameterType="java.lang.String"
            resultType="com.ciicsh.gto.afsupportcenter.healthmedical.entity.bo.EmpMemberBO">
        SELECT
          emp_af_emp_member.emp_member_id empMemberId,
          emp_af_emp_member.name
        FROM emp_af_emp_member
        WHERE employee_id = #{employeeId,jdbcType=INTEGER}
    </select>

    <select id="queryAcceptanceList"
            parameterType="com.ciicsh.gto.afsupportcenter.healthmedical.entity.dto.UninsuredMedicalDTO"
            resultMap="BaseResultMap">
        SELECT hm_uninsured_medical.*
        FROM hm_uninsured_medical
        JOIN emp_employee
        ON emp_employee.employee_id = hm_uninsured_medical.employee_id
        JOIN emp_af_employee
        ON emp_af_employee.employee_id = emp_employee.employee_id
        JOIN emp_af_emp_company
        ON emp_af_emp_company.employee_id = emp_employee.employee_id
        JOIN sal_company
        ON sal_company.company_id = emp_af_emp_company.company_id
        JOIN sal_management
        ON sal_management.management_id = emp_af_emp_company.management_id
        <where>
            <if test="moneyType != null">
                money_type = #{moneyType,jdbcType=INTEGER}
            </if>
            <if test="caseType != null">
                AND case_type = #{caseType,jdbcType=INTEGER}
            </if>
            <if test="status != null">
                AND hm_uninsured_medical.status = #{status,jdbcType=INTEGER}
            </if>
            <if test="handlerDateRange != null and handlerDateRange.size == 2">
                AND handler_date BETWEEN #{handlerDateRange[0],jdbcType=TIMESTAMP} AND
                #{handlerDateRange[1],jdbcType=TIMESTAMP}
            </if>
            <if test="managementId != null and managementId != '' ">
                AND sal_management.management_id = #{managementId,jdbcType=VARCHAR}
            </if>
            <if test="managementName != null and managementName != '' ">
                AND sal_management.title = #{managementName,jdbcType=VARCHAR}
            </if>
            <if test="companyId != null and companyId != '' ">
                AND sal_company.company_id = #{companyId,jdbcType=VARCHAR}
            </if>
            <if test="companyName != null and companyName != '' ">
                AND sal_company.title = #{companyName,jdbcType=VARCHAR}
            </if>
            <if test="employeeId != null and employeeId != '' ">
                AND hm_uninsured_medical.employee_id = #{employeeId,jdbcType=VARCHAR}
            </if>
            <if test="employeeName != null and employeeName != '' ">
                AND employee_name = #{employeeName,jdbcType=VARCHAR}
            </if>
            <if test="idNum != null and idNum != ''">
                AND id_num = #{idNum,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <update id="updateStatus">
        UPDATE
            gtobusinessdb.hm_uninsured_medical m
        SET
            m.status = #{status, jdbcType=INTEGER},
        <if test="remark != null and remark != ''">
            p.remark = #{remark},
        </if>
            m.modified_by = #{modifiedBy, jdbcType=VARCHAR},
            m.modified_time= now()
        WHERE
            m.um_acceptance_id = #{umAcceptanceId, jdbcType=INTEGER}
    </update>

    <update id="syncStatus">
        UPDATE
            gtobusinessdb.hm_uninsured_medical p
        SET
            p.status = #{status},
        <if test="remark != null and remark != ''">
            p.remark = #{remark},
        </if>
            p.modified_by = #{modifiedBy, jdbcType=VARCHAR},
            p.modified_time = now()
        WHERE EXISTS
        (
            SELECT
              d.acceptance_id
            FROM
              hm_payment_apply_detail d
            WHERE
              d.acceptance_id = p.um_acceptance_id
            AND
              d.apply_batch_id = #{batchId, jdbcType=INTEGER}
            AND
              d.business_id = #{businessId, jdbcType=INTEGER}
        )
    </update>

    <!-- 3：审核未同步 -->
    <select id="selectAudited" resultMap="PaymentResultMap">
        SELECT
            <include refid="Payment_Column_List"/>
        FROM
            gtobusinessdb.hm_uninsured_medical p, emp_company_bankcard_relation cbr, emp_bankcard b
        WHERE
            b.bankcard_id = cbr.bankcard_id
        AND
            cbr.company_id = p.company_id
        AND
            b.employee_id = p.employee_id
        AND
            p.status = 3
        AND
            cbr.usage = 2
        AND
            b.status = 1
        AND
            p.is_active = 1
        AND
            cbr.is_active = 1
    </select>

    <!-- 6：银行退票 -->
    <select id="selectRefund" resultMap="PaymentResultMap">
        SELECT
            <include refid="Payment_Column_List"></include>
        FROM
            gtobusinessdb.hm_uninsured_medical p,
            gtobusinessdb.emp_bank_refund r,
            gtobusinessdb.emp_company_bankcard_relation cbr,
            gtobusinessdb.emp_bankcard b
        WHERE
            p.status = 5
        AND
            p.um_acceptance_id = r.apply_id
        AND
            r.business_id = 2
        AND
            r.modified_time <![CDATA[ >= ]]> DATE_FORMAT(CURDATE(),'%Y-%m-%d %H:%i:%s')
        AND
            r.modified_time <![CDATA[ <= ]]> DATE_ADD(CURDATE(), INTERVAL 86399 SECOND)
        AND
            r. status = 1
        AND
            r.company_id = cbr.company_id
        AND
            cbr.bankcard_id = b.bankcard_id
        AND
            r.employee_id = p.employee_id
        AND
            cbr.usage = 2
        AND
            p.is_active = 1
        AND
            r.is_active = 1
        AND
            cbr.is_active = 1
        AND
            b.status = 1
    </select>

    <!-- 未同步 -->
    <select id="selectUnSync" resultMap="PartialResultMap">
        SELECT
            <include refid="Partial_Column_List"></include>
        FROM
            hm_uninsured_medical p
        WHERE NOT EXISTS
        (
            SELECT
                a.um_acceptance_id
            FROM
                gtobusinessdb.hm_uninsured_medical a, emp_company_bankcard_relation cbr, emp_bankcard b
            WHERE
                a.um_acceptance_id = p.um_acceptance_id
            AND
                b.bankcard_id = cbr.bankcard_id
            AND
                cbr.company_id = a.company_id
            AND
                b.employee_id = a.employee_id
            AND
                a.status = 3
            AND
                cbr.usage = 2
            AND
                b.status = 1
            AND
                a.is_active = 1
            AND
                cbr.is_active = 1
        UNION
            SELECT
                r.apply_id
            FROM
                gtobusinessdb.emp_bank_refund r
            WHERE
                r.apply_id = p.um_acceptance_id
            AND
                r.business_id = 2
            AND
                r.status = 0
            AND
                r.is_active = 1
        )
        AND p. status = 3
        AND p.is_active = 1
    </select>

</mapper>
