<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.credentialscommandservice.dao.OrgPolicyMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.credentialscommandservice.entity.po.OrgPolicyPO">
		<id column="org_poilcy_id" property="orgPoilcyId" />
		<result column="name" property="name" />
		<result column="type" property="type" />
		<result column="policy_description" property="policyDescription" />
		<result column="is_active" property="isActive" />
		<result column="created_time" property="createdTime" />
		<result column="modified_time" property="modifiedTime" />
		<result column="created_by" property="createdBy" />
		<result column="modified_by" property="modifiedBy" />
	</resultMap>

    <select id="select">
      SELECT
      <include refid="SEL_ALL_COLLUMS"></include>
      FROM
      cmy_af_org_policy
      <include refid="SEL_LIST_WHERR"></include>
    </select>

    <!--<select id="selectItem">-->

    <!--</select>-->

    <sql id="SEL_ALL_COLLUMS">
        org_poilcy_id,
        name,
        type,
        policy_description,
        is_active,
        created_time,
        modified_time,
        created_by,
        modified_by
    </sql>
    <sql id="SEL_LIST_WHERR">
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            is_active = 1
            <if test="name != null and managementId != ''">
                AND name = #{name}
            </if>
            <if test="type != null and managementId != ''">
                AND type = #{type}
            </if>
        </trim>
    </sql>
    <!--<sql id="SEL_ITEM_WHERR">-->
        <!---->
    <!--</sql>-->
</mapper>
