<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.credentialscommandservice.dao.TaskMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.credentialscommandservice.entity.po.TaskPO">
		<id column="task_id" property="taskId" />
		<result column="employee_id" property="employeeId" />
		<result column="company_id" property="companyId" />
		<result column="credentials_type" property="credentialsType" />
		<result column="credentials_deal_type" property="credentialsDealType" />
		<result column="education" property="education" />
		<result column="material_back_time" property="materialBackTime" />
		<result column="calls_time" property="callsTime" />
		<result column="apply_time" property="applyTime" />
		<result column="live_age_limit" property="liveAgeLimit" />
		<result column="shift_letter_send_time" property="shiftLetterSendTime" />
		<result column="talent_back_time" property="talentBackTime" />
		<result column="talent_back_reason" property="talentBackReason" />
		<result column="deal_time" property="dealTime" />
		<result column="charge_time" property="chargeTime" />
		<result column="receive_file_time" property="receiveFileTime" />
		<result column="original_back_time" property="originalBackTime" />
		<result column="original_back_reason" property="originalBackReason" />
		<result column="integral_bill_print_time" property="integralBillPrintTime" />
		<result column="charge_amount" property="chargeAmount" />
		<result column="pay_type" property="payType" />
		<result column="permit_company_name" property="permitCompanyName" />
		<result column="telephone" property="telephone" />
		<result column="remark" property="remark" />
		<result column="is_active" property="isActive" />
		<result column="created_time" property="createdTime" />
		<result column="modified_time" property="modifiedTime" />
		<result column="created_by" property="createdBy" />
		<result column="modified_by" property="modifiedBy" />
	</resultMap>

</mapper>
