<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.dao.SsAnnualAdjustAccountEmpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.entity.SsAnnualAdjustAccountEmp">
        <id column="annual_adjust_account_emp_id" property="annualAdjustAccountEmpId" />
        <result column="annual_adjust_account_id" property="annualAdjustAccountId" />
        <result column="account_status" property="accountStatus" />
        <result column="ss_serial" property="ssSerial" />
        <result column="employee_name" property="employeeName" />
        <result column="id_num" property="idNum" />
        <result column="payment_months" property="paymentMonths" />
        <result column="avg_month_salary" property="avgMonthSalary" />
        <result column="is_active" property="isActive" />
        <result column="created_time" property="createdTime" />
        <result column="modified_time" property="modifiedTime" />
        <result column="created_by" property="createdBy" />
        <result column="modified_by" property="modifiedBy" />
    </resultMap>

    <resultMap id="BaseResultMapBO" extends="BaseResultMap"
               type="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.bo.SsAnnualAdjustAccountEmpBO">
        <result column="match_status" property="matchStatus" />
        <result column="company_id" property="companyId" />
        <result column="company_name" property="companyName" />
        <result column="employee_id" property="employeeId" />
    </resultMap>


    <insert id="insertDataWithoutErrorMsg">
        INSERT INTO ss_annual_adjust_account_emp(
        annual_adjust_account_id,
        account_status,
        ss_serial,
        employee_name,
        id_num,
        payment_months,
        avg_month_salary,
        is_active,
        created_by,
        modified_by
        )
        SELECT
        annual_adjust_account_id,
        account_status,
        ss_serial,
        employee_name,
        id_num,
        payment_months,
        NULL,
        1,
        #{createdBy},
        #{createdBy}
        FROM ss_annual_adjust_account_emp_temp
        WHERE annual_adjust_account_id = #{annualAdjustAccountId}
        AND error_msg IS NULL
    </insert>

    <select id="queryAnnualAdjustAccountEmp" resultMap="BaseResultMapBO">
        SELECT
            saaae.annual_adjust_account_emp_id,
            saaae.annual_adjust_account_id,
            CASE WHEN t.employee_id IS NULL THEN 0 ELSE 1 END match_status,
            saaae.account_status,
            t.company_id,
            t.company_name,
            saaae.ss_serial,
            t.employee_id,
            saaae.employee_name,
            saaae.id_num,
            saaae.payment_months,
            t.chg_salary AS avg_month_salary
            FROM ss_annual_adjust_account_emp saaae
            INNER JOIN ss_annual_adjust_account saaa ON saaae.annual_adjust_account_id = saaa.annual_adjust_account_id
             AND saaa.is_active = 1
            LEFT JOIN (
            SELECT
                saae.com_account_id,
                saac.company_id,
                saac.company_name,
                saace.ss_serial,
                saace.employee_id,
                saace.employee_name,
                saace.chg_salary
                FROM ss_annual_adjust_company_emp saace
                INNER JOIN ss_annual_adjust_company saac ON saac.annual_adjust_company_id = saace.annual_adjust_company_id
                AND saac.is_active = 1 AND saace.is_active = 1 AND saac.adjust_year = YEAR(NOW())
                INNER JOIN ss_annual_adjust_employee saae ON saac.company_id = saae.company_id AND saace.employee_id=saae.employee_id
                AND saae.is_active = 1
            ) t ON t.com_account_id = saaa.com_account_id AND saaae.ss_serial = t.ss_serial AND saaae.employee_name = t.employee_name
        <where>
            saaae.is_active = 1
            AND saaa.adjust_year = YEAR(NOW())
            <if test="annualAdjustAccountId != null">
                AND saaa.annual_adjust_account_id = #{annualAdjustAccountId}
            </if>
            <if test="companyId != null">
                AND t.company_id = #{companyId}
            </if>
            <if test="ssSerial != null">
                AND saaae.ss_serial = #{ssSerial}
            </if>
            <if test="employeeId != null">
                AND t.employee_id = #{employeeId}
            </if>
            <if test="employeeName != null">
                AND saaae.employee_name LIKE CONCAT('%', #{employeeName},'%')
            </if>
            <if test="matchStatus == 0">
                AND t.employee_id IS NULL
            </if>
            <if test="matchStatus == 1">
                AND t.employee_id IS NOT NULL
            </if>
            <if test="accountStatus != null">
                AND saaae.account_status = #{accountStatus}
            </if>
            <if test="avgMonthSalaryStart != null">
                AND t.chg_salary >= #{avgMonthSalaryStart}
            </if>
            <if test="avgMonthSalaryEnd != null">
                AND #{avgMonthSalaryEnd} >= t.chg_salary
            </if>
            ORDER BY saaae.ss_serial
        </where>
    </select>
</mapper>
