<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.dao.SsAnnualAdjustAccountMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.entity.SsAnnualAdjustAccount">
		<id column="annual_adjust_account_id" property="annualAdjustAccountId" />
		<result column="com_account_id" property="comAccountId" />
		<result column="com_account_name" property="comAccountName" />
		<result column="ss_account" property="ssAccount" />
		<result column="adjust_year" property="adjustYear" />
		<result column="data_collect_status" property="dataCollectStatus" />
		<result column="adjust_status" property="adjustStatus" />
		<result column="adjust_time" property="adjustTime" />
		<result column="is_active" property="isActive" />
		<result column="created_time" property="createdTime" />
		<result column="modified_time" property="modifiedTime" />
		<result column="created_by" property="createdBy" />
		<result column="modified_by" property="modifiedBy" />
	</resultMap>

</mapper>
