<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.dao.SsAnnualAdjustCompanyEmpTempMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.entity.SsAnnualAdjustCompanyEmpTemp">
        <result column="annual_adjust_company_emp_temp_id" property="annualAdjustCompanyEmpTempId" />
        <result column="annual_adjust_company_id" property="annualAdjustCompanyId" />
        <result column="employee_id" property="employeeId" />
        <result column="employee_name" property="employeeName" />
        <result column="ss_serial" property="ssSerial" />
        <result column="salary" property="salary" />
        <result column="chg_salary" property="chgSalary" />
        <result column="id_num" property="idNum" />
        <result column="archive_status" property="archiveStatus" />
        <result column="base_amount" property="baseAmount" />
        <result column="ss_account_type" property="ssAccountType" />
        <result column="emp_classify" property="empClassify" />
        <result column="settlement_area" property="settlementArea" />
        <result column="ss_account" property="ssAccount" />
        <result column="ss_username" property="ssUsername" />
        <result column="ss_pwd" property="ssPwd" />
        <result column="company_id" property="companyId" />
        <result column="low_department_name" property="lowDepartmentName" />
        <result column="high_department_name" property="highDepartmentName" />
        <result column="error_msg" property="errorMsg" />
        <result column="order_num" property="orderNum" />
    </resultMap>

    <update id="updateErrorMsgForRepeatingEmployeeId">
        UPDATE ss_annual_adjust_company_emp_temp t1 INNER JOIN
        (
          SELECT ${repeatingColumn} FROM ss_annual_adjust_company_emp_temp
          WHERE annual_adjust_company_id = #{annualAdjustCompanyId}
          AND ${repeatingColumn} IS NOT NULL
          GROUP BY ${repeatingColumn}
          HAVING COUNT(annual_adjust_company_emp_temp_id) > 1
        ) t2 ON t1.${repeatingColumn} = t2.${repeatingColumn}
        SET t1.error_msg = IF(t1.error_msg IS NULL, CONCAT(#{columnCN},'[',t1.${repeatingColumn},']重复'), CONCAT(t1.error_msg,',',#{columnCN},'[',t1.${repeatingColumn},']重复'))
        WHERE t1.annual_adjust_company_id = #{annualAdjustCompanyId}
    </update>

    <update id="updateErrorMsgForNotExistsEmployee">
        UPDATE ss_annual_adjust_company_emp_temp t1
        SET t1.error_msg = IF(t1.error_msg IS NULL, #{columnCN}, CONCAT(t1.error_msg,',',#{columnCN}))
        WHERE t1.annual_adjust_company_id = #{annualAdjustCompanyId}
        AND NOT EXISTS (
            SELECT 1 FROM ss_annual_adjust_employee saae
            WHERE saae.company_id = #{companyId}
            AND saae.adjust_year = YEAR(NOW())
            AND saae.employee_id = t1.employee_id
            AND saae.employee_name = t1.employee_name
            AND saae.ss_serial = t1.ss_serial
            AND saae.is_active = 1
        )
    </update>
</mapper>
