<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.dao.SsComTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.entity.SsComTask">
        <id column="com_task_id" property="comTaskId" />
        <result column="customer_id" property="customerId" />
        <result column="com_account_id" property="comAccountId" />
        <result column="company_id" property="companyId" />
        <result column="task_category" property="taskCategory" />
        <result column="expire_date" property="expireDate" />
        <result column="submitter_id" property="submitterId" />
        <result column="submitter_name" property="submitterName" />
        <result column="submitter_dept_id" property="submitterDeptId" />
        <result column="submitter_dept_name" property="submitterDeptName" />
        <result column="submit_time" property="submitTime" />
        <result column="submit_remark" property="submitRemark" />
        <result column="task_form_content" property="taskFormContent" />
        <result column="chat_history" property="chatHistory" />
        <result column="dynamic_extend" property="dynamicExtend" />
        <result column="task_status" property="taskStatus" />
        <result column="handle_user_id" property="handleUserId" />
        <result column="handle_user_name" property="handleUserName" />
        <result column="start_handle_date" property="startHandleDate" />
        <result column="send_check_date" property="sendCheckDate" />
        <result column="finish_date" property="finishDate" />
        <result column="handle_remark" property="handleRemark" />
        <result column="rejection_remark" property="rejectionRemark" />
        <result column="business_interface_id" property="businessInterfaceId" />
        <result column="task_id" property="taskId" />
        <result column="ss_account" property="ssAccount" />
        <result column="bank_account" property="bankAccount" />
        <result column="com_account_name" property="comAccountName" />
        <result column="payment_bank" property="paymentBank" />
        <result column="payment_way" property="paymentWay" />
        <result column="bill_receiver" property="billReceiver" />
        <result column="industry_category" property="industryCategory" />
        <result column="start_month" property="startMonth" />
        <result column="expire_date_front" property="expireDateFront" />
        <result column="settlement_area" property="settlementArea" />
        <result column="legal_person" property="legalPerson" />
        <result column="contact_address" property="contactAddress" />
        <result column="dispatch_material" property="dispatchMaterial" />
        <result column="is_active" property="isActive" />
        <result column="created_time" property="createdTime" />
        <result column="modified_time" property="modifiedTime" />
        <result column="created_by" property="createdBy" />
        <result column="modified_by" property="modifiedBy" />
        <result column="created_display_name" property="createdDisplayName" />
        <result column="modified_display_name" property="modifiedDisplayName" />
    </resultMap>

    <resultMap id="ComTaskExtMap" type="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.bo.customer.ComAccountExtBO">
        <result column="customer_id" property="customerId" />
        <result column="com_account_id" property="comAccountId" />
        <result column="com_account_name" property="comAccountName" />
        <result column="company_id" property="companyId" />
        <result column="company_name" property="companyName" />
        <result column="ss_account" property="ssAccount" />
        <result column="bank_account" property="bankAccount" />
        <result column="settlement_area" property="settlementArea" />
        <result column="payment_bank" property="paymentBank" />
        <result column="payment_way" property="paymentWay" />
        <result column="bill_receiver" property="billReceiver" />
        <result column="expire_date" property="expireDate" />
        <result column="legal_person" property="legalPerson" />
        <result column="contact_address" property="contactAddress" />
        <result column="query_account" property="queryAccount" />
        <result column="industry_category" property="industryCategory" />
        <result column="com_ratio" property="comRatio" />
        <result column="dispatch_material" property="dispatchMaterial" />
        <result column="remark" property="remark" />
    </resultMap>

    <resultMap id="ModelResultMap"
               type="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.bo.SsComTaskBO"
               extends="BaseResultMap">
        <result column="title" property="companyName"/>
    </resultMap>
    <resultMap id="getMaterialResultMap"
               type="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.bo.SsComTaskBO"
               extends="ModelResultMap">
        <association property="ssComAccountBO"
                     javaType="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.bo.SsComAccountBO">
            <result column="com_account_id_acc" property="comAccountId"/>
            <result column="supplier_id" property="supplierId"/>
            <result column="ss_account_type" property="ssAccountType"/>
            <result column="ss_account" property="ssAccount"/>
            <result column="bank_account" property="bankAccount"/>
            <result column="com_account_name" property="comAccountName"/>
            <result column="settlement_area" property="settlementArea"/>
            <result column="payment_bank" property="paymentBank"/>
            <result column="payment_way" property="paymentWay"/>
            <result column="expire_date_acc" property="expireDate"/>
            <result column="bill_receiver" property="billReceiver"/>
            <result column="ss_username" property="ssUsername"/>
            <result column="ss_pwd" property="ssPwd"/>
            <result column="initial_balance" property="initialBalance"/>
            <result column="initial_debt" property="initialDebt"/>
            <result column="origin_place" property="originPlace"/>
            <result column="origin_place_remark" property="originPlaceRemark"/>
            <result column="query_account" property="queryAccount"/>
            <result column="deliver_way" property="deliverWay"/>
            <result column="deliver_way_remark" property="deliverWayRemark"/>
            <result column="provide_certificate_time" property="provideCertificateTime"/>
            <result column="state" property="state"/>
            <result column="change_time" property="changeTime"/>
            <result column="receive_date" property="receiveDate"/>
            <result column="into_date" property="intoDate"/>
            <result column="end_date" property="endDate"/>
            <result column="dispatch_material" property="dispatchMaterial"/>
            <result column="remark_acc" property="remark"/>
            <result column="handle_remark" property="handleRemark"/>
            <result column="rejection_remark" property="rejectionRemark"/>
            <result column="title" property="companyName"/>
            <association property="ssAccountRatio"
                         javaType="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.entity.SsAccountRatio">
                <id column="ss_account_ratio_id" property="ssAccountRatioId"/>
                <result column="com_account_id_sar" property="comAccountId"/>
                <result column="industry_category" property="industryCategory"/>
                <result column="com_ratio" property="comRatio"/>
                <result column="start_month" property="startMonth"/>
                <result column="end_month" property="endMonth"/>
                <result column="is_active" property="isActive"/>
            </association>
        </association>
        <collection property="materialList"
                    ofType="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.entity.SsComMaterial">
            <id column="com_material_id" property="comMaterialId"/>
            <result column="com_task_id_m" property="comTaskId"/>
            <result column="material_type" property="materialType"/>
            <result column="material_name" property="materialName"/>
            <result column="submit_time_m" property="submitTime"/>
            <result column="receive_time" property="receiveTime"/>
            <result column="remark" property="remark"/>
            <result column="status" property="status"/>
            <result column="is_active" property="isActive"/>
            <result column="created_time" property="createdTime"/>
            <result column="modified_time" property="modifiedTime"/>
            <result column="created_by" property="createdBy"/>
            <result column="modified_by" property="modifiedBy"/>
        </collection>
    </resultMap>

    <resultMap id="getComAccountResultMap"
               type="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.bo.SsComTaskBO"
               extends="ModelResultMap">
        <association property="ssComAccountBO"
                     javaType="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.bo.SsComAccountBO">
            <result column="com_account_id_acc" property="comAccountId"/>
            <result column="supplier_id" property="supplierId"/>
            <result column="ss_account_type" property="ssAccountType"/>
            <result column="ss_account" property="ssAccount"/>
            <result column="bank_account" property="bankAccount"/>
            <result column="com_account_name" property="comAccountName"/>
            <result column="settlement_area" property="settlementArea"/>
            <result column="payment_bank" property="paymentBank"/>
            <result column="payment_way" property="paymentWay"/>
            <result column="bill_receiver" property="billReceiver"/>
            <result column="expire_date_acc" property="expireDate"/>
            <result column="ss_username" property="ssUsername"/>
            <result column="ss_pwd" property="ssPwd"/>
            <result column="initial_balance" property="initialBalance"/>
            <result column="initial_debt" property="initialDebt"/>
            <result column="origin_place" property="originPlace"/>
            <result column="origin_place_remark" property="originPlaceRemark"/>
            <result column="query_account" property="queryAccount"/>
            <result column="deliver_way" property="deliverWay"/>
            <result column="deliver_way_remark" property="deliverWayRemark"/>
            <result column="provide_certificate_time" property="provideCertificateTime"/>
            <result column="change_time" property="changeTime"/>
            <result column="receive_date" property="receiveDate"/>
            <result column="into_date" property="intoDate"/>
            <result column="end_date" property="endDate"/>
            <result column="dispatch_material" property="dispatchMaterial"/>
            <result column="remark_acc" property="remark"/>
            <association property="ssAccountRatio"
                         javaType="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.entity.SsAccountRatio">
                <id column="ss_account_ratio_id" property="ssAccountRatioId"/>
                <result column="com_account_id_sar" property="comAccountId"/>
                <result column="industry_category" property="industryCategory"/>
                <result column="com_ratio" property="comRatio"/>
                <result column="start_month" property="startMonth"/>
                <result column="end_month" property="endMonth"/>
                <result column="is_active" property="isActive"/>
            </association>
        </association>
    </resultMap>

    <select id="getComTaskByCompanyId" resultMap="ComTaskExtMap">
        SELECT
        <include refid="ComTask_Ext_Columns"/>
        FROM
        ss_com_task a
        INNER JOIN sal_company b ON a.company_id = b.company_id
        WHERE
        a.is_active = 1
        AND b.is_active = 1
        AND a.task_category IN (1,2)
        AND a.company_id = #{companyId}
    </select>

    <sql id="ComTask_Ext_Columns">
        a.customer_id,
        a.com_account_id,
        a.com_account_name,
        a.company_id,
        b.title AS 'company_ame',
        a.ss_account,
        a.bank_account,
        a.settlement_area,
        a.payment_bank,
        a.payment_way,
        a.bill_receiver,
        a.expire_date_front AS 'expire_date',
        a.legal_person,
        a.contact_address,
        '' AS 'query_account',
        a.industry_category,
        '' AS 'com_ratio',
        a.dispatch_material,
        a.submit_remark AS 'remark',
        a.task_status
    </sql>

    <!--查询企业任务单 未处理状态-->
    <select id="queryNoProgressCompanyTask" resultMap="ModelResultMap">
        SELECT
        sct.company_id,
        sct.com_task_id,
        sct.task_category,
        sct.customer_id,
        sct.expire_date,
        sct.submitter_id,
        sct.submitter_name,
        sct.submit_time,
        sct.submit_remark,
        sct.rejection_remark,
        sct.handle_remark,
        sct.created_time,
        sct.created_display_name,
        cc.title
        FROM ss_com_task sct
        LEFT JOIN sal_company cc ON sct.company_id = cc.company_id
        <where>
            AND sct.is_active = 1
            AND sct.task_status = 0
            <if test="companyName!= null">
                AND cc.title LIKE CONCAT('%', #{companyName}, '%')
            </if>
            <if test="taskCategory!= null">
                AND sct.task_category = #{taskCategory}
            </if>
            <if test="companyId!= null">
                AND sct.company_id = #{companyId}
            </if>
            <if test="submitTimeStart!= null">
                AND sct.submit_time <![CDATA[ >= ]]> #{submitTimeStart}
            </if>
            <if test="submitTimeEnd!= null ">
                AND sct.submit_time <![CDATA[ <= ]]> CONCAT(DATE_FORMAT(#{submitTimeEnd},'%Y-%m-%d'), ' 23:59:59')
            </if>
        </where>
    </select>

    <!--查询企业任务单 处理中状态-->
    <select id="queryProgressingCompanyTask" resultMap="ModelResultMap">
        SELECT * FROM(
        SELECT
        sct.task_status,
        sct.company_id,
        sct.com_task_id,
        sct.task_category,
        sct.customer_id,
        sct.expire_date,
        sct.submitter_id,
        sct.submitter_name,
        sct.submit_time,
        sct.submit_remark,
        sct.rejection_remark,
        sct.created_time,
        sct.created_display_name,
        cc.title
        FROM ss_com_task sct
        LEFT JOIN ss_com_account sca ON sct.com_account_id = sca.com_account_id
        LEFT JOIN sal_company cc ON sct.company_id = cc.company_id
        <where>
            AND sct.is_active = 1
            <if test="accountType!= null ">
                AND sca.ss_account_type = #{accountType}
            </if>
            <if test="regionValue!= null ">
                AND sca.settlement_area LIKE CONCAT('%',#{regionValue}, '%')
            </if>
            <if test="taskStatus!= null ">
                AND sct.task_status = #{taskStatus}
            </if>

            <if test="companyName!= null">
                AND cc.title LIKE CONCAT('%', #{companyName}, '%')
            </if>
            <if test="taskCategory!= null">
                AND sct.task_category = #{taskCategory}
            </if>
            <if test="companyId!= null">
                AND sct.company_id = #{companyId}
            </if>
            <if test="submitTimeStart!= null">
                AND sct.submit_time <![CDATA[ >= ]]> #{submitTimeStart}
            </if>
            <if test="submitTimeEnd!= null ">
                AND sct.submit_time <![CDATA[ <= ]]> CONCAT(DATE_FORMAT(#{submitTimeEnd},'%Y-%m-%d'), ' 23:59:59')
            </if>
        </where>
        )x
        <where>
            <if test="taskStatus== null ">
                AND x.task_status = 1 OR x.task_status = 2
            </if>
        </where>
    </select>
    <!--查询企业任务单 已完成状态-->
    <select id="queryFinshedCompanyTask" resultMap="ModelResultMap">
        SELECT
        sct.company_id,
        sct.com_task_id,
        sct.task_category,
        sct.customer_id,
        sct.expire_date,
        sct.submitter_id,
        sct.submitter_name,
        sct.submit_time,
        sct.submit_remark,
        sct.rejection_remark,
        sct.created_time,
        sct.created_display_name,
        cc.title
        FROM ss_com_task sct
        LEFT JOIN ss_com_account sca ON sct.com_account_id = sca.com_account_id
        LEFT JOIN sal_company cc ON sct.company_id = cc.company_id
        <where>
            AND sct.is_active = 1
            AND sct.task_status =3
            <if test="accountType!= null ">
                AND sca.ss_account_type = #{accountType}
            </if>
            <if test="regionValue!= null ">
                AND sca.settlement_area LIKE CONCAT('%',#{regionValue}, '%')
            </if>
            <if test="companyName!= null">
                AND cc.title LIKE CONCAT('%', #{companyName}, '%')
            </if>
            <if test="taskCategory!= null">
                AND sct.task_category = #{taskCategory}
            </if>
            <if test="companyId!= null">
                AND sct.company_id = #{companyId}
            </if>
            <if test="submitTimeStart!= null">
                AND sct.submit_time <![CDATA[ >= ]]> #{submitTimeStart}
            </if>
            <if test="submitTimeEnd!= null ">
                AND sct.submit_time <![CDATA[ <= ]]> CONCAT(DATE_FORMAT(#{submitTimeEnd},'%Y-%m-%d'), ' 23:59:59')
            </if>
        </where>
    </select>

    <!--查询企业任务单 批退状态-->
    <select id="queryRefusedCompanyTask" resultMap="ModelResultMap">
        SELECT
        sct.company_id,
        sct.com_task_id,
        sct.task_category,
        sct.customer_id,
        sct.expire_date,
        sct.submitter_id,
        sct.submitter_name,
        sct.submit_time,
        sct.submit_remark,
        sct.rejection_remark,
        sct.created_time,
        sct.created_display_name,
        cc.title
        FROM ss_com_task sct
        LEFT JOIN sal_company cc ON sct.company_id = cc.company_id
        <where>
            AND sct.is_active = 1
            AND sct.task_status = 4
            <if test="companyName!= null">
                AND cc.title LIKE CONCAT('%', #{companyName}, '%')
            </if>
            <if test="taskCategory!= null">
                AND sct.task_category = #{taskCategory}
            </if>
            <if test="companyId!= null">
                AND sct.company_id = #{companyId}
            </if>
            <if test="submitTimeStart!= null">
                AND sct.submit_time <![CDATA[ >= ]]> #{submitTimeStart}
            </if>
            <if test="submitTimeEnd!= null ">
                AND sct.submit_time <![CDATA[ <= ]]> CONCAT(DATE_FORMAT(#{submitTimeEnd},'%Y-%m-%d'), ' 23:59:59')
            </if>
        </where>
    </select>

    <!-- 批量修改 修改任务单状态-->
    <update id="updatePatchRefuseTask" parameterType="java.util.List">

        UPDATE ss_com_task sct SET sct.task_status = 4

        WHERE com_task_id IN
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item.comTaskId}
        </foreach>
    </update>

    <!-- 查询企业信息和材料 -->
    <select id="queryComInfoAndMaterial" resultMap="getMaterialResultMap">
        SELECT
        sct.company_id,
        sct.com_task_id,
        sct.task_category,
        sct.customer_id,
        sct.expire_date,
        sct.submitter_id,
        sct.submitter_name,
        sct.submit_time,
        sct.submit_remark,
        sct.task_status,
        cc.title,
        scm.*
        FROM ss_com_task sct
        LEFT JOIN (SELECT company_id, title FROM sal_company WHERE is_active = 1)cc ON sct.company_id = cc.company_id
        LEFT JOIN
        (SELECT
        com_material_id,
        com_task_id AS com_task_id_m,
        material_type,
        material_name,
        submit_time AS submit_time_m,
        receive_time,
        remark,
        `status`
        FROM
        ss_com_material WHERE is_active = 1
        )
        scm ON sct.com_task_id = scm.com_task_id_m
        WHERE
        sct.is_active =1
        AND sct.com_task_id = #{comTaskId}
        <if test="isComplete ==0 ">
            AND sct.task_status != 3
        </if>
        <if test="isComplete ==3">
            AND sct.task_status = 3
        </if>
        <if test="isComplete ==4">
            AND sct.task_status = 4
        </if>
    </select>
    <!--查询账户信息和材料-->
    <select id="queryAccountInfoAndMaterial" resultMap="getMaterialResultMap">
        SELECT
        sct.company_id,
        sct.com_task_id,
        sct.task_category,
        sct.customer_id,
        sct.expire_date,
        sct.submitter_id,
        sct.submitter_name,
        sct.submit_time,
        sct.submit_remark,
        sct.task_status,
        sct.task_form_content,
        sct.start_handle_date,
        sct.send_check_date,
        sct.finish_date,
        sct.handle_remark,
        sct.rejection_remark,
        sct.dynamic_extend,
        sc.title,
        scm.*,
        sca.*
        FROM
        ss_com_task sct
        LEFT JOIN ss_account_com_relation scr ON sct.company_id = scr.company_id AND scr.is_active=1
        LEFT JOIN
        (
        SELECT
        com_account_id AS com_account_id_acc,
        supplier_id,
        ss_account_type,
        ss_account,
        bank_account,
        com_account_name,
        settlement_area,
        payment_bank,
        payment_way,
        bill_receiver,
        expire_date AS expire_date_acc,
        ss_username,
        ss_pwd,
        initial_balance,
        initial_debt,
        origin_place,
        origin_place_remark,
        query_account,
        deliver_way,
        deliver_way_remark,
        provide_certificate_time,
        change_time,
        receive_date,
        into_date,
        end_date,
        dispatch_material,
        remark AS remark_acc,
        state
        FROM
        ss_com_account WHERE is_active=1
        )sca
        ON scr.com_account_id = sca.com_account_id_acc
        LEFT JOIN
        (
        SELECT
        com_material_id,
        com_task_id AS com_task_id_m,
        material_type,
        material_name,
        submit_time AS submit_time_m,
        receive_time,
        remark,
        `status`
        FROM
        ss_com_material
        WHERE
        is_active = 1
        )scm
        ON sct.com_task_id = scm.com_task_id_m
        LEFT JOIN
        (
        SELECT
        company_id,
        title
        FROM
        sal_company
        WHERE
        is_active = 1
        )sc
        ON sct.company_id = sc.company_id
        WHERE
        sct.is_active =1
        AND sct.com_task_id = #{comTaskId}
        <if test="isComplete ==0 ">
            AND sct.task_status != 3
        </if>
        <if test="isComplete ==3">
            AND sct.task_status = 3
        </if>
        <if test="isComplete ==4">
            AND sct.task_status = 4
        </if>
    </select>

    <!-- 查询企业信息和前道传来的JSON 解析到期时间和支付方式 -->
    <select id="queryComInfoAndPayWay" resultMap="getComAccountResultMap">
        SELECT
        sct.company_id,
        sct.com_account_id,
        sct.com_task_id,
        sct.task_category,
        sct.customer_id,
        sct.expire_date,
        sct.submitter_id,
        sct.submit_time,
        sct.submit_remark,
        sct.task_status,
        sct.task_form_content,
        sct.start_handle_date,
        sct.send_check_date,
        sct.finish_date,
        sct.handle_remark,
        sct.rejection_remark,
        sct.leader_ship_name,
        sc.title,
        sca.com_account_id AS com_account_id_acc,
        sca.supplier_id,
        sca.ss_account_type,
        sca.ss_account,
        sca.bank_account,
        sca.com_account_name,
        sca.settlement_area,
        sca.payment_bank,
        sca.payment_way,
        sca.bill_receiver,
        sca.expire_date AS expire_date_acc,
        sca.ss_username,
        sca.ss_pwd,
        sca.initial_balance,
        sca.initial_debt,
        sca.origin_place,
        sca.origin_place_remark,
        sca.query_account,
        sca.deliver_way,
        sca.deliver_way_remark,
        sca.provide_certificate_time,
        sca.change_time,
        sca.receive_date,
        sca.into_date,
        sca.end_date,
        sca.dispatch_material,
        sca.state,
        sca.remark AS remark_acc,
        sar.ss_account_ratio_id,
        sar.com_account_id AS com_account_id_sar,
        sar.industry_category,
        sar.com_ratio,
        sar.start_month,
        sar.end_month
        FROM
        ss_com_task sct
        LEFT JOIN sal_company sc ON sct.company_id = sc.company_id AND sc.is_active = 1
        LEFT JOIN ss_com_account sca ON sca.com_account_id = sct.com_account_id and sca.is_active = 1
        LEFT JOIN ss_account_ratio sar ON sca.com_account_id = sar.com_account_id
        WHERE
        sct.is_active = 1
        AND sct.com_task_id = #{comTaskId}
        <if test="isComplete ==0 ">
            AND sct.task_status != 3
        </if>
        <if test="isComplete ==3">
            AND sct.task_status = 3
        </if>
        <if test="isComplete ==4">
            AND sct.task_status = 4
        </if>
    </select>

    <update id="updateTaskStatusForRevoke"
            parameterType="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.entity.SsComTask">
        UPDATE ss_com_task sct
        SET
        <if test="taskStatus == 1">
            sct.start_handle_date=NULL,
        </if>
        <if test="taskStatus == 2">
            sct.send_check_date=NULL,
        </if>
        <if test="taskStatus != null">
            <if test="modifiedBy != null">
                sct.modified_by =#{modifiedBy},
            </if>
            <if test="modifiedTime != null">
                sct.modified_time=#{modifiedTime},
            </if>
            sct.task_status = #{taskStatus}-1
        </if>
        WHERE
        sct.com_task_id = #{comTaskId}
    </update>

    <!--判断企业任务单是否存在-->
    <select id="isExistComTask" resultType="int">
        SELECT
        COUNT(*)
        FROM ss_com_task sct
        where sct.is_active = 1
        AND sct.company_id = #{companyId}
        AND sct.task_category in(1,2)
        AND sct.task_status in (0,1,2,3)
    </select>
    <!--查询 企业是否有已完成的开户任务单-->
    <select id="countFinishComTaskByCond" resultType="int">
        SELECT
        COUNT(*)
        FROM ss_com_task sct
        where sct.is_active = 1
        AND sct.company_id = #{companyId}
        AND sct.task_category=#{taskCategory}
        AND sct.task_status =3
    </select>
    <insert id="insertComTask" useGeneratedKeys="true" keyProperty="comTaskId">
        INSERT
        INTO
        ss_com_task
       (
       customer_id,
       com_account_id,
       company_id,
       task_category,
       expire_date,
       submitter_id,
       submitter_name,
       submitter_dept_id,
       submitter_dept_name,
       submit_time,
       submit_remark,
       task_form_content,
       chat_history,
       dynamic_extend,
       task_status,
       handle_user_id,
       handle_user_name,
       start_handle_date,
       send_check_date,
       finish_date,
       handle_remark,
       rejection_remark,
       business_interface_id,
       task_id,
       ss_account,
       bank_account,
       com_account_name,
       payment_bank,
       payment_way,
       bill_receiver,
       industry_category,
       expire_date_front,
       settlement_area,
       legal_person,
       contact_address,
       dispatch_material,
       is_active,
       created_time,
       modified_time,
       created_by,
       created_display_name,
       modified_by,
       modified_display_name,
       leader_ship_id,
       leader_ship_name
       ) VALUES
        (
        #{customerId},
        #{comAccountId},
        #{companyId},
        #{taskCategory},
        #{expireDate},
        #{submitterId},
        #{submitterName},
        #{submitterDeptId},
        #{submitterDeptName},
        #{submitTime},
        #{submitRemark},
        #{taskFormContent},
        #{chatHistory},
        #{dynamicExtend},
        #{taskStatus},
        #{handleUserId},
        #{handleUserName},
        #{startHandleDate},
        #{sendCheckDate},
        #{finishDate},
        #{handleRemark},
        #{rejectionRemark},
        #{businessInterfaceId},
        #{taskId},
        #{ssAccount},
        #{bankAccount},
        #{comAccountName},
        #{paymentBank},
        #{paymentWay},
        #{billReceiver},
        #{industryCategory},
        #{expireDateFront},
        #{settlementArea},
        #{legalPerson},
        #{contactAddress},
        #{dispatchMaterial},
        #{isActive},
        #{createdTime},
        #{modifiedTime},
        #{createdBy},
        #{createdDisplayName},
        #{modifiedBy},
        #{modifiedDisplayName},
        #{leaderShipId},
        #{leaderShipName}
        )
    </insert>
</mapper>
