<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.dao.SsEmpTaskFrontMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.entity.SsEmpTaskFront">
		<id column="emp_task_front_id" property="empTaskFrontId" />
		<result column="emp_task_id" property="empTaskId" />
		<result column="emp_company_base" property="empCompanyBase" />
		<result column="policy_id" property="policyId" />
		<result column="item_dic_id" property="itemDicId" />
		<result column="policy_name" property="policyName" />
		<result column="company_ratio" property="companyRatio" />
		<result column="company_base" property="companyBase" />
		<result column="company_amount" property="companyAmount" />
		<result column="personal_ratio" property="personalRatio" />
		<result column="personal_base" property="personalBase" />
		<result column="personal_amount" property="personalAmount" />
		<result column="start_month" property="startMonth" />
		<result column="end_month" property="endMonth" />
		<result column="is_active" property="isActive" />
		<result column="created_time" property="createdTime" />
		<result column="modified_time" property="modifiedTime" />
		<result column="created_by" property="createdBy" />
		<result column="modified_by" property="modifiedBy" />
	</resultMap>

    <resultMap id="OriginEmpTaskMap" type="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.bo.SsEmpTaskFrontBO">
        <result column="emp_task_id" property="empTaskId" />
		<result column="task_category" property="taskCategory" />
        <result column="task_status" property="taskStatus" />
        <result column="emp_company_base" property="empCompanyBase" />
		<result column="start_month" property="startMonth" />
        <result column="end_month" property="endMonth" />
		<result column="created_display_name" property="createdDisplayName" />
        <result column="created_time" property="createdTime" />
    </resultMap>

    <select id="getEmpTaskDetailCount" resultType="integer">
        SELECT COUNT(DISTINCT setf.item_dic_id)
        FROM ss_emp_task_front setf
        INNER JOIN ss_emp_task et ON setf.emp_task_id = et.emp_task_id AND setf.is_active = 1
        <where>
            et.is_active = 1
            AND et.business_interface_id = #{businessInterfaceId}
        </where>
    </select>

    <select id="getOriginEmpTask" resultMap="OriginEmpTaskMap">
        SELECT
            et.emp_task_id,
            et.task_category,
            et.task_status,
            etf.emp_company_base,
            etf.start_month,
            etf.end_month,
            et.created_display_name,
            et.created_time
        FROM ss_emp_task_front etf
        INNER JOIN ss_emp_task et ON etf.emp_task_id = et.emp_task_id
        INNER JOIN ss_emp_archive ea ON et.company_id = ea.company_id AND et.employee_id = ea.employee_id
        <where>
            et.is_active = 1
            AND ea.is_active = 1
            AND ea.emp_archive_id = #{empArchiveId}
        </where>
        ORDER BY et.created_time DESC
    </select>
</mapper>
