<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.dao.SsEmpRemarkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.entity.SsEmpRemark">
        <id column="emp_remark_id" property="empRemarkId" />
        <result column="company_id" property="companyId" />
        <result column="employee_id" property="employeeId" />
        <result column="empArchive_id" property="empArchiveId" />
        <result column="remark" property="remark" />
        <result column="emp_task_id" property="empTaskId" />
        <result column="is_change" property="isChange" />
        <result column="is_active" property="isActive" />
        <result column="created_time" property="createdTime" />
        <result column="modified_time" property="modifiedTime" />
        <result column="created_by" property="createdBy" />
        <result column="modified_by" property="modifiedBy" />
        <result column="created_display_name" property="createdDisplayName" />
        <result column="modified_display_name" property="modifiedDisplayName" />
    </resultMap>
</mapper>
