<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.dao.SsPaymentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.entity.SsPayment">
        <id column="payment_id" property="paymentId" />
        <result column="payment_batch_num" property="paymentBatchNum" />
        <result column="total_application_amount" property="totalApplicationAmount" />
        <result column="payment_month" property="paymentMonth" />
        <result column="payment_state" property="paymentState" />
        <result column="create_payment_user" property="createPaymentUser" />
        <result column="create_payment_date" property="createPaymentDate" />
        <result column="finance_payment_date" property="financePaymentDate" />
        <result column="account_type" property="accountType" />
        <result column="total_emp_count" property="totalEmpCount" />
        <result column="total_account" property="totalAccount" />
        <result column="total_com" property="totalCom" />
        <result column="apply_remark" property="applyRemark" />
        <result column="rejection_remark" property="rejectionRemark" />
        <result column="rejection_his" property="rejectionHis" />
        <result column="request_user" property="requestUser" />
        <result column="request_date" property="requestDate" />
        <result column="is_active" property="isActive" />
        <result column="created_time" property="createdTime" />
        <result column="modified_time" property="modifiedTime" />
        <result column="created_by" property="createdBy" />
        <result column="modified_by" property="modifiedBy" />
    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="DtoResultMap" type="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.entity.SsPayment">
        <id column="payment_id" property="paymentId" />
        <result column="payment_batch_num" property="paymentBatchNum" />
        <result column="total_application_amount" property="totalApplicationAmount" />
        <result column="payment_month" property="paymentMonth" />
        <result column="payment_state" property="paymentState" />
        <result column="create_payment_user" property="createPaymentUser" />
        <result column="create_payment_date" property="createPaymentDate" />
        <result column="finance_payment_date" property="financePaymentDate" />
        <result column="account_type" property="accountType" />
        <result column="total_emp_count" property="totalEmpCount" />
        <result column="total_account" property="totalAccount" />
        <result column="total_com" property="totalCom" />
        <result column="apply_remark" property="applyRemark" />
        <result column="rejection_remark" property="rejectionRemark" />
        <result column="rejection_his" property="rejectionHis" />
        <result column="request_user" property="requestUser" />
        <result column="request_date" property="requestDate" />
        <result column="is_active" property="isActive" />
        <result column="created_time" property="createdTime" />
        <result column="modified_time" property="modifiedTime" />
        <result column="created_by" property="createdBy" />
        <result column="modified_by" property="modifiedBy" />
    </resultMap>
    <resultMap id="PaymentComDtoResultMap" type="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.dto.PayapplyCompanyProxyDTO">
        <result column="company_id" property="companyId" />
        <result column="title" property="companyName" />
        <result column="bank_account_id" property="companyBankAccountId" />
        <result column="bank_account"  property="companyBankAccount" />
        <result column="noticebillAmount"   property="noticebillAmount" />
        <result column="deductionAmount"   property="deductionAmount" />
        <result column="payment_month"   property="payMonth" />
        <result column="total_pay_amount"   property="payAmount" />
        <result column="is_advance"   property="isAdvance" />
    </resultMap>
    <resultMap id="PaymentEmpDtoResultMap" type="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.dto.PayapplyEmployeeProxyDTO">
        <result column="employee_id" property="employeeId" />
        <result column="employee_name" property="employeeName" />
        <result column="company_id" property="companyId" />
        <result column="payment_month"  property="payMonth" />
        <result column="total_pay_amount"  property="payAmount" />
        <result column="is_advance"   property="isAdvance" />
    </resultMap>
    <select id="paymentQuery" parameterType="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.bo.SsPaymentBO" resultMap="DtoResultMap">
        SELECT
            sp.*
        FROM
            ss_payment sp
        WHERE
            sp.is_active = 1
            <if test = "accountType != null and accountType != ''">
            AND sp.account_type = #{accountType}
            </if>
            <if test = "paymentBatchNum != null and paymentBatchNum != ''">
                AND sp.payment_batch_num = #{paymentBatchNum}
            </if>
            <if test = "paymentMonthMin != null and paymentMonthMin != ''">
                <![CDATA[
                    AND sp.payment_month >= #{paymentMonthMin}
                  ]]>
            </if>
            <if test = "paymentMonthMax != null and paymentMonthMax != ''">
                <![CDATA[
                    AND sp.payment_month <= #{paymentMonthMax}
                  ]]>
            </if>
            <if test = "paymentState != null and paymentState != ''">
                AND sp.payment_state = #{paymentState}
            </if>
            <if test = "paymentStateList != null">
                AND sp.payment_state IN
                <foreach collection="paymentStateList" item="state" open="(" close=")" separator=",">
                    #{state}
                </foreach>
            </if>
            ORDER BY sp.created_time DESC
    </select>

    <select id="searchPaymentByAccountTypeAndState" parameterType="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.bo.SsPaymentSrarchBO" resultMap="DtoResultMap">
        SELECT
        p.*
        FROM
        ss_payment p
        WHERE
        p.is_active = 1
        <if test = "accountType != null and accountType != ''">
            AND p.account_type = #{accountType}
        </if>
        <if test = "paymentMonth != null and paymentMonth != ''">
            AND p.payment_month = #{paymentMonth}
        </if>
        AND p.payment_state IN
        <foreach collection="paymentStateList" item="paymentState" open="(" close=")" separator=",">
            #{paymentState}
        </foreach>
    </select>
<!--CASE ca.payment_way WHEN 3 THEN  1 ELSE  0 END  AS 'payment_way'-->
    <!--结算中心要求：公司下面只有一个雇员是垫款，那么公司就是垫款-->

    <!--
    (SELECT if(count(1)>0,1,0) from ss_month_charge mc
        INNER JOIN emp_employee emp1 ON emp1.employee_id=mc.employee_id
        INNER JOIN ss_payment_com pc1 ON pc1.com_account_id=mc.com_account_id
        WHERE pc1.is_active=1
        AND mc.emp_payment_status = 2
        AND mc.ss_month=#{paymentMonth}
        AND pc1.payment_id=#{paymentId}
      ) AS 'is_advance'
      -->
    <select id="getPaymentComList" resultMap="PaymentComDtoResultMap">
    SELECT pc.company_id,com.title,ca.bank_account_id,ca.bank_account,pc.payment_month,
    (SELECT base_pension_amount+base_medical_amount+add_medical_amount+ unemployment_amount+ accident_amount+ maternity_amount
    FROM ss_payment_detail spd where spd.com_account_id=ca.com_account_id AND spd.seq=9 AND spd.payment_month=pc.payment_month )AS 'noticebillAmount',
    pc.adjust_deducted AS 'deductionAmount',pc.total_pay_amount,
    if( pc.com_payment_status=2,1,0) AS 'is_advance'
    FROM ss_payment_com pc
    INNER JOIN ss_com_account ca ON ca.com_account_id = pc.com_account_id
    INNER JOIN sal_company com ON com.company_id = pc.company_id
    WHERE pc.is_active = 1
    AND pc.payment_month=#{paymentMonth}
    AND pc.payment_id=#{paymentId}
    </select>

    <!--社保支付：向结算中心支付申请的雇员名单-->
    <select id="getPaymentEmpList" resultMap="PaymentEmpDtoResultMap">
    SELECT emp.employee_id,emp.employee_name,pc.company_id,pc.payment_month,
    if(mc.emp_payment_status = 2, 1, 0 ) is_advance,
    sum(mc.total_amount) AS total_pay_amount
    FROM ss_month_charge mc
    INNER JOIN emp_employee emp ON emp.employee_id=mc.employee_id
    INNER JOIN ss_emp_archive ea ON ea.emp_archive_id=mc.emp_archive_id
    INNER JOIN ss_payment_com pc ON pc.com_account_id=mc.com_account_id AND pc.company_id=ea.company_id
    WHERE pc.is_active=1
     AND mc.is_active = 1
     AND (
			 mc.cost_category IN (1,2,3,4,5,6,7)
				OR
			(mc.total_amount > 0 AND mc.cost_category = 9)
     )
    AND mc.ss_month=#{paymentMonth}
    AND pc.payment_id=#{paymentId}
    GROUP BY
    emp.employee_id,emp.employee_name,pc.company_id,pc.payment_month

    </select>


</mapper>
