<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.dao.SsPaymentMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.entity.SsPayment">
		<id column="payment_id" property="paymentId" />
		<result column="payment_batch_num" property="paymentBatchNum" />
		<result column="total_application_amount" property="totalApplicationAmount" />
		<result column="payment_month" property="paymentMonth" />
		<result column="payment_state" property="paymentState" />
		<result column="create_payment_user" property="createPaymentUser" />
		<result column="create_payment_date" property="createPaymentDate" />
		<result column="finance_payment_date" property="financePaymentDate" />
		<result column="account_type" property="accountType" />
		<result column="total_emp_count" property="totalEmpCount" />
		<result column="total_account" property="totalAccount" />
		<result column="total_com" property="totalCom" />
		<result column="apply_remark" property="applyRemark" />
		<result column="rejection_remark" property="rejectionRemark" />
		<result column="rejection_his" property="rejectionHis" />
		<result column="request_user" property="requestUser" />
		<result column="request_date" property="requestDate" />
		<result column="is_active" property="isActive" />
		<result column="created_time" property="createdTime" />
		<result column="modified_time" property="modifiedTime" />
		<result column="created_by" property="createdBy" />
		<result column="modified_by" property="modifiedBy" />
	</resultMap>

</mapper>
