<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.dao.SsStatementMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.entity.SsStatement">
        <id column="statement_id" property="statementId" />
        <result column="com_account_id" property="comAccountId" />
        <result column="ss_month" property="ssMonth" />
        <result column="imp_file_type" property="impFileType" />
        <result column="imp_file_name" property="impFileName" />
        <result column="imp_file_path" property="impFilePath" />
        <result column="statement_user_id" property="statementUserId" />
        <result column="statement_time" property="statementTime" />
        <result column="imp_record_sum" property="impRecordSum" />
        <result column="diff_sum_by_emp" property="diffSumByEmp" />
        <result column="diff_sum_by_item" property="diffSumByItem" />
        <result column="is_active" property="isActive" />
        <result column="created_time" property="createdTime" />
        <result column="modified_time" property="modifiedTime" />
        <result column="created_by" property="createdBy" />
        <result column="modified_by" property="modifiedBy" />
    </resultMap>

    <!-- 表单展示查询映射结果 -->
    <resultMap id="DtoResultMap" type="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.bo.SsStatementBO">
        <id column="statement_id" property="statementId" />
        <id column="month_emp_change_id" property="monthEmpChangeId" />

        <result column="com_account_id" property="comAccountId" />
        <result column="com_account_name" property="comAccountName" />
        <result column="ss_month" property="ssMonth" />
        <result column="imp_file_type" property="impFileType" />
        <result column="imp_file_name" property="impFileName" />
        <result column="imp_file_path" property="impFilePath" />
        <result column="statement_user_id" property="statementUserId" />
        <result column="statement_time" property="statementTime" />
        <result column="imp_record_sum" property="impRecordSum" />
        <result column="diff_sum_by_emp" property="diffSumByEmp" />
        <result column="diff_sum_by_item" property="diffSumByItem" />
        <result column="is_active" property="isActive" />
        <result column="created_time" property="createdTime" />
        <result column="modified_time" property="modifiedTime" />
        <result column="created_by" property="createdBy" />
        <result column="modified_by" property="modifiedBy" />
    </resultMap>


    <resultMap id="StatementExportMap" type="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.entity.custom.StatementExportOpt">
        <result column="com_account_id" property="comAccountId" />
        <result column="com_account_name" property="comAccountName" />
        <result column="ss_month" property="ssMonth" />
        <result column="imp_file_name" property="impFileName" />
        <result column="imp_file_type" property="impFileType" />
        <result column="down_load_month_change" property="downLoadMonthChange" />
        <result column="month_change_type" property="monthChangeType" />
        <result column="diff_sum_by_emp" property="diffSumByEmp" />
        <result column="statement_user_id" property="statementUserId" />
        <result column="statement_time" property="statementTime" />
    </resultMap>
    <select id="statementQuery" parameterType="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.bo.SsStatementBO" resultMap="DtoResultMap">

        SELECT
        mec.month_emp_change_id,s.statement_id,mec.com_account_id,mec.ss_month,mec.compute_type as 'imp_file_type',s.imp_file_name,
        s.imp_file_path,s.statement_user_id,s.statement_time,s.imp_record_sum,s.diff_sum_by_emp,s.diff_sum_by_item
        ,ca.com_account_name
        FROM ss_month_emp_change mec
        LEFT JOIN ss_statement s ON s.statement_id=mec.statement_id
        LEFT JOIN ss_com_account ca ON ca.com_account_id=mec.com_account_id
        WHERE
        1=1

            <if test = "statementId != null and statementId != ''">
                AND s.statement_id = #{statementId,jdbcType=VARCHAR}
            </if>
            <if test = "ssMonth != null and ssMonth != ''">
                AND mec.ss_month = #{ssMonth,jdbcType=VARCHAR}
            </if>
            <if test = "comAccountId != null and comAccountId != ''">
                AND ca.ss_account = #{comAccountId,jdbcType=VARCHAR}
            </if>
            <if test = "impFileType != null and impFileType != ''">
                AND mec.compute_type = #{impFileType,jdbcType=VARCHAR}
            </if>
            <if test = "maxDiffSumByEmp != null and maxDiffSumByEmp != ''">
                <![CDATA[
                    AND s.diff_sum_by_emp <= #{maxDiffSumByEmp,jdbcType=INTEGER}
                ]]>
            </if>
            <if test = "minDiffSumByEmp != null and minDiffSumByEmp != ''">
                <![CDATA[
                    AND s.diff_sum_by_emp >= #{minDiffSumByEmp,jdbcType=INTEGER}
                 ]]>
            </if>
    </select>

    <select id="serachStatementByStatementId" parameterType="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.bo.SsStatementBO" resultMap="DtoResultMap">
        SELECT
          T1.*,T2.com_account_name
        FROM
          ss_statement T1
        LEFT JOIN
          ss_com_account T2
        ON
          T2.com_account_id = T1.com_account_id
          AND T2.is_active = '1'
        WHERE
          1=1
          AND T1.is_active = '1'
          AND T1.statement_id = #{statementId,jdbcType=VARCHAR}
    </select>
    <!--<select id="fetchEmpInfo" resultType="Integer">-->
        <!--SELECT count(1) FROM ss_emp_archive ea INNER JOIN emp_employee emp ON ea.employee_id=emp.employee_id-->
        <!--where ea.ss_serial='1' and emp.employee_name ='Z001'-->
    <!--</select>-->

    <select id="statementExportQuery" parameterType="com.ciicsh.gto.afsupportcenter.socialsecurity.socservice.entity.custom.StatementExportArgs" resultMap="StatementExportMap">
        SELECT
          <include refid="StatementExport_Columns"/>
        FROM
            ss_month_emp_change a
        INNER JOIN ss_com_account b ON a.com_account_id = b.com_account_id
        LEFT JOIN ss_statement c ON a.statement_id = c.statement_id
          <include refid="StatementExport_Where"/>
    </select>

    <sql id="StatementExport_Columns">
        a.com_account_id,
        b.com_account_name,
        a.ss_month,
        c.imp_file_name,
        c.imp_file_type,
        CASE c.imp_file_type WHEN 'YYS' THEN '养医失月度变更下载'
        ELSE '工生月度变更下载' END 'down_load_month_change',
        CASE c.imp_file_type WHEN 'YYS' THEN 'YYS(养医失)'
        ELSE 'GSY(工伤)' END 'month_change_type',
        c.diff_sum_by_emp,
        c.statement_user_id,
        c.statement_time
    </sql>
    
    <sql id="StatementExport_Where">
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="ssMonth != null and ssMonth != ''">
                AND a.ss_month = #{ssMonth}
            </if>
            <if test="comAccountId != null and comAccountId != '' and comAccountId != 0">
                AND a.com_account_id = #{comAccountId}
            </if>
            <if test="impFileType != null and impFileType !=''">
                AND a.compute_type = #{impFileType}
            </if>
            <if test="minDiffSumByEmp != null and minDiffSumByEmp != '' and minDiffSumByEmp != 0">
                <![CDATA[
                    AND c.diff_sum_by_emp >= #{minDiffSumByEmp}
                ]]>
            </if>
            <if test="maxDiffSumByEmp != null and maxDiffSumByEmp != '' and maxDiffSumByEmp != 0">
                <![CDATA[
                    AND c.diff_sum_by_emp <= #{maxDiffSumByEmp}
                ]]>
            </if>
        </trim>
    </sql>


</mapper>
