<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.housefund.fundcommandservice.dao.HfEmpArchiveMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="EmpArchiveResultMap" type="com.ciicsh.gto.afsupportcenter.housefund.fundcommandservice.dto.HfEmpArchiveDto">

		<result column="company_id" property="companyId" />
		<result column="title" property="title" />
		<result column="com_account_id" property="comAccountId" />
		<result column="com_account_class_id" property="comAccountClassId" />
		<result column="hf_type" property="hfType" />
		<result column="hf_emp_account" property="hfEmpAccount" />
		<result column="archive_status" property="archiveStatus" />
		<result column="archive_task_status" property="archiveTaskStatus" />
		<result column="start_month" property="startMonth" />
		<result column="end_month" property="endMonth" />


	</resultMap>

    <select id="queryEmpArchive" resultMap="EmpArchiveResultMap">
    SELECT
    com.company_id,com.title,afbpo.custom_group,
    ca.hf_account_type,emp.employee_id,emp.employee_name,emp.id_num
    ,eab.hf_emp_account_bc,eab.archive_status_bc,ea.operation_remind,ea.operation_remind_date
    FROM hf_emp_archive ea
    LEFT JOIN sal_company com ON com.company_id=ea.company_id
    INNER JOIN emp_employee emp ON emp.employee_id=ea.employee_id
    INNER JOIN hf_com_account ca ON ca.com_account_id=ea.com_account_id
    LEFT JOIN (SELECT hea.emp_archive_id,hea.hf_emp_account as 'hf_emp_account_bc',hea.archive_status as  'archive_status_bc'
    FROM hf_emp_archive hea WHERE hea.is_active=1 AND hea.hf_type=2)eab ON eab.emp_archive_id=ea.emp_archive_id
    INNER JOIN
        (SELECT af.company_id,af.custom_group
         FROM sal_af_company af WHERE af.is_active=1
        UNION ALL
        SELECT bpo.company_id,bpo.custom_group
         FROM sal_bpo_company bpo WHERE bpo.is_active=1
        ) afbpo ON afbpo.company_id=com.company_id
    WHERE
    ea.is_active=1
    AND ea.hf_type=1

    </select>
</mapper>
