<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.employmanagement.employcommandservice.dao.AmArchiveMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMapDTO" extends="BaseResultMap"
               type="com.ciicsh.gto.afsupportcenter.employmanagement.employcommandservice.bo.AmArchiveBO">
    </resultMap>

    <select id="queryAmArchive" resultMap="BaseResultMapDTO">
        select * from am_archive where  employee_id = #{employeeId}
    </select>

    <select id="queryAmArchiveList" resultMap="BaseResultMapDTO">
        select  *  from am_archive
        where  1=1
        <if test="employeeId!=null">
           and  employee_id = #{employeeId}
        </if>
        <if test="employmentId!=null">
            and  employment_id = #{employmentId}
        </if>
    </select>

</mapper>
