<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.employmanagement.employcommandservice.dao.AmEmpTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMapDTO" extends="BaseResultMap"
               type="com.ciicsh.gto.afsupportcenter.employmanagement.employcommandservice.bo.AmEmpTaskBO">
        <result column="employ_style" property="employStyle" />
        <result column="handle_type" property="handleType" />
        <result column="employ_property" property="employProperty" />
        <result column="employ_way" property="employWay" />
        <result column="yuliu_doc_num" property="yuliuDocNum" />
        <result column="doc_num" property="docNum" />
        <result column="title" property="title" />
        <result column="employee_name" property="employeeName"/>
        <result column="id_num" property="idNum"/>
        <result column="service_center" property="serviceCenter"/>
        <result column="custom" property="custom"/>
        <result column="employ_date" property="employDate" />
        <result column="resign_date" property="resignDate" />
        <result column="ss_pwd" property="ssPwd"/>
        <result column="ukey" property="ukey"/>
        <result column="accout_modified" property="accoutModified"/>
        <result column="settlement_area" property="settlementArea"/>
        <result column="ss_account" property="ssAccount"/>

    </resultMap>

    <resultMap id="RM_empSSSearchExportOpt" type="com.ciicsh.gto.afsupportcenter.employmanagement.employcommandservice.entity.custom.employSearchExportOpt">
        <result column="employee_id" property="employeeId" />
        <result column="employ_style" property="employStyle" />
        <result column="handle_type" property="handleType" />
        <result column="employ_property" property="employProperty" />
        <result column="employ_way" property="employWay" />
        <result column="yuliu_doc_num" property="yuliuDocNum" />
        <result column="doc_num" property="docNum" />
        <result column="title" property="title" />
        <result column="employee_name" property="employeeName"/>
        <result column="id_num" property="idNum"/>
        <result column="service_center" property="serviceCenter"/>
        <result column="diaodang_feedback_opt_date" property="diaodangFeedbackOptDate" />
    </resultMap>

    <select id="queryAmEmpTask" resultMap="BaseResultMapDTO">
        SELECT
        a.emp_task_id,/*任务id */
        a.employee_id,/*雇员id */
        a.company_id,/*客户Id*/
        a.employee_nature,
        a.archive_direction,
        b.employment_id,
        b.employ_way,/*用工方式 */
        b.employ_property,/*用工属性 */
        c.yuliu_doc_num,/*预留档案编号 */
        c.doc_num,/*档案编号 */
        c.diaodang_feedback,/*调档反馈 */
        c.employ_feedback_opt_date,/*用工反馈操作日期 */
        c.diaodang_feedback_opt_date,/*调档反馈操作日期 */
        d.employee_name,/*雇员姓名 */
        d.id_num,/*证件号 */
        d.id_card_type,
        e.title,/*公司名称 */
        cs.employ_special,
        h.service_center,/*服务中心 */
        h.leader_ship_name  /*客服经理*/
        FROM
        am_emp_task a
        LEFT JOIN
        am_employment b
        ON  a.emp_task_id = b.emp_task_id
        LEFT JOIN
        emp_employee d
        on  a.employee_id = d.employee_id
        LEFT JOIN
        sal_company e
        on e.company_id = a.company_id
        LEFT JOIN
        am_emp_custom h on h.task_id = a.task_id
        LEFT JOIN
        am_archive c
        ON b.employment_id = c.employment_id
        LEFT JOIN
        am_company_set cs
        on cs.company_id = a.company_id
        where   a.task_category = '1'
        <if test="taskStatus!=null">
            and a.task_status = ${taskStatus}
        </if>
        <foreach collection="param" item="plid" open="" close="" separator="">
          and  ${plid}
        </foreach>
        order by a.created_time desc
    </select>

    <select id="taskCount"  resultMap="BaseResultMapDTO">
        SELECT
        t.task_status,
        COUNT(t.task_status) AS count
        FROM
        (
        SELECT
        a.task_status
        FROM
        am_emp_task a
        LEFT JOIN
        am_employment b
        ON  a.emp_task_id = b.emp_task_id
        LEFT JOIN
        emp_employee d
        on  a.employee_id = d.employee_id
        LEFT JOIN
        sal_company e
        on e.company_id = a.company_id
        LEFT JOIN
        am_emp_custom h on h.task_id = a.task_id
        LEFT JOIN
        am_archive c
        ON b.employment_id = c.employment_id
        LEFT JOIN
        am_company_set cs
        on cs.company_id = a.company_id
        where   a.task_category = '1'
        <foreach collection = "param" item = "plid"  open=""  close=""  separator="" >
          AND  ${ plid }
        </foreach >
        )  t
        GROUP BY
        t.task_status
    </select>

    <select id="queryAmEmploymentById" resultMap="BaseResultMapDTO">
        SELECT
        a.emp_task_id,/*任务id */
        a.employee_id,/*雇员id */
        b.employ_way,/*用工方式 */
        b.employ_property,/*用工属性 */
        c.yuliu_doc_num,/*预留档案编号 */
        c.doc_num,/*档案编号 */
        c.diaodang_feedback,/*调档反馈 */
        c.employ_feedback_opt_date,/*用工反馈操作日期 */
        c.diaodang_feedback_opt_date,/*调档反馈操作日期 */
        d.employee_name,/*雇员姓名 */
        d.id_num,/*证件号 */
        e.title,/*公司名称 */
        e.license_code
        FROM
        am_emp_task a
        LEFT JOIN
        am_employment b
        ON a.employee_id = b.employee_id
        LEFT JOIN
        am_archive c
        ON b.employment_id = c.employment_id
        LEFT JOIN
        emp_employee  d
        on  b.employee_id = d.employee_id
        LEFT JOIN
        sal_company e
        on e.company_id = b.company_id
        LEFT JOIN
        am_resign f
        on a.employee_id = f.employee_id
        where
        task_category = '1'
        and
        b.employee_id = #{employeeId}
        AND
        b.company_id = #{companyId}
    </select>

    <select id="queryAccout" resultMap="BaseResultMapDTO">
        SELECT
        a.ss_pwd,
        a.ss_username ukey,
        a.modified_time accout_modified,
        a.settlement_area,
        a.ss_account
        FROM
        ss_com_account a
        INNER JOIN ss_account_com_relation b ON a.com_account_id = b.account_com_relation_id
        WHERE
        b.company_id = #{companyId}
        and
        a.is_active = 1
    </select>

    <select id="selectEmployId" resultMap="BaseResultMapDTO">

        SELECT  employee_id,company_id from emp_af_emp_company where emp_company_id = #{empCompanyId}

    </select>

    <select id="queryEmpTask" resultMap="BaseResultMapDTO">
        SELECT
        a.task_form_content,
        a.created_time
        FROM
        am_emp_task a
        where
        task_category = '1'
        and
        a.company_id = #{companyId}
        and
        a.employee_id = #{employeeId}
    </select>

    <update id="updateTaskStatus">
        UPDATE am_emp_task set task_status = 6 where emp_task_id = (SELECT a.emp_task_id from am_employment a where  a.employment_id = #{employmentId}  )
    </update>

    <select id="queryAmEmpTaskList" resultMap="RM_empSSSearchExportOpt">
        SELECT
        a.emp_task_id,/*任务id */
        a.employee_id,/*雇员id */
        a.company_id,/*客户Id*/
        a.employee_nature,
        a.archive_direction,
        b.employment_id,
        b.employ_way,/*用工方式 */
        b.employ_property,/*用工属性 */
        c.yuliu_doc_num,/*预留档案编号 */
        c.doc_num,/*档案编号 */
        c.diaodang_feedback,/*调档反馈 */
        c.employ_feedback_opt_date,/*用工反馈操作日期 */
        c.diaodang_feedback_opt_date,/*调档反馈操作日期 */
        d.employee_name,/*雇员姓名 */
        d.id_num,/*证件号 */
        d.id_card_type,
        e.title,/*公司名称 */
        cs.employ_special,
        h.service_center,/*服务中心 */
        h.leader_ship_name /*客服经理*/
        FROM
        am_emp_task a
        LEFT JOIN
        am_employment b
        ON  a.emp_task_id = b.emp_task_id
        LEFT JOIN
        emp_employee d
        on  a.employee_id = d.employee_id
        LEFT JOIN
        sal_company e
        on e.company_id = a.company_id
        LEFT JOIN
        am_emp_custom h on h.task_id = a.task_id
        LEFT JOIN
        am_archive c
        ON b.employment_id = c.employment_id
        LEFT JOIN
        am_company_set cs
        on cs.company_id = a.company_id
        where   a.task_category = '1'
        <if test="taskStatus!=null">
            and a.task_status = ${taskStatus}
        </if>
        <foreach collection="param" item="plid" open="" close="" separator="">
            and  ${plid}
        </foreach>
        order by a.created_time desc
    </select>

    <select id="querySocial" resultMap="BaseResultMapDTO">
        select ca.ss_account,ca.com_account_name,ca.modified_time as accountRepairDate,ca.ss_pwd
        FROM ss_com_account ca
        LEFT JOIN ss_account_com_relation acr on acr.com_account_id=ca.com_account_id
        where 1=1
        <if test="companyId!=null">
            and  acr.company_id=#{companyId}
        </if>
        <if test="templateType!=null">
            and  ca.ss_account_type=#{templateType}
        </if>
    </select>

</mapper>
