<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.employmanagement.employcommandservice.dao.AmEmploymentMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMapDTO" extends="BaseResultMap"
               type="com.ciicsh.gto.afsupportcenter.employmanagement.employcommandservice.bo.AmEmploymentBO">
        <result column="yuliu_doc_num" property="yuliuDocNum" />
        <result column="doc_num" property="docNum" />
        <result column="resign_handle_date" property="resignHandleDate" />
        <result column="return_doc_date" property="returnDocDate" />
        <result column="resign_feedback1" property="resignFeedback1" />
        <result column="resign_feedback2" property="resignFeedback2" />
        <result column="employ_feedback" property="employFeedback" />
        <result column="storage_out_date" property="storageOutDate" />
        <result column="archive_place" property="archivePlace" />
        <result column="return_doc_date" property="returnDocDate" />
        <result column="resign_handle_date" property="resignHandleDate" />
        <result column="employ_feedback" property="employFeedback" />
        <result column="task_status" property="taskStatus" />
        <result column="task_category" property="taskCategory" />
        <result column="archive_id" property="archiveId" />
        <result column="archive_direction" property="archiveDirection"/>
        <result column="employee_nature" property="employeeNature"/>
        <result column="employee_name" property="employeeName"/>
        <result column="title" property="title"/>
        <result column="job_centre_feedback_date" property="jobCentreFeedbackDate" />
        <result column="out_reason" property="outReason" />
        <result column="out_date" property="outDate" />

    </resultMap>

    <resultMap id="RM_archiveSearchExportOpt" type="com.ciicsh.gto.afsupportcenter.employmanagement.employcommandservice.entity.custom.archiveSearchExportOpt">
        <result column="employee_id" property="employeeId" />
        <result column="employ_style" property="employStyle" />
        <result column="handle_type" property="handleType" />
        <result column="employ_property" property="employProperty" />
        <result column="employ_way" property="employWay" />
        <result column="yuliu_doc_num" property="yuliuDocNum" />
        <result column="doc_num" property="docNum" />
        <result column="title" property="title" />
        <result column="employee_name" property="employeeName"/>
        <result column="id_num" property="idNum"/>
        <result column="service_center" property="serviceCenter"/>
        <result column="diaodang_feedback_opt_date" property="diaodangFeedbackOptDate" />
    </resultMap>

    <select id="queryAmEmployment" resultMap="BaseResultMapDTO">
        SELECT  *  FROM  am_employment
        where
          is_active = 1
        <if test="employeeId!=null">
            and  employee_id = #{employeeId}
        </if>
        <if test="employmentId!=null">
            and  employment_id = #{employmentId}
        </if>
        order by  created_time desc
    </select>

    <select id="queryAmArchive" resultMap="BaseResultMapDTO">
        SELECT
        a.employ_code,
        w.out_reason,
        w.out_date,
        w.emp_task_id as empTaskResignId,
        a.emp_task_id,
        b.employment_id,
        b.employee_id,
        b.company_id,
        /**用工属性*/
        b.employ_property,
        /**用工属性*/
        b.employ_way,
        b.handle_type,
        c.doc_num,
        c.yuliu_doc_num,
        c.archive_place,
        /**出库日期*/
        c.storage_out_date,
        c.archive_id,
        d.id_num,/*证件号 */
        d.id_card_type,
        d.employee_name,
        b.employ_date,
        /**退工日期*/
        f.resign_date,
        /**用工反馈*/
        c.employ_feedback,
        f.resign_feedback,
        /**退档日期*/
        f.return_doc_date,
        /**退工送办日期*/
        f.resign_handle_date,
        f.job_centre_feedback_date,
        e.title,
        h.service_center,/*服务中心 */
        h.leader_ship_name,  /*客服经理*/
        cs.archive_special
        FROM
        am_employment b
        LEFT JOIN am_emp_task a on a.emp_task_id = b.emp_task_id
        LEFT JOIN am_archive c ON b.employment_id = c.employment_id
        LEFT JOIN am_resign f ON f.employment_id = b.employment_id
        LEFT JOIN emp_employee d  on  b.employee_id = d.employee_id
        LEFT JOIN sal_company e ON e.company_id = b.company_id
        LEFT JOIN am_emp_task w on a.company_id = w.company_id and a.employee_id = w.employee_id and w.task_category = 2
        LEFT JOIN am_emp_custom h on h.task_id = a.task_id
        LEFT JOIN am_company_set cs on cs.company_id = a.company_id
        where  1= 1
        <if test="taskStatus!=null">
            and  a.task_status = ${taskStatus}
        </if>
        <if test="taskCategory!=null">
            and  a.task_category = ${taskCategory}
        </if>
        <foreach collection="param" item="plid" open="" close="" separator="">
            and  ${plid}
        </foreach>
        order by b.created_time desc
    </select>

    <select id="taskCountEmployee"  resultMap="BaseResultMapDTO">
        SELECT
        t.task_status,
        COUNT(t.task_status) AS count
        FROM
        (
        SELECT
        a.task_status
        FROM
        am_employment b
        LEFT JOIN am_emp_task a on  a.company_id = b.company_id and a.employee_id = b.employee_id
        LEFT JOIN am_archive c ON b.employment_id = c.employment_id
        LEFT JOIN am_resign f ON f.employment_id = b.employment_id
        WHERE
        task_category = '1'
        <foreach collection = "param" item = "plid"  open=""  close=""  separator="" >
            AND  ${ plid }
        </foreach >
        )  t
        GROUP BY
        t.task_status
    </select>

    <select id="taskCountResign"  resultMap="BaseResultMapDTO">
        SELECT
        t.task_status,
        COUNT(t.task_status) AS count
        FROM
        (
        SELECT
        a.task_status
        FROM
        am_employment b
        LEFT JOIN am_emp_task a on  a.company_id = b.company_id and a.employee_id = b.employee_id
        LEFT JOIN am_archive c ON b.employment_id = c.employment_id
        LEFT JOIN am_resign f ON f.employment_id = b.employment_id
        WHERE
        task_category = '2'
        <foreach collection = "param" item = "plid"  open=""  close=""  separator="" >
            AND  ${ plid }
        </foreach >
        )  t
        GROUP BY
        t.task_status
    </select>
    <select id="queryAmArchiveList" resultMap="RM_archiveSearchExportOpt">
        SELECT
        w.out_reason,
        w.out_date,
        a.emp_task_id,
        b.employment_id,
        b.employee_id,
        b.company_id,
        /**用工属性*/
        b.employ_property,
        /**用工属性*/
        b.employ_way,
        b.handle_type,
        c.doc_num,
        c.yuliu_doc_num,
        c.archive_place,
        /**出库日期*/
        c.storage_out_date,
        c.archive_id,
        d.id_num,/*证件号 */
        d.id_card_type,
        d.employee_name,
        b.employ_date,
        /**退工日期*/
        f.resign_date,
        /**用工反馈*/
        c.employ_feedback,
        f.resign_feedback,
        /**退档日期*/
        f.return_doc_date,
        /**退工送办日期*/
        f.resign_handle_date,
        f.job_centre_feedback_date,
        e.title,
        h.service_center,/*服务中心 */
        h.leader_ship_name,  /*客服经理*/
        cs.archive_special
        FROM
        am_employment b
        LEFT JOIN am_emp_task a on a.emp_task_id = b.emp_task_id
        LEFT JOIN am_archive c ON b.employment_id = c.employment_id
        LEFT JOIN am_resign f ON f.employment_id = b.employment_id
        LEFT JOIN emp_employee d  on  b.employee_id = d.employee_id
        LEFT JOIN sal_company e ON e.company_id = b.company_id
        LEFT JOIN am_emp_task w on a.company_id = w.company_id and a.employee_id = w.employee_id and w.task_category = 2
        LEFT JOIN am_emp_custom h on h.task_id = a.task_id
        LEFT JOIN am_company_set cs on cs.company_id = a.company_id
        where  1= 1
        <if test="taskStatus!=null">
            and  a.task_status = ${taskStatus}
        </if>
        <if test="taskCategory!=null">
            and  a.task_category = ${taskCategory}
        </if>
        <foreach collection="param" item="plid" open="" close="" separator="">
            and  ${plid}
        </foreach>
    </select>
</mapper>
