<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.fundjob.dao.HfEmpMonthChargeMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.fundjob.entity.HfEmpMonthCharge">
		<id column="emp_month_charge_id" property="empMonthChargeId" />
		<result column="emp_archive_id" property="empArchiveId" />
		<result column="company_id" property="companyId" />
		<result column="employee_id" property="employeeId" />
		<result column="hf_type" property="hfType" />
		<result column="hf_month" property="hfMonth" />
		<result column="ss_month_belong" property="ssMonthBelong" />
		<result column="payment_type" property="paymentType" />
		<result column="bujiao_reason" property="bujiaoReason" />
		<result column="base" property="base" />
		<result column="ratio" property="ratio" />
		<result column="ratio_emp" property="ratioEmp" />
		<result column="ratio_com" property="ratioCom" />
		<result column="amount" property="amount" />
		<result column="emp_amount" property="empAmount" />
		<result column="com_amount" property="comAmount" />
		<result column="emp_payment_status" property="empPaymentStatus" />
		<result column="is_active" property="isActive" />
		<result column="created_time" property="createdTime" />
		<result column="modified_time" property="modifiedTime" />
		<result column="created_by" property="createdBy" />
		<result column="modified_by" property="modifiedBy" />
	</resultMap>

    <!--按照财务服务契约提供雇员级金额-->
    <select id="getPaymentEmpListEnquireFinance" resultType="com.ciicsh.gto.afsupportcenter.fundjob.bo.HfMonthChargeBO">

        SELECT mc.month_charge_id obj_id,mc.employee_id,emp.employee_name,ea.company_id,mc.ss_month_belong as pay_month,mc.emp_payment_status as is_company_enjoy_advance
        ,mc.hf_type,(IFNULL(mc.amount,0)-IFNULL(a.amount,0)) as 'pay_amount'
        FROM hf_month_charge mc
        INNER JOIN hf_emp_archive ea ON ea.emp_archive_id=mc.emp_archive_id
        INNER JOIN hf_payment_account pc ON pc.com_account_id=ea.com_account_id
        INNER JOIN emp_employee emp ON mc.employee_id=emp.employee_id
        LEFT JOIN
        (SELECT
        mc.employee_id,mc.ss_month_belong ,mc.payment_type,mc.amount,mc.hf_type,ea.company_id
        FROM hf_month_charge mc
        INNER JOIN hf_emp_archive ea ON ea.emp_archive_id=mc.emp_archive_id
        INNER JOIN hf_payment_account pc ON pc.com_account_id=ea.com_account_id
        WHERE pc.is_active=1
        AND mc.payment_type in(7,8,9,10)
        AND mc.hf_month=#{paymentMonth}
        AND pc.payment_month=#{paymentMonth}
        AND pc.payment_account_id=#{paymentAccountId})a
        on a.ss_month_belong=mc.ss_month_belong AND a.employee_id=mc.employee_id AND a.company_id=ea.company_id
         AND mc.hf_type=a.hf_type
        WHERE mc.is_active=1
        AND mc.payment_type in(1,2,3,4,5,6,11)
        AND mc.hf_month=#{paymentMonth}
        AND pc.payment_month=#{paymentMonth}
        AND pc.payment_account_id=#{paymentAccountId}
        and (IFNULL(mc.amount,0)-IFNULL(a.amount,0))!=0
    </select>

    <!--查询 客户下有多少 不可付的记录-->
    <select id="countByEmpPaymentStatus" resultType="java.lang.Integer">
        SELECT count(1)
        FROM hf_month_charge mc
        INNER JOIN hf_emp_archive ea ON ea.emp_archive_id=mc.emp_archive_id
        INNER JOIN hf_payment_account pc ON pc.com_account_id=ea.com_account_id
        INNER JOIN emp_employee emp ON mc.employee_id=emp.employee_id
        LEFT JOIN
        (SELECT mc.employee_id,mc.ss_month_belong ,mc.payment_type,mc.amount,mc.hf_type
        FROM hf_month_charge mc
        INNER JOIN hf_emp_archive ea ON ea.emp_archive_id=mc.emp_archive_id
        INNER JOIN hf_payment_account pc ON pc.com_account_id=ea.com_account_id
        WHERE pc.is_active=1
        AND mc.payment_type in(7,8,9,10)
        AND mc.hf_month=#{paymentMonth}
        AND pc.payment_month=#{paymentMonth}
        AND pc.payment_account_id=#{paymentAccountId})a
        on a.ss_month_belong=mc.ss_month_belong AND a.employee_id=mc.employee_id and mc.hf_type=a.hf_type
        WHERE mc.is_active=1
        AND mc.payment_type in(1,2,3,4,5,6,11)
        AND mc.hf_month=#{paymentMonth}
        AND pc.payment_month=#{paymentMonth}
        AND pc.payment_account_id=#{paymentAccountId}
        and (IFNULL(mc.amount,0)-IFNULL(a.amount,0))!=0
        AND IFNULL(mc.emp_payment_status,0) = 0


    </select>

    <!--根据接口返回的数据批量更新月度明细的支付状态-->
    <update id="updateMonthCharge" parameterType="java.util.HashMap">
        UPDATE hf_month_charge SET  emp_payment_status=#{empPaymentStatus}
        WHERE
        company_id=#{companyId}
        AND employee_id=#{employeeId}
        AND hf_month=#{hfMonth}
        AND ss_month_belong=#{hfMonthBelong}
    </update>

</mapper>
