<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.fundjob.dao.HfPaymentAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.fundjob.entity.HfPaymentAccount">
        <id column="payment_account_id" property="paymentAccountId" />
        <result column="payment_id" property="paymentId" />
        <result column="com_account_id" property="comAccountId" />
        <result column="com_account_class_id" property="comAccountClassId" />
        <result column="payment_bank" property="paymentBank" />
        <result column="payment_status" property="paymentStatus" />
        <result column="total_com_pay_amount" property="totalComPayAmount" />
        <result column="total_emp_pay_amount" property="totalEmpPayAmount" />
        <result column="is_active" property="isActive" />
        <result column="created_time" property="createdTime" />
        <result column="modified_time" property="modifiedTime" />
        <result column="created_by" property="createdBy" />
        <result column="modified_by" property="modifiedBy" />
    </resultMap>

    <!--根据接口返回的数据批量更新客户的支付状态-->
    <update id="updateHfPaymentAcc" parameterType="java.util.HashMap">
        UPDATE hf_payment_account SET
        payment_status=#{paymentStatus},modified_by=#{modifiedBy},modified_time=sysdate()
        where payment_account_id=#{paymentAccountId} AND payment_month=#{paymentMonth}
    </update>

    <select id="getComAccountClass" resultMap="BaseResultMap">

    </select>

    <select id="insertPaymentAccountJob">
        INSERT INTO hf_payment_account (
            com_account_id,
            com_account_class_id,
            hf_type,
            payment_month,
            payment_status
        ) SELECT
            ca.com_account_id,
            cac.com_account_class_id,
            cac.hf_type,
            cac.com_hf_month,
        IF (ca.payment_way = 1, 2, 1)
        FROM
            hf_com_account_class cac
        INNER JOIN hf_com_account ca ON ca.com_account_id = cac.com_account_id
        WHERE
            cac.is_active = 1
        AND ca.is_active = 1
        AND ca.state = 1
        AND ca.hf_account_type!=4
        AND ifnull(cac.end_type,'')=''
        AND ifnull(cac.com_hf_month,'')!=''
        AND NOT EXISTS (
            SELECT
                1
            FROM
                hf_payment_account pa
            WHERE
                pa.com_account_class_id = cac.com_account_class_id
            AND pa.payment_month = cac.com_hf_month
        )

    </select>

    <select id="getHfPaymentIsCompanyEnjoyAdvance" resultType="Integer">
        SELECT
          IF(ca.payment_way=3,'1','0') AS 'is_company_enjoy_advance'
        FROM hf_payment_account pa
        INNER JOIN  hf_com_account ca ON  ca.com_account_id=pa.com_account_id
        WHERE
          pa.is_active = 1
        AND pa.payment_account_id=#{paymentAccountId} limit 1
    </select>

</mapper>
