<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.fundjob.dao.HfPaymentMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.fundjob.entity.HfPayment">
        <id column="payment_id" property="paymentId" />
        <result column="payment_batch_num" property="paymentBatchNum" />
        <result column="total_application_amonut" property="totalApplicationAmonut" />
        <result column="total_emp_count" property="totalEmpCount" />
        <result column="payment_month" property="paymentMonth" />
        <result column="payment_state" property="paymentState" />
        <result column="create_payment_user" property="createPaymentUser" />
        <result column="create_payment_date" property="createPaymentDate" />
        <result column="finance_payment_date" property="financePaymentDate" />
        <result column="hf_account_type" property="hfAccountType" />
        <result column="total_emp" property="totalEmp" />
        <result column="apply_remark" property="applyRemark" />
        <result column="rejection_remark" property="rejectionRemark" />
        <result column="rejection_his" property="rejectionHis" />
        <result column="request_user" property="requestUser" />
        <result column="request_date" property="requestDate" />
        <result column="is_active" property="isActive" />
        <result column="created_time" property="createdTime" />
        <result column="modified_time" property="modifiedTime" />
        <result column="created_by" property="createdBy" />
        <result column="modified_by" property="modifiedBy" />
	</resultMap>

    <select id="getByPaymentId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        payment_account_id,
        payment_id,
        com_account_id,
        payment_bank,
        payment_status,
        total_com_pay_amount,
        total_emp_pay_amount,
        is_active,
        created_time,
        modified_time,
        created_by,
        modified_by
        FROM
        hf_payment_account SPC
        WHERE
        SPC.is_active = 1
        AND SPC.payment_id = #{paymentId}
    </select>

    <resultMap id="enquireFinanceComListRM" type="com.ciicsh.gto.afsupportcenter.fundjob.bo.HfPaymentComListBO">
        <result column="com_account_name" property="comAccountId"/>
        <result column="paymentAmount" property="payAmount"/>
        <result column="company_id" property="companyId"/>
        <result column="isCompanyEnjoyAdvance" property="isCompanyEnjoyAdvance"/>
        <result column="payment_month" property="payMonth"/>
    </resultMap>
    <!-- 汇缴支付，询问财务是否可付，获取公司列表-->
    <select id="enquireFinanceComList" resultMap="enquireFinanceComListRM">
        select pc.com_account_id,SUM(pc.remitted_amount+repair_amount) as paymentAmount,pc.company_id,
        p.payment_month,
        CASE ca.payment_way WHEN 3 THEN  1 ELSE  0 END  AS 'isCompanyEnjoyAdvance'
        from hf_payment_com pc INNER JOIN hf_com_account ca ON ca.com_account_id = pc.com_account_id
        INNER JOIN hf_payment p ON p.payment_id=pc.payment_id
        where pc.payment_id= #{paymentId}
        GROUP BY pc.com_account_id
    </select>

    <update id="updatePaymentComStatus">
        update hf_payment_com set com_payment_status=#{comPaymentStatus}
        where company_id=#{companyId} and payment_id=#{paymentId}
    </update>
</mapper>
