<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.fundjob.dao.HfPaymentComMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.fundjob.entity.HfPaymentCom">
        <id column="payment_com_id" property="paymentComId" />
        <result column="hf_type" property="hfType" />
        <result column="company_id" property="companyId" />
        <result column="payment_bank" property="paymentBank" />
        <result column="remitted_amount" property="remittedAmount" />
        <result column="repair_amount" property="bujiaoAmount" />
        <result column="remitted_count_emp" property="remittedCountEmp" />
        <result column="is_active" property="isActive" />
        <result column="created_time" property="createdTime" />
        <result column="modified_time" property="modifiedTime" />
        <result column="created_by" property="createdBy" />
        <result column="modified_by" property="modifiedBy" />
	</resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMapExt" type="com.ciicsh.gto.afsupportcenter.fundjob.bo.HfPaymentAccountBO">
        <result column="payment_month" property="paymentMonth"/>
        <result column="com_account_id" property="comAccountId"/>
        <result column="payment_way" property="paymentWay"/>
        <result column="payment_id" property="paymentId"/>
    </resultMap>

    <!--查询未支付客户-->
    <select id="getPaymentAccountList" resultMap="BaseResultMapExt">
          SELECT pa.payment_id,pa.payment_account_id,ca.com_account_id,ca.payment_way,pa.payment_month
            FROM hf_payment_account pa
            INNER JOIN hf_com_account ca on ca.com_account_id=pa.com_account_id
            WHERE ca.is_active=1 AND pa.is_active=1
            AND pa.payment_status=1
            AND day(CURDATE()) >= ca.close_day
            AND pa.payment_id IS NOT NULL
    </select>

</mapper>
