<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.housefund.fundservice.dao.HfComAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="ComAccountExtMap" type="com.ciicsh.gto.afsupportcenter.housefund.fundservice.bo.customer.ComAccountExtBo">
        <result column="com_account_id" property="comAccountId" />
        <result column="com_account_name" property="comAccountName" />
        <result column="payment_way" property="paymentWay" />
        <result column="hf_account_type" property="hfAccountType" />
        <result column="close_day" property="closeDay" />
        <result column="ukey_store" property="ukeyStore" />
        <result column="payment_bank" property="paymentBank" />
        <result column="remark" property="remark" />
        <result column="state" property="state" />
        <result column="is_active" property="isActive" />
        <result column="created_time" property="createdTime" />
        <result column="modified_time" property="modifiedTime" />
        <result column="created_by" property="createdBy" />
        <result column="modified_by" property="modifiedBy" />
        <result column="company_id" property="companyId" />
        <result column="title" property="title" />
        <result column="hf_type" property="hfType" />
        <result column="hf_com_account" property="hfComAccount" />
        <result column="com_start_month" property="comStartMonth" />
        <result column="end_month" property="endMonth" />
        <result column="end_type" property="endType" />
        <result column="account_temp_store" property="accountTempStore" />
        <result column="com_hf_month" property="comHfMonth" />
    </resultMap>

    <resultMap id="ComFundAccountMap"
               type="com.ciicsh.gto.afsupportcenter.housefund.fundservice.entity.ComFundAccountPO">
        <id column="com_account_class_id" jdbcType="INTEGER" property="comAccountClassId"/>
        <result column="com_account_id" jdbcType="INTEGER" property="comAccountId"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
        <result column="com_account_name" jdbcType="VARCHAR" property="comAccountName"/>
        <result column="hf_type" jdbcType="TINYINT" property="hfType"/>
        <result column="payment_Way" jdbcType="TINYINT" property="paymentWay"/>
        <result column="hf_account_type" jdbcType="TINYINT" property="accountType"/>
        <result column="close_day" jdbcType="TINYINT" property="closeDay"/>
        <result column="ukey_store" jdbcType="VARCHAR" property="ukeyStore"/>
        <result column="payment_Bank" jdbcType="TINYINT" property="paymentBank"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="com_account" jdbcType="VARCHAR" property="comAccount"/>
        <result column="pay_start_month" jdbcType="VARCHAR" property="payStartMonth"/>
        <result column="pay_end_month" jdbcType="VARCHAR" property="payEndMonth"/>
        <result column="com_hf_month" jdbcType="VARCHAR" property="comHfMonth"/>
        <result column="account_temp_store" jdbcType="TINYINT" property="accountTempStore"/>
    </resultMap>

    <resultMap id="ComFundAccountDetailMap"
               type="com.ciicsh.gto.afsupportcenter.housefund.fundservice.entity.ComFundAccountDetailPO">
        <result column="payment_bank" jdbcType="TINYINT" property="paymentBank"/>
        <result column="payment_way" jdbcType="TINYINT" property="paymentWay"/>
        <result column="basic_com_account" jdbcType="VARCHAR" property="basicComAccount"/>
        <result column="compensative_com_account" jdbcType="VARCHAR" property="compensativeComAccount"/>
        <result column="ukey_store" jdbcType="TINYINT" property="ukeyStore"/>
        <result column="close_day" jdbcType="TINYINT" property="closeDay"/>
        <result column="com_start_month" jdbcType="VARCHAR" property="comStartMonth"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="basic_account_temp_store" jdbcType="TINYINT" property="basicAccountTempStore"/>
        <result column="compensative_account_temp_store" jdbcType="TINYINT" property="compensativeAccountTempStore"/>

    </resultMap>

    <resultMap id="ComFundAccountCompanyMap" type="com.ciicsh.gto.afsupportcenter.housefund.fundservice.entity.ComFundAccountCompanyPO">
        <result column="company_id" jdbcType="VARCHAR" property="companyId"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="account_manager" jdbcType="VARCHAR" property="accountManager"/>
        <result column="binded_time" jdbcType="VARCHAR" property="bindedTime"/>
    </resultMap>

    <resultMap id="ComAccountTransBo"
               type="com.ciicsh.gto.afsupportcenter.housefund.fundservice.bo.customer.ComAccountTransBo">
        <result column="com_account_id" property="comAccountId"/>
        <result column="com_account_name" property="comAccountName"/>
        <result column="com_account_class_id" property="comAccountClassId"/>
        <result column="hf_com_account" property="hfComAccount"/>
    </resultMap>

    <resultMap id="AccountClassNameMap" type="com.ciicsh.gto.afsupportcenter.housefund.fundservice.entity.ComFundAccountClassNamePO">
        <result column="com_account_name" property="comAccountName" />
        <result column="hf_com_account" property="hfComAccount" />
        <result column="hf_type" property="hfType" />
        <result column="state" property="state" />

    </resultMap>

    <resultMap id="AccountNameMap" type="com.ciicsh.gto.afsupportcenter.housefund.fundservice.entity.ComFundAccountNamePO">
        <result column="com_account_id" property="comAccountId" />
        <result column="com_account_name" property="comAccountName" />
        <result column="hf_account_type" property="hfAccountType" />
        <result column="hf_com_account" property="hfComAccount"/>
    </resultMap>

    <select id="getHfComAccountList" resultMap="ComAccountExtMap">
        SELECT
            ca.*,
            ssac.company_id,
            com.title,
            class.hf_type,
            class.hf_com_account,
            class.com_start_month,
            class.end_month,
            class.com_hf_month,
            class.account_temp_store,
            class.end_type
        FROM
          hf_com_account ca
        INNER JOIN hf_account_com_relation ssac ON ca.com_account_id = ssac.com_account_id
        INNER JOIN sal_company com ON ssac.company_id = com.company_id
        INNER JOIN hf_com_account_class class ON  ca.com_account_id = class.com_account_id
        <where>
                ca.is_active = 1
            AND ssac.is_active = 1
            AND com.is_active = 1
            AND class.is_active = 1
            <if test="companyId != null">
                AND ssac.company_id= #{companyId}
            </if>
            <if test="hfAccountType != null">
                AND ca.hf_account_type= #{hfAccountType}
            </if>
            <if test="hfType != null">
                AND class.hf_type= #{hfType}
            </if>
        </where>
    </select>

    <select id="getComFundAccountList" resultMap="ComFundAccountMap">
        SELECT
        a.com_account_class_id,
        b.com_account_id,
        b.state,
        b.com_account_name,
        a.hf_type,
        b.payment_way,
        b.hf_account_type,
        b.close_day,
        b.ukey_store,
        b.payment_bank,
        b.remark,
        a.hf_com_account com_account,
        a.com_start_month pay_start_month,
        a.end_month pay_end_month,
        a.account_temp_store,
        a.com_hf_month
        FROM
        hf_com_account_class a
        INNER JOIN hf_com_account b ON a.com_account_id = b.com_account_id
--         LEFT JOIN hf_account_com_relation c ON b.com_account_id = c.com_account_id
--         LEFT JOIN sal_company d ON d.company_id = c.company_id
        WHERE
        a.is_active = 1
        AND b.is_active = 1
        <if test="companyId != null and companyId != ''">
            AND EXISTS (select 1 FROM sal_company com INNER JOIN  hf_account_com_relation acr ON  acr.com_account_id= com.com_account_id and acr.is_active=1 WHERE com.company_id = #{companyId})
        </if>
        <if test="companyName != null and companyName != ''">
            AND EXISTS (select 1 FROM sal_company com INNER JOIN  hf_account_com_relation acr ON  acr.com_account_id= com.com_account_id and acr.is_active=1 WHERE com.title LIKE CONCAT('%',#{companyName},'%'))
        </if>
        <if test="comHfMonth != null and comHfMonth != ''">
            AND a.com_hf_month = #{comHfMonth}
        </if>
        <if test="hfType != null and hfType != 0">
            AND a.hf_type = #{hfType}
        </if>
        <if test="accountNumber != null and accountNumber != ''">
            AND a.hf_com_account = #{accountNumber}
        </if>
    </select>

    <select id="getComFundAccountClassNameList" resultMap="AccountClassNameMap">
        SELECT
        b.com_account_name,
        a.hf_com_account,
        a.hf_type,
        b.state
        FROM
        hf_com_account_class a
        INNER JOIN hf_com_account b ON a.com_account_id = b.com_account_id
        <where>
            AND b.is_active=1
            AND a.hf_type=1
            <if test="comAccountName != null and comAccountName != ''">
                AND b.com_account_name LIKE CONCAT('%', #{comAccountName}, '%')
            </if>
            <if test="hfComAccount != null and hfComAccount != ''">
                AND a.hf_com_account LIKE CONCAT('%', #{hfComAccount}, '%')
            </if>
        </where>

    </select>

    <select id="getComFundAccountNameList" resultMap="AccountNameMap">
        SELECT
        a.com_account_id,
        a.com_account_name,
        a.hf_account_type,
        b.hf_com_account
        FROM
        hf_com_account a LEFT JOIN hf_com_account_class b ON a.com_account_id=b.com_account_id
        <where>
            AND a.state=1 AND a.is_active=1 AND b.hf_type=#{hfType}
            <if test="comAccountName != null and comAccountName != ''">
                AND a.com_account_name LIKE CONCAT('%', #{comAccountName}, '%')
            </if>
            <if test="hfAccountType != null and hfAccountType > 0">
                AND a.hf_account_type=#{hfAccountType}
            </if>
        </where>

    </select>

    <select id="getComFundAccountDetail" resultMap="ComFundAccountDetailMap">
        SELECT
            b.payment_bank,
            b.payment_way,
            a.hf_com_account basic_com_account,
            c.hf_com_account compensative_com_account,
            b.ukey_store,
            b.close_day,
            <if test="hfType == 1">
                a.com_start_month,
            </if>
            <if test="hfType == 2">
                c.com_start_month,
            </if>
            b.remark,
            IFNULL(a.account_temp_store, 0) basic_account_temp_store,
            IFNULL(c.account_temp_store, 0) compensative_account_temp_store
        FROM
            hf_com_account_class a
        INNER JOIN hf_com_account b ON a.com_account_id = b.com_account_id
        AND a.hf_type = 1 AND b.is_active = 1
        LEFT JOIN hf_com_account_class c ON c.com_account_id = b.com_account_id
        AND c.hf_type = 2 AND c.is_active = 1
        WHERE
            b.com_account_id = #{comAccountId}
        AND a.is_active = 1

    </select>

    <select id="getComFundAccountCompanyList" resultMap="ComFundAccountCompanyMap">
        SELECT
            a.company_id,
            b.title company_name,
            '' AS account_manager,
            DATE_FORMAT(
                a.created_time,
                '%Y-%m-%d %h:%i'
            ) AS binded_time
        FROM
            hf_account_com_relation a
        INNER JOIN sal_company b ON a.company_id = b.company_id
        WHERE
            a.com_account_id = #{comAccountId}
    </select>

    <select id="queryComAccountTransBoList" resultMap="ComAccountTransBo">
        SELECT
        hca.com_account_id,
        hca.com_account_name,
        hcac.com_account_class_id,
        hcac.hf_com_account
        FROM hf_com_account hca
        LEFT JOIN hf_com_account_class hcac
        ON hca.com_account_id = hcac.com_account_id AND hcac.is_active = 1 AND hcac.hf_type = #{hfType}
        <where>
            hca.is_active = 1
            <if test="comAccountName != null">
                AND hca.com_account_name like CONCAT('%', #{comAccountName}, '%')
            </if>
            <if test="comAccountId != null">
                AND hca.com_account_id = #{comAccountId}
            </if>
        </where>
        ORDER BY hca.com_account_name, hca.com_account_id
    </select>

    <select id="queryHfComAccountList" resultMap="ComAccountExtMap">
        SELECT
            hca.com_account_id,
            hca.com_account_name,
            hca.payment_way,
            hca.hf_account_type,
            hca.close_day,
            hca.ukey_store,
            hca.payment_bank,
            hca.remark,
            hca.state,
            hca.created_time,
            hca.modified_time,
            hca.created_by,
            hca.modified_by
        FROM
        hf_com_account hca
        <if test="companyId != null or companyName != null or userId != null">
            INNER JOIN hf_account_com_relation hacr ON hca.com_account_id = hacr.com_account_id AND hacr.is_active = 1
            INNER JOIN sal_company sc ON hacr.company_id = sc.company_id AND sc.is_active = 1
            <if test="userId != null">
                INNER JOIN hf_dataauth_company hdc ON sc.company_id = hdc.company_id AND hdc.user_id = #{userId}
            </if>
        </if>
        <if test="basicHfComAccount != null">
            INNER JOIN hf_com_account_class hcacb ON hca.com_account_id = hcacb.com_account_id AND hcacb.hf_type = 1 AND hcacb.is_active = 1
        </if>
        <if test="addedHfComAccount != null">
            INNER JOIN hf_com_account_class hcaca ON hca.com_account_id = hcaca.com_account_id AND hcaca.hf_type = 2 AND hcaca.is_active = 1
        </if>
        <where>
            hca.is_active = 1
            <if test="companyId != null">
                AND hacr.company_id = #{companyId}
            </if>
            <if test="companyName != null">
                AND sc.title LIKE CONCAT('%', #{companyName}, '%')
            </if>
            <if test="hfAccountType != null">
                AND hca.hf_account_type = #{hfAccountType}
            </if>
            <if test="basicHfComAccount != null">
                AND hcacb.hf_com_account = #{basicHfComAccount}
            </if>
            <if test="addedHfComAccount != null">
                AND hcaca.hf_com_account = #{addedHfComAccount}
            </if>
        </where>
    </select>
</mapper>
