<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.housefund.fundservice.dao.HfPaymentComMapper">

    <resultMap id="CreatePaymentAccountBO" type="com.ciicsh.gto.afsupportcenter.housefund.fundservice.bo.payment.HfCreatePaymentAccountBO">
        <result column="payment_account_id" property="paymentAccountId"/>
        <result column="com_account_id" property="comAccountId"/>
        <result column="company_id" property="companyId"/>
        <result column="com_account_class_id" property="comAccountClassId"/>
        <result column="payment_bank" property="paymentBank"/>
        <result column="hf_type" property="hfType"/>
        <result column="hf_account_type" property="hfAccountType"/>
        <result column="sum_add" property="sumAdd"/>
        <result column="sum_sub" property="sumSub"/>
        <result column="sum_amount" property="sumAmount"/>
        <result column="pay_in_back_amount" property="payInBackAmount"/>
        <result column="emp_count" property="empCount"/>

    </resultMap>

    <!--费用种类：1标准 2 开户 3 转入  4启封 5 调整启封 6 补缴  7 转出 8 封存 9调整封存 10 销户 11 差额补缴-->
	<select id="selectPaymentAccount" parameterType="java.util.List" resultMap="CreatePaymentAccountBO" >
        SELECT pa.payment_account_id,pa.com_account_id,acr.company_id,pa.com_account_class_id,ca.payment_bank,pa.hf_type,ca.hf_account_type
        ,(
        SELECT
        ifnull(sum(amount), 0)
        FROM
        hf_month_charge mc
        INNER JOIN hf_emp_archive ea ON ea.emp_archive_id = mc.emp_archive_id
        WHERE
        mc.is_active = 1
        AND ea.is_active = 1
        AND mc.hf_month = pa.payment_month
        AND mc.hf_type = pa.hf_type
        AND ea.com_account_class_id = pa.com_account_class_id
        AND mc.payment_type IN (1, 2, 3, 4, 5, 6, 11)
        ) AS sum_add,
        (
        SELECT
        ifnull(sum(amount), 0)
        FROM
        hf_month_charge mc
        INNER JOIN hf_emp_archive ea ON ea.emp_archive_id = mc.emp_archive_id
        WHERE
        mc.is_active = 1
        AND ea.is_active = 1
        AND mc.hf_month = pa.payment_month
        AND mc.hf_type = pa.hf_type
        AND ea.com_account_class_id = pa.com_account_class_id
        AND mc.payment_type IN (7, 8, 9, 10)
        ) AS sum_sub,
        (SELECT sum_add - sum_sub) AS sum_amount,
        (
        SELECT
        ifnull(sum(amount), 0)
        FROM
        hf_month_charge mc
        INNER JOIN hf_emp_archive ea ON ea.emp_archive_id = mc.emp_archive_id
        WHERE
        mc.is_active = 1
        AND ea.is_active = 1
        AND mc.hf_month = pa.payment_month
        AND mc.hf_type = pa.hf_type
        AND ea.com_account_class_id = pa.com_account_class_id
        AND mc.payment_type IN (6, 11)
        ) AS pay_in_back_amount
        ,(
        SELECT
        count(DISTINCT mc.employee_id)
        FROM
        hf_month_charge mc
        INNER JOIN hf_emp_archive ea ON ea.emp_archive_id = mc.emp_archive_id
        WHERE
        mc.is_active = 1
        AND ea.is_active = 1
        AND mc.hf_month = pa.payment_month
        AND mc.hf_type = pa.hf_type
        AND ea.com_account_class_id = pa.com_account_class_id
        ) AS emp_count
        FROM hf_payment_account pa
        INNER JOIN hf_account_com_relation acr ON acr.com_account_id=pa.com_account_id
        INNER JOIN hf_com_account ca ON ca.com_account_id=pa.com_account_id
        WHERE pa.is_active=1
        AND pa.payment_status=3
        AND pa.payment_account_id in
        <foreach collection="paymentAccountIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <update id="updatePaymentAccount">
         update hf_payment_account set payment_id=#{paymentId} where is_active = 1
        <if test="paymentAccountList != null">
            <foreach collection="paymentAccountList" item="item" open="AND payment_account_id IN (" separator="," close=")">
                #{item}
            </foreach>
        </if>

    </update>


</mapper>
