<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.employmanagement.employservice.dao.AmArchiveDocSeqMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.employmanagement.employservice.entity.AmArchiveDocSeq">
		<id column="id" property="id" />
		<result column="type" property="type" />
		<result column="doc_type" property="docType" />
		<result column="doc_seq" property="docSeq" />
	</resultMap>

    <resultMap id="ModelResultMap"
               type="com.ciicsh.gto.afsupportcenter.employmanagement.employservice.bo.AmArchiveDocSeqBO"
               extends="BaseResultMap">
    </resultMap>

    <select id="queryListByType" resultMap="ModelResultMap"
            parameterType="com.ciicsh.gto.afsupportcenter.employmanagement.employservice.entity.AmArchiveDocSeq">
        select  * from am_archive_doc_seq a
        <where>
            <if test="type != null">
                type = #{type}
            </if>
        </where>
    </select>

    <select id="queryListByTypeAndDocType" resultMap="ModelResultMap"
            parameterType="com.ciicsh.gto.afsupportcenter.employmanagement.employservice.entity.AmArchiveDocSeq">
        select  *  from am_archive_doc_seq
        <where>
            <if test="type != null">
                AND `type` = #{type}
            </if>
            <if test="docType != null">
                AND doc_type = #{docType}
            </if>
        </where>
    </select>

    <update id="updateByTypeAndDocType"
            parameterType="com.ciicsh.gto.afsupportcenter.employmanagement.employservice.entity.AmArchiveDocSeq">
        update am_archive_doc_seq set doc_seq = #{docSeq} where `type` = #{type} and doc_type = #{docType}
    </update>

    <select id="queryCountHaveAbove" resultMap="ModelResultMap"
            parameterType="com.ciicsh.gto.afsupportcenter.employmanagement.employservice.entity.AmArchiveDocSeq">
        select  *  from am_archive_doc_seq
        <where>
            <if test="type != null">
                AND `type` = #{type}
            </if>
            <if test="docType != null">
                AND doc_type = #{docType}
            </if>
            <if test="docType != null">
                AND doc_seq  &gt;= #{docSeq}
            </if>
        </where>
    </select>

</mapper>
