<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.employmanagement.employservice.dao.AmEmpCustomMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.employmanagement.employservice.entity.AmEmpCustom">
		<id column="emp_custom_id" property="empCustomId" />
        <result column="emp_task_id" property="empTaskId" />
		<result column="leader_ship_id" property="leaderShipId" />
		<result column="leader_ship_name" property="leaderShipName" />
		<result column="created_display_name" property="createdDisplayName" />
		<result column="modified_display_name" property="modifiedDisplayName" />
		<result column="service_center" property="serviceCenter" />
        <result column="title" property="title" />
		<result column="is_active" property="isActive" />
		<result column="created_time" property="createdTime" />
		<result column="modified_time" property="modifiedTime" />
		<result column="created_by" property="createdBy" />
		<result column="modified_by" property="modifiedBy" />
	</resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMapDTO" extends="BaseResultMap"
               type="com.ciicsh.gto.afsupportcenter.employmanagement.employservice.bo.AmCustomBO">
    </resultMap>

    <select id="getCustom" resultMap="BaseResultMapDTO">
        SELECT
        a.*, b.employee_center_operator,
        b.company_id,
        e.title as companyName,
        c.employ_code
        FROM
        am_emp_custom a
        LEFT JOIN am_emp_employee b ON a.emp_task_id = b.emp_task_id
        left join am_emp_task c on a.emp_task_id = c.emp_task_id
        LEFT JOIN sal_company e on e.company_id = b.company_id
        where
        a.emp_task_id = #{empTaskId}
    </select>

</mapper>
