<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.employmanagement.employservice.dao.AmEmploymentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap"
               type="com.ciicsh.gto.afsupportcenter.employmanagement.employservice.entity.AmEmployment">
        <id column="employment_id" property="employmentId"/>
        <result column="company_id" property="companyId"/>
        <result column="employee_id" property="employeeId"/>
        <result column="emp_prior_id" property="empPriorId"/>
        <result column="employ_date" property="employDate"/>
        <result column="open_af_date" property="openAfDate"/>
        <result column="employ_style" property="employStyle"/>
        <result column="handle_type" property="handleType"/>
        <result column="employ_property" property="employProperty"/>
        <result column="employ_way" property="employWay"/>
        <result column="employ_operate_man" property="employOperateMan"/>
        <result column="emp_task_id" property="empTaskId"/>
        <result column="is_active" property="isActive"/>
        <result column="created_time" property="createdTime"/>
        <result column="modified_time" property="modifiedTime"/>
        <result column="created_by" property="createdBy"/>
        <result column="modified_by" property="modifiedBy"/>
    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMapDTO" extends="BaseResultMap"
               type="com.ciicsh.gto.afsupportcenter.employmanagement.employservice.bo.AmEmploymentBO">
        <result column="yuliu_doc_type" property="yuliuDocType"/>
        <result column="yuliu_doc_num" property="yuliuDocNum"/>
        <result column="doc_type" property="docType"/>
        <result column="doc_num" property="docNum"/>
        <result column="gender" property="gender"/>
        <result column="resign_handle_date" property="resignHandleDate"/>
        <result column="return_doc_date" property="returnDocDate"/>
        <result column="resign_feedback1" property="resignFeedback1"/>
        <result column="resign_feedback2" property="resignFeedback2"/>
        <result column="employ_feedback" property="employFeedback"/>
        <result column="storage_out_date" property="storageOutDate"/>
        <result column="archive_place" property="archivePlace"/>
        <result column="return_doc_date" property="returnDocDate"/>
        <result column="resign_handle_date" property="resignHandleDate"/>
        <result column="employ_feedback" property="employFeedback"/>
        <result column="task_status" property="taskStatus"/>
        <result column="task_category" property="taskCategory"/>
        <result column="archive_id" property="archiveId"/>
        <result column="archive_direction" property="archiveDirection"/>
        <result column="employee_nature" property="employeeNature"/>
        <result column="employee_name" property="employeeName"/>
        <result column="title" property="title"/>
        <result column="job_centre_feedback_date" property="jobCentreFeedbackDate"/>
        <result column="out_reason" property="outReason"/>
        <result column="out_date" property="outDate"/>
        <result column="end_type" property="endType"/>
        <result column="labor_start_date" property="laborStartDate"/>
        <result column="labor_end_date" property="laborEndDate"/>
        <result column="company_type" property="companyType"/>
        <result column="open_af_date" property="openAfDate"/>
        <result column="doc_halfway_out_date" property="docHalfwayOutDate"/>
        <result column="if_labor_manual_return" property="ifLaborManualReturn"/>
        <result column="resign_date" property="resignDate"/>
    </resultMap>

    <resultMap id="RM_archiveSearchExportOpt"
               type="com.ciicsh.gto.afsupportcenter.employmanagement.employservice.custom.archiveSearchExportOpt">
        <result column="employee_id" property="employeeId"/>
        <result column="employ_style" property="employStyle"/>
        <result column="handle_type" property="handleType"/>
        <result column="employ_property" property="employProperty"/>
        <result column="employ_way" property="employWay"/>
        <result column="yuliu_doc_num" property="yuliuDocNum"/>
        <result column="doc_num" property="docNum"/>
        <result column="title" property="title"/>
        <result column="employee_name" property="employeeName"/>
        <result column="id_num" property="idNum"/>
        <result column="service_center" property="serviceCenter"/>
        <result column="diaodang_feedback_opt_date" property="diaodangFeedbackOptDate"/>
    </resultMap>

    <select id="queryAmEmployment" resultMap="BaseResultMapDTO">
        SELECT  *  FROM  am_employment
        where
        emp_task_id = #{empTaskId}
    </select>

    <select id="queryAmEmploymentResign" resultMap="BaseResultMapDTO">
        SELECT  *  FROM  am_employment
        where
        company_id = #{companyId}
        and
        employee_id = #{employeeId}
        order by created_time desc
    </select>

    <select id="queryAmArchive" resultMap="BaseResultMapDTO">
        SELECT
        DISTINCT
        a.employ_code,
        w.out_reason,
        w.out_date,
        w.emp_task_id as empTaskResignId,
        a.emp_task_id,
        a.change_company,
        a.job,
        b.employment_id,
        a.employee_id,
        a.company_id,
        b.employ_property,
        b.employ_way,
        b.handle_type,
        b.open_af_date,
        b.employ_style,
        c.doc_type,
        c.doc_num,
        c.yuliu_doc_type,
        c.yuliu_doc_num,
        c.archive_place,
        c.storage_out_date,
        c.archive_id,
        c.luyong_handle_end,
        d.id_num,/*证件号 */
        d.id_card_type,
        d.employee_name,
        d.gender,
        b.employ_date,
        f.resign_date,
        c.employ_feedback,
        c.employ_feedback_opt_date,
        c.diaodang_feedback_opt_date,
        c.doc_halfway_out_date,
        f.resign_feedback,
        f.return_doc_date,
        f.resign_handle_date,
        f.job_centre_feedback_date,
        f.end_type,
        f.if_labor_manual_return,
        sal.title,
        h.service_center,
        h.leader_ship_name,
        cs.employ_special,
        cs.refuse_special,
        cs.archive_special,
        e.labor_start_date,
        e.labor_end_date,
        e.position,
        e.company_type
        FROM
        am_emp_task a
        LEFT JOIN am_employment b on a.emp_task_id = b.emp_task_id
        LEFT JOIN am_archive c ON b.employment_id = c.employment_id
        LEFT JOIN am_resign f ON f.employment_id = b.employment_id
        LEFT JOIN emp_employee d on a.employee_id = d.employee_id
        LEFT JOIN am_emp_task w on f.emp_task_id = w.emp_task_id
        LEFT JOIN sal_company sal ON a.company_id = sal.company_id
        LEFT JOIN am_emp_custom h on h.emp_task_id = a.emp_task_id
        LEFT JOIN am_company_set cs on cs.company_id = a.company_id
        LEFT JOIN am_emp_employee e ON e.emp_task_id = a.emp_task_id
        where  a.task_category = '1'
        <if test="job!=null">
            and a.job = #{job}
        </if>
        <if test="taskStatus!=null and taskStatusOther==null">
            and a.task_status = ${taskStatus}
        </if>
        <if test="taskStatusOther!=null">
            and a.task_status not in ('1','3','4','5','11')
        </if>
        <if test="taskResignStatus!=null and taskResignStatusOther == null">
            and a.task_status = ${taskResignStatus}
        </if>
        <if test="taskResignStatusOther!=null">
            and a.task_status not in ('99','98','1','2','3','4','5')
        </if>
        <foreach collection="param" item="plid" open="" close="" separator="">
            and  ${plid}
        </foreach>
        order by
        <foreach collection="orderParam" item="plid" open="" close="" separator="">
            ${plid},
        </foreach>
        a.created_time desc

    </select>
    <select id="queryAmArchiveResign" resultMap="BaseResultMapDTO">
        SELECT
        a.employ_code,
        w.out_reason,
        w.out_date,
        w.emp_task_id as empTaskResignId,
        a.emp_task_id,
        a.change_company,
        a.job,
        b.employment_id,
        b.employee_id,
        b.company_id,
        /**用工属性*/
        b.employ_property,
        /**用工属性*/
        b.employ_way,
        b.handle_type,
        c.doc_type,
        c.doc_num,
        c.yuliu_doc_type,
        c.yuliu_doc_num,
        c.archive_place,
        /**出库日期*/
        c.storage_out_date,
        c.archive_id,
        d.id_num,/*证件号 */
        d.id_card_type,
        d.employee_name,
        b.employ_date,
        /**退工日期*/
        f.resign_date,
        /**用工反馈*/
        c.employ_feedback,
        f.resign_feedback,
        /**退档日期*/
        f.return_doc_date,
        /**退工送办日期*/
        f.resign_handle_date,
        f.job_centre_feedback_date,
        h.title,
        h.service_center,/*服务中心 */
        h.leader_ship_name, /*客服经理*/
        cs.employ_special,
        cs.refuse_special,
        cs.archive_special
        FROM
        am_employment b
        LEFT JOIN am_emp_task a on a.emp_task_id = b.emp_task_id
        LEFT JOIN am_archive c ON b.employment_id = c.employment_id
        LEFT JOIN am_resign f ON f.employment_id = b.employment_id
        LEFT JOIN emp_employee d on b.employee_id = d.employee_id
        LEFT JOIN am_emp_task w on f.emp_task_id = w.emp_task_id
        LEFT JOIN am_emp_custom h on h.emp_task_id = a.emp_task_id
        LEFT JOIN am_company_set cs on cs.company_id = a.company_id
        where 1= 1
        <if test="taskResignStatus!=null">
            and w.task_status = ${taskResignStatus}
        </if>
        <if test="taskResignStatusOther!=null">
            and w.task_status not in ('99','98','1','2','3','4','5')
        </if>
        <if test="taskCategory!=null">
            and w.task_category = ${taskCategory}
        </if>
        <foreach collection="param" item="plid" open="" close="" separator="">
            and ${plid}
        </foreach>
        order by b.created_time desc
    </select>

    <select id="taskCountEmployee" resultMap="BaseResultMapDTO">
        SELECT
        t.task_status,
        COUNT(t.task_status) AS count
        FROM
        (
        SELECT
        a.task_status
        FROM
        am_employment b
        LEFT JOIN am_emp_task a on a.emp_task_id = b.emp_task_id
        LEFT JOIN am_archive c ON b.employment_id = c.employment_id
        LEFT JOIN am_resign f ON f.employment_id = b.employment_id
        LEFT JOIN emp_employee d on b.employee_id = d.employee_id
        LEFT JOIN am_emp_task w on f.emp_task_id = w.emp_task_id
        LEFT JOIN am_emp_custom h on h.emp_task_id = a.emp_task_id
        WHERE
        a.task_category = '1'
        <foreach collection="param" item="plid" open="" close="" separator="">
            AND ${ plid }
        </foreach>
        ) t
        GROUP BY
        t.task_status
    </select>

    <select id="taskCountResign" resultMap="BaseResultMapDTO">
        SELECT
        t.task_status,
        COUNT(t.task_status) AS count
        FROM
        (
        SELECT
        w.task_status
        FROM
        am_employment b
        LEFT JOIN am_emp_task a on a.emp_task_id = b.emp_task_id
        LEFT JOIN am_archive c ON b.employment_id = c.employment_id
        LEFT JOIN am_resign f ON f.employment_id = b.employment_id
        LEFT JOIN emp_employee d on b.employee_id = d.employee_id
        LEFT JOIN am_emp_task w on f.emp_task_id = w.emp_task_id
        LEFT JOIN am_emp_custom h on h.emp_task_id = a.emp_task_id
        WHERE w.task_category = 2
        <foreach collection="param" item="plid" open="" close="" separator="">
            AND ${ plid }
        </foreach>
        ) t
        GROUP BY
        t.task_status
    </select>
    <select id="queryAmArchiveList" resultMap="RM_archiveSearchExportOpt">
        SELECT
        a.employ_code,
        w.out_reason,
        w.out_date,
        w.emp_task_id as empTaskResignId,
        a.emp_task_id,
        a.change_company,
        b.employment_id,
        b.employee_id,
        b.company_id,
        /**用工属性*/
        b.employ_property,
        /**用工属性*/
        b.employ_way,
        b.handle_type,
        c.doc_num,
        c.yuliu_doc_num,
        c.archive_place,
        /**出库日期*/
        c.storage_out_date,
        c.archive_id,
        d.id_num,/*证件号 */
        d.id_card_type,
        d.employee_name,
        b.employ_date,
        /**退工日期*/
        f.resign_date,
        /**用工反馈*/
        c.employ_feedback,
        f.resign_feedback,
        /**退档日期*/
        f.return_doc_date,
        /**退工送办日期*/
        f.resign_handle_date,
        f.job_centre_feedback_date,
        h.title,
        h.service_center,/*服务中心 */
        h.leader_ship_name, /*客服经理*/
        cs.archive_special
        FROM
        am_employment b
        LEFT JOIN am_emp_task a on a.emp_task_id = b.emp_task_id
        LEFT JOIN am_archive c ON b.employment_id = c.employment_id
        LEFT JOIN am_resign f ON f.employment_id = b.employment_id
        LEFT JOIN emp_employee d on b.employee_id = d.employee_id
        LEFT JOIN am_emp_task w on f.emp_task_id = w.emp_task_id
        LEFT JOIN am_emp_custom h on h.emp_task_id = a.emp_task_id
        LEFT JOIN am_company_set cs on cs.company_id = a.company_id
        where 1= 1
        <if test="taskStatus!=null">
            and a.task_status = ${taskStatus}
        </if>
        <if test="taskCategory!=null">
            and a.task_category = ${taskCategory}
        </if>
        <foreach collection="param" item="plid" open="" close="" separator="">
            and ${plid}
        </foreach>
    </select>

    <select id="queryAmEmploymentBatch" resultMap="BaseResultMapDTO">
        SELECT
        a.employment_id,
        a.emp_task_id,
        a.company_id,
        a.employee_id,
        c.archive_place,
        c.archive_source as doc_from,
        c.reserved_archive_type as doc_type,
        c.reserved_archive_no as doc_num,
        c.archive_advance_id
        FROM
        am_employment a
        LEFT JOIN am_emp_employee b ON a.emp_task_id = b.emp_task_id
        LEFT JOIN am_archive_advance c on c.employee_idcard_no = b.id_num and c.employee_name= b.employee_name and  c.status = 1
        <where>
            <foreach collection="empTaskIds" item="item" open="a.emp_task_id IN (" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>
    <select id="queryArchiveTaskCount" resultMap="BaseResultMapDTO">
        SELECT
        t.luyong_handle_end,COUNT(*) as count
        from
        (
        SELECT
        a.employ_code,
        w.out_reason,
        w.out_date,
        w.emp_task_id as empTaskResignId,
        a.emp_task_id,
        a.change_company,
        a.job,
        b.employment_id,
        a.employee_id,
        a.company_id,
        /**用工属性*/
        b.employ_property,
        /**用工属性*/
        b.employ_way,
        b.handle_type,
        c.doc_type,
        c.doc_num,
        c.yuliu_doc_type,
        c.yuliu_doc_num,
        c.archive_place,
        /**出库日期*/
        c.storage_out_date,
        c.archive_id,
        c.luyong_handle_end,
        d.id_num,/*证件号 */
        d.id_card_type,
        d.employee_name,
        d.gender,
        b.employ_date,
        /**退工日期*/
        f.resign_date,
        /**用工反馈*/
        c.employ_feedback,
        f.resign_feedback,
        /**退档日期*/
        f.return_doc_date,
        /**退工送办日期*/
        f.resign_handle_date,
        f.job_centre_feedback_date,
        f.end_type,
        sal.title,
        h.service_center,/*服务中心 */
        h.leader_ship_name, /*客服经理*/
        cs.employ_special,
        cs.refuse_special,
        cs.archive_special
        FROM
        am_emp_task a
        LEFT JOIN am_employment b on a.emp_task_id = b.emp_task_id
        LEFT JOIN am_archive c ON b.employment_id = c.employment_id
        LEFT JOIN am_resign f ON f.employment_id = b.employment_id
        LEFT JOIN emp_employee d on a.employee_id = d.employee_id
        LEFT JOIN sal_company sal ON a.company_id = sal.company_id
        LEFT JOIN am_emp_task w on f.emp_task_id = w.emp_task_id
        LEFT JOIN am_emp_custom h on h.emp_task_id = a.emp_task_id
        LEFT JOIN am_company_set cs on cs.company_id = a.company_id
        where  a.task_category = '1'
        <if test="job!=null">
            and a.job = #{job}
        </if>
        <foreach collection="param" item="plid" open="" close="" separator="">
            and  ${plid}
        </foreach>
        ) t  GROUP BY t.luyong_handle_end

    </select>

    <select id="queryTaskCount" resultMap="BaseResultMapDTO">
        SELECT
        t.job,
        COUNT(*) as count
        from
        (
        SELECT
        DISTINCT
        a.employ_code,
        w.out_reason,
        w.out_date,
        w.emp_task_id as empTaskResignId,
        a.emp_task_id,
        a.change_company,
        a.job,
        w.job as r_job,
        b.employment_id,
        a.employee_id,
        a.company_id,
        b.employ_property,
        b.employ_way,
        b.handle_type,
        b.open_af_date,
        b.employ_style,
        c.doc_type,
        c.doc_num,
        c.yuliu_doc_type,
        c.yuliu_doc_num,
        c.archive_place,
        c.storage_out_date,
        c.archive_id,
        c.luyong_handle_end,
        d.id_num,/*证件号 */
        d.id_card_type,
        d.employee_name,
        d.gender,
        b.employ_date,
        f.resign_date,
        c.employ_feedback,
        c.employ_feedback_opt_date,
        c.diaodang_feedback_opt_date,
        c.doc_halfway_out_date,
        f.resign_feedback,
        f.return_doc_date,
        f.resign_handle_date,
        f.job_centre_feedback_date,
        f.end_type,
        f.if_labor_manual_return,
        sal.title,
        h.service_center,
        h.leader_ship_name,
        cs.employ_special,
        cs.refuse_special,
        cs.archive_special,
        e.labor_start_date,
        e.labor_end_date,
        e.position,
        e.company_type
        FROM
        am_emp_task a
        LEFT JOIN am_employment b on a.emp_task_id = b.emp_task_id
        LEFT JOIN am_archive c ON b.employment_id = c.employment_id
        LEFT JOIN am_resign f ON f.employment_id = b.employment_id
        LEFT JOIN emp_employee d on a.employee_id = d.employee_id
        LEFT JOIN am_emp_task w on f.emp_task_id = w.emp_task_id
        LEFT JOIN sal_company sal ON a.company_id = sal.company_id
        LEFT JOIN am_emp_custom h on h.emp_task_id = a.emp_task_id
        LEFT JOIN am_company_set cs on cs.company_id = a.company_id
        LEFT JOIN am_emp_employee e ON e.emp_task_id = a.emp_task_id
        where  a.task_category = '1'
        <foreach collection="param" item="plid" open="" close="" separator="">
            and  ${plid}
        </foreach>
        ) t
        group by t.job
    </select>

    <select id="queryTaskCountResign" resultMap="BaseResultMapDTO">
        SELECT
        t.r_job as job,
        COUNT(*) as count
        from
        (
        SELECT
        DISTINCT
        a.employ_code,
        w.out_reason,
        w.out_date,
        w.emp_task_id as empTaskResignId,
        a.emp_task_id,
        a.change_company,
        a.job,
        w.job as r_job,
        b.employment_id,
        a.employee_id,
        a.company_id,
        b.employ_property,
        b.employ_way,
        b.handle_type,
        b.open_af_date,
        b.employ_style,
        c.doc_type,
        c.doc_num,
        c.yuliu_doc_type,
        c.yuliu_doc_num,
        c.archive_place,
        c.storage_out_date,
        c.archive_id,
        c.luyong_handle_end,
        d.id_num,/*证件号 */
        d.id_card_type,
        d.employee_name,
        d.gender,
        b.employ_date,
        f.resign_date,
        c.employ_feedback,
        c.employ_feedback_opt_date,
        c.diaodang_feedback_opt_date,
        c.doc_halfway_out_date,
        f.resign_feedback,
        f.return_doc_date,
        f.resign_handle_date,
        f.job_centre_feedback_date,
        f.end_type,
        f.if_labor_manual_return,
        sal.title,
        h.service_center,
        h.leader_ship_name,
        cs.employ_special,
        cs.refuse_special,
        cs.archive_special,
        e.labor_start_date,
        e.labor_end_date,
        e.position,
        e.company_type
        FROM
        am_emp_task a
        LEFT JOIN am_employment b on a.emp_task_id = b.emp_task_id
        LEFT JOIN am_archive c ON b.employment_id = c.employment_id
        LEFT JOIN am_resign f ON f.employment_id = b.employment_id
        LEFT JOIN emp_employee d on a.employee_id = d.employee_id
        LEFT JOIN am_emp_task w on f.emp_task_id = w.emp_task_id
        LEFT JOIN sal_company sal ON a.company_id = sal.company_id
        LEFT JOIN am_emp_custom h on h.emp_task_id = a.emp_task_id
        LEFT JOIN am_company_set cs on cs.company_id = a.company_id
        LEFT JOIN am_emp_employee e ON e.emp_task_id = a.emp_task_id
        where  a.task_category = '1'
        <foreach collection="param" item="plid" open="" close="" separator="">
            and  ${plid}
        </foreach>
        ) t
        group by t.job
    </select>

    <select id="queryAmEmploymentCount" resultMap="BaseResultMapDTO">
        SELECT
        a.employment_id,
        a.emp_task_id
        FROM
        am_employment a
        <where>
            <foreach collection="empTaskIds" item="item" open="a.emp_task_id IN (" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>

</mapper>
