<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.employmanagement.employservice.dao.AmResignMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.employmanagement.employservice.entity.AmResign">
		<id column="resign_id" property="resignId" />
		<result column="employment_id" property="employmentId" />
		<result column="company_id" property="companyId" />
		<result column="employee_id" property="employeeId" />
		<result column="resign_date" property="resignDate" />
		<result column="resign_reason" property="resignReason" />
		<result column="doc_hold_intent" property="docHoldIntent" />
		<result column="employ_doc_payment_to" property="employDocPaymentTo" />
		<result column="end_type" property="endType" />
		<result column="print_date" property="printDate" />
		<result column="emp_character" property="empCharacter" />
		<result column="return_doc_direct" property="returnDocDirect" />
		<result column="return_doc_date" property="returnDocDate" />
		<result column="transfer_way" property="transferWay" />
		<result column="transfer_remark" property="transferRemark" />
		<result column="transfer_remark1" property="transferRemark1" />
		<result column="com_group_out_direct" property="comGroupOutDirect" />
		<result column="cache_date" property="cacheDate" />
		<result column="resign_handle_date" property="resignHandleDate" />
		<result column="resign_feedback" property="resignFeedback" />
		<result column="resign_feedback_date" property="resignFeedbackDate" />
		<result column="resign_operate_man" property="resignOperateMan" />
		<result column="ukey_borrow_date" property="ukeyBorrowDate" />
		<result column="ukey_return_date" property="ukeyReturnDate" />
		<result column="if_network" property="ifNetwork" />
        <result column="is_finish" property="isFinish" />
		<result column="job_centre_feedback_date" property="jobCentreFeedbackDate" />
		<result column="resign_material_delivery_date" property="resignMaterialDeliveryDate" />
		<result column="if_labor_manual_return" property="ifLaborManualReturn" />
		<result column="is_active" property="isActive" />
		<result column="created_time" property="createdTime" />
		<result column="modified_time" property="modifiedTime" />
		<result column="created_by" property="createdBy" />
		<result column="modified_by" property="modifiedBy" />
	</resultMap>

    <resultMap id="BaseResultMapDTO" extends="BaseResultMap"
               type="com.ciicsh.gto.afsupportcenter.employmanagement.employservice.bo.AmResignBO">
        <result column="employ_style" property="employStyle" />
        <result column="handle_type" property="handleType" />
        <result column="employ_property" property="employProperty" />
        <result column="employ_way" property="employWay" />
        <result column="yuliu_doc_num" property="yuliuDocNum" />
        <result column="doc_num" property="docNum" />
        <result column="title" property="title" />
        <result column="employee_name" property="employeeName"/>
        <result column="id_num" property="idNum"/>
        <result column="service_center" property="serviceCenter"/>
        <result column="custom" property="custom"/>
        <result column="employ_date" property="employDate" />
        <result column="archive_place" property="archivePlace" />
        <result column="storage_out_date" property="storageOutDate" />
        <result column="doc_code" property="docCode" />
        <result column="archive_place_additional" property="archivePlaceAdditional" />
        <result column="archive_card_state" property="archiveCardState" />
        <result column="remark_type" property="remarkType" />
        <result column="employ_feedback" property="employFeedback" />
        <result column="out_reason" property="outReason" />
        <result column="luyong_handle_end" property="luyongHandleEnd" />
        <result column="job" property="job" />
    </resultMap>

    <resultMap id="RM_resignSearchExportOpt" type="com.ciicsh.gto.afsupportcenter.employmanagement.employservice.custom.resignSearchExportOpt">
        <result column="employee_id" property="employeeId" />
        <result column="company_id" property="companyId" />
        <result column="employ_style" property="employStyle" />
        <result column="handle_type" property="handleType" />
        <result column="employ_property" property="employProperty" />
        <result column="employ_way" property="employWay" />
        <result column="yuliu_doc_num" property="yuliuDocNum" />
        <result column="doc_num" property="docNum" />
        <result column="title" property="title" />
        <result column="employee_name" property="employeeName"/>
        <result column="id_num" property="idNum"/>
        <result column="service_center" property="serviceCenter"/>
        <result column="custom" property="custom"/>
        <result column="employ_date" property="employDate" />
        <result column="archive_place" property="archivePlace" />
        <result column="storage_out_date" property="storageOutDate" />
        <result column="doc_code" property="docCode" />
        <result column="archive_place_additional" property="archivePlaceAdditional" />
        <result column="archive_card_state" property="archiveCardState" />
        <result column="out_reason" property="outReason" />

    </resultMap>

    <select id="queryAmResign" resultMap="BaseResultMapDTO">
        SELECT
        DISTINCT
        a.emp_task_id,
        a.employee_id,
        a.company_id,
        a.change_company,
        a.employ_code,
        f.employment_id,
        a.employ_property,
        b.employ_date,
        b.handle_type,
        f.resign_date,
        f.resign_feedback,
        a.out_reason,
        a.out_date,
        a.job,
        f.job_centre_feedback_date,
        d.employee_name,
        d.id_num,
        d.id_card_type,
        c.doc_num,
        c.yuliu_doc_num,
        c.archive_place,
        c.storage_out_date,
        c.employ_feedback,
        c.luyong_handle_end,
        sal.title,
        h.service_center,
        h.leader_ship_name,
        cs.refuse_special
        FROM
        am_emp_task a
        LEFT JOIN am_resign f  ON f.emp_task_id = a.emp_task_id
        LEFT JOIN am_employment b  ON  b.employment_id = f.employment_id
        LEFT JOIN emp_employee d ON a.employee_id = d.employee_id
        LEFT JOIN am_archive c ON c.employment_id = b.employment_id
        LEFT JOIN sal_company sal ON a.company_id = sal.company_id
        LEFT JOIN am_emp_custom h on h.emp_task_id = b.emp_task_id
        LEFT JOIN am_emp_employee  e on e.emp_task_id = b.emp_task_id
        LEFT JOIN am_company_set cs on cs.company_id = a.company_id
        WHERE
        a.task_category = '2'
        and
        a.employee_id is not null
        and
        a.company_id  is not null
        <if test="taskStatus!=null and taskStatusOther == null">
            and a.task_status = ${taskStatus}
        </if>
        <if test="taskStatusOther!=null">
            and a.task_status not in ('99','98','1','2','3','4','5')
        </if>
        <if test="job!=null">
            and a.job = #{job}
        </if>
        <foreach collection="param" item="plid" open="" close="" separator="">
            and  ${plid}
        </foreach>
        order by
        <foreach collection="orderParam" item="plid" open="" close="" separator="">
            ${plid},
        </foreach>
        a.created_time desc
    </select>

    <select id="queryAmResignOther" resultMap="BaseResultMapDTO">
        SELECT
        DISTINCT
        a.emp_task_id,
        a.employee_id,
        a.company_id,
        a.employ_code,
        a.change_company,
        f.employment_id,
        b.employ_property,
        b.employ_date,
        b.handle_type,
        f.resign_date,
        f.resign_feedback,
        a.out_reason,
        a.out_date,
        f.job_centre_feedback_date,
        d.employee_name,
        d.id_num,
        d.id_card_type,
        c.doc_num,
        c.yuliu_doc_num,
        c.archive_place,
        c.storage_out_date,
        c.employ_feedback,
        h.title,
        h.service_center,
        h.leader_ship_name,
        cs.refuse_special
        FROM
        am_emp_task a
        LEFT JOIN am_resign f  ON f.emp_task_id = a.emp_task_id
        LEFT JOIN am_employment b  ON  b.employment_id = f.employment_id
        LEFT JOIN emp_employee d ON a.employee_id = d.employee_id
        LEFT JOIN am_archive c ON c.employment_id = b.employment_id
        LEFT JOIN am_emp_custom h on h.emp_task_id = b.emp_task_id
        LEFT JOIN am_company_set cs on cs.company_id = a.company_id
        WHERE
        a.task_category = '2'
        and
        a.employee_id is not null
        and
        a.company_id  is not null
        <if test="taskStatus!=null">
            and a.task_status not in ('99','98','1','2','3','4','5')
        </if>
        <if test="job!=null">
            and a.job = #{job}
        </if>
        <foreach collection="param" item="plid" open="" close="" separator="">
            and  ${plid}
        </foreach>
        order by a.created_time desc
    </select>

    <select id="taskCount"  resultMap="BaseResultMapDTO">
        SELECT
        t.task_status,
        COUNT(t.task_status) AS count
        FROM
        (
        SELECT
        DISTINCT
        a.emp_task_id,
        a.employee_id,
        a.company_id,
        a.change_company,
        a.employ_code,
        a.task_status,
        f.employment_id,
        b.employ_property,
        b.employ_date,
        b.handle_type,
        f.resign_date,
        f.resign_feedback,
        a.out_reason,
        a.out_date,
        a.job,
        f.job_centre_feedback_date,
        d.employee_name,
        d.id_num,
        d.id_card_type,
        c.doc_num,
        c.yuliu_doc_num,
        c.archive_place,
        c.storage_out_date,
        c.employ_feedback,
        c.luyong_handle_end,
        sal.title,
        h.service_center,
        h.leader_ship_name,
        cs.refuse_special
        FROM
        am_emp_task a
        LEFT JOIN am_resign f  ON f.emp_task_id = a.emp_task_id
        LEFT JOIN am_employment b  ON  b.employment_id = f.employment_id
        LEFT JOIN emp_employee d ON a.employee_id = d.employee_id
        LEFT JOIN am_archive c ON c.employment_id = b.employment_id
        LEFT JOIN sal_company sal ON a.company_id = sal.company_id
        LEFT JOIN am_emp_custom h on h.emp_task_id = b.emp_task_id
        LEFT JOIN am_emp_employee  e on e.emp_task_id = b.emp_task_id
        LEFT JOIN am_company_set cs on cs.company_id = a.company_id
        WHERE
        a.task_category = '2'
        and
        a.employee_id is not null
        and
        a.company_id  is not null
        <if test="job!=null">
            and a.job = #{job}
        </if>
        <foreach collection="param" item="plid" open="" close="" separator="">
            and  ${plid}
        </foreach>
        )  t
        GROUP BY
        t.task_status
    </select>

    <select id="queryAmResignDetail" resultMap="BaseResultMapDTO" >
        SELECT
        a.employment_id,
        a.company_id,
        a.employee_id,
        a.employ_date,
        a.open_af_date,
        a.handle_type,
        b.storage_date,
        b.yuliu_doc_num,
        b.doc_num,
        b.archive_place,
        b.archive_place_additional,
        b.archive_card_state,
        b.doc_code,
        b.diaodang_feedback,
        b.employ_feedback,
        b.employ_doc_payment_to,
        t.out_reason,
        t.out_date,
        c.*
        from am_resign c
        LEFT JOIN  am_employment a on c.employment_id = a.employment_id
        LEFT JOIN  am_archive b on a.employment_id = b.employment_id
        LEFT JOIN  am_emp_task t on  t.emp_task_id = c.emp_task_id
        where
        c.emp_task_id = #{empTaskResignId}

    </select>

    <select id="queryAmResignList" resultMap="RM_resignSearchExportOpt">
        SELECT
        a.emp_task_id,
        a.employee_id,
        a.company_id,
        a.employ_code,
        a.change_company,
        f.employment_id,
        b.employ_property,
        b.employ_date,
        b.handle_type,
        f.resign_date,
        f.resign_feedback,
        a.out_reason,
        a.out_date,
        f.job_centre_feedback_date,
        d.employee_id,
        d.employee_name,
        d.id_num,
        d.id_card_type,
        c.doc_num,
        c.yuliu_doc_num,
        c.archive_place,
        c.storage_out_date,
        c.employ_feedback,
        c.luyong_handle_end,
        h.title,
        h.service_center,
        h.leader_ship_name,
        cs.refuse_special
        FROM
        am_emp_task a
        LEFT JOIN am_resign f  ON f.emp_task_id = a.emp_task_id
        LEFT JOIN am_employment b  ON  b.employment_id = f.employment_id
        LEFT JOIN emp_employee d ON a.employee_id = d.employee_id
        LEFT JOIN am_archive c ON c.employment_id = b.employment_id
        LEFT JOIN am_emp_custom h on h.emp_task_id = b.emp_task_id
        LEFT JOIN am_company_set cs on cs.company_id = a.company_id
        WHERE
        a.task_category = '2'
        and
        a.employee_id is not null
        and
        a.company_id  is not null
        <if test="taskStatus!=null">
            and a.task_status = ${taskStatus}
        </if>
        <foreach collection="param" item="plid" open="" close="" separator="">
            and  ${plid}
        </foreach>

    </select>

    <select id="queryResignIds" resultMap="BaseResultMapDTO">
        SELECT
        a.emp_task_id,
        a.employee_id,
        a.company_id,
        a.is_finish,
        b.resign_id
        FROM
        am_emp_task a
        LEFT JOIN am_resign b ON a.emp_task_id = b.emp_task_id
        <where>
            <foreach collection="empTaskIds" item="item" open="a.emp_task_id IN (" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>
    <select id="jobCount"  resultMap="BaseResultMapDTO">
        SELECT
        COUNT(t.job) as count
        FROM
        (
        SELECT
        DISTINCT
        a.emp_task_id,
        a.employee_id,
        a.company_id,
        a.change_company,
        a.employ_code,
        f.employment_id,
        b.employ_property,
        b.employ_date,
        b.handle_type,
        f.resign_date,
        f.resign_feedback,
        a.out_reason,
        a.out_date,
        a.job,
        f.job_centre_feedback_date,
        d.employee_name,
        d.id_num,
        d.id_card_type,
        c.doc_num,
        c.yuliu_doc_num,
        c.archive_place,
        c.storage_out_date,
        c.employ_feedback,
        c.luyong_handle_end,
        sal.title,
        h.service_center,
        h.leader_ship_name,
        cs.refuse_special
        FROM
        am_emp_task a
        LEFT JOIN am_resign f  ON f.emp_task_id = a.emp_task_id
        LEFT JOIN am_employment b  ON  b.employment_id = f.employment_id
        LEFT JOIN emp_employee d ON a.employee_id = d.employee_id
        LEFT JOIN am_archive c ON c.employment_id = b.employment_id
        LEFT JOIN sal_company sal ON a.company_id = sal.company_id
        LEFT JOIN am_emp_custom h on h.emp_task_id = b.emp_task_id
        LEFT JOIN am_emp_employee  e on e.emp_task_id = b.emp_task_id
        LEFT JOIN am_company_set cs on cs.company_id = a.company_id
        WHERE
        a.task_category = '2'
        and
        a.employee_id is not null
        and
        a.company_id  is not null
        <if test="job!=null">
            and a.job = #{job}
        </if>
        <foreach collection="param" item="plid" open="" close="" separator="">
            and  ${plid}
        </foreach>
        )  t
    </select>

</mapper>
