<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.afsupportcenter.employmanagement.employservice.dao.AmRemarkMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ciicsh.gto.afsupportcenter.employmanagement.employservice.entity.AmRemark">
		<id column="remark_id" property="remarkId" />
		<result column="remark_content" property="remarkContent" />
		<result column="remark_type" property="remarkType" />
		<result column="remark_man" property="remarkMan" />
		<result column="remark_date" property="remarkDate" />
		<result column="is_active" property="isActive" />
		<result column="created_time" property="createdTime" />
		<result column="modified_time" property="modifiedTime" />
		<result column="created_by" property="createdBy" />
		<result column="modified_by" property="modifiedBy" />
        <result column="emp_task_id" property="empTaskId" />
	</resultMap>

    <resultMap id="BaseResultMapDTO" extends="BaseResultMap"
               type="com.ciicsh.gto.afsupportcenter.employmanagement.employservice.bo.AmRemarkBO">
    </resultMap>

    <resultMap id="BaseResultMapRemarkDTO" type="com.ciicsh.gto.afsupportcenter.employmanagement.employservice.api.dto.RemarkDTO">
    </resultMap>

    <select id="queryAmRemark" resultMap="BaseResultMapDTO">
        SELECT
        remark_id,remark_content,remark_type,remark_man,remark_date
        FROM
        am_remark
        WHERE
        emp_task_id = #{empTaskId}
        and remark_type = #{remarkType}
        and  is_active = 1
        order by created_time desc
    </select>

    <update id="deleteAmRemark">
        update  am_remark set is_active = 0 where  remark_id = #{remarkId}
    </update>

    <select id="queryRemarkList" resultMap="BaseResultMapRemarkDTO">
        SELECT
        b.remark_content,b.remark_man,b.remark_date
        FROM
        am_emp_task a LEFT JOIN
        am_remark b on a.emp_task_id = b.emp_task_id
        WHERE
        a.emp_task_id = #{taskId}
        and b.remark_type = #{remarkType}
        and  b.is_active = 1
        order by b.created_time desc
    </select>

    <select id="queryResignRemarkList" resultMap="BaseResultMapRemarkDTO">
        SELECT
        f.remark_content,f.remark_man,f.remark_date
        from am_emp_task b
        LEFT JOIN  am_resign r on b.emp_task_id = r.emp_task_id
        LEFT JOIN  am_employment e on e.employment_id = r.employment_id
        LEFT JOIN  am_remark f on e.emp_task_id = f.emp_task_id
        where
        b.task_category = '2'
        and b.task_id = #{taskId}
        and f.remark_type = 2
        and  f.is_active = 1
        order by
        f.created_time desc
    </select>

</mapper>
